// Colors
// ------

$default-hue      : #839496;

$blue             : hsl(195, 85%, 62%);
$orange           : hsl(24, 100%, 62%);
$yellow           : hsl(45, 85%, 62%);
$green            : hsl(75, 65%, 62%);
$pink             : hsl(330, 85%, 62%);
$red              : hsl(0, 85%, 62%);

@include set(colors, (
  blue: $blue,
  orange: $orange,
  pink: $pink,
));


// Keywords
// --------

@include set(color-keywords, (
  lightest: 90%,
  lighter: 50%,
  light: 20%,
  dark: -5%,
  darker: -35%,
  darkest: -65%,
));


// Guide
// -----

$base         : color(darker);
$alt          : color(dark $blue);
$accent       : color($orange);

$bg           : color($blue 95%);
$lowlight     : color(lighter);

$info         : $alt;
$success      : $green;
$warning      : $red;
$error        : $red;

$contrasted-dark-default  : color(darkest)      !default;
$contrasted-light-default : color(lightest)     !default;
