// Fonts
// =====

@include set(fonts, (
  serif: (
    name: BaskervilleFS,
    type: serif,
    path: 'serif/baskerville-%s%s-webfont',
    styles: (regular, italic, bold, bold italic),
    stack: (Baskerville, Palatino, Cambria, Georgia),
  ),

  sans: (
    name: SourceSansPro,
    type: sans-serif,
    path: 'sans/sourcesanspro-%s%s-webfont',
    styles: (regular, italic, bold, bold italic),
    stack: ('Helvetica Neue', Helvetica, Arial),
  ),

  mono: (
    name: SourceCodePro,
    type: monospace,
    path: 'code/sourcecodepro-%s%s-webfont',
    styles: (regular, bold),
    stack: (Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New'),
  ),

  oddsite: (
    files: (normal: 'icons/oddsite'),
  )
));
