// Icons
// =====

@include set(icons, (
  close: "\e606",
  circle: "\e607",
  books: "\e04a",
  clock: "\e0b0",
  user: "\e118",
  edit: "\e009",
  delete: "\e193",
  help: "\e600",
  login: "\e601",
  logout: "\e602",
  tag: "\e078",
  check: "\e603",
  x: "\e604",
  plus: "\e605",
  up: "\e296",
  right: "\e297",
  down: "\e298",
  left: "\e299",
  info: "\e24e",
  warning: "\e243",
  menu: "\e1c9",
));
