// Scale
// =====

@include set(ratio, major-third);

@include set(scale, (
  xxxlarge  : 8,
  xxlarge   : 6,
  xlarge    : 4,
  large     : 2,
  medium    : 1,
  normal    : 0,
  small     : -.5,
  xsmall    : -1,
  xxsmall   : -2,
  xxxsmall  : -3,
));


// Text & Units
// ------------

$base-font-size: 21px;
$base-line-height: size(large);

$rhythm-unit: rem;
$rem-with-px-fallback: false;

$relative-font-sizing: true;
$round-to-nearest-half-line: true;
