// Base
// ====

@include fonts;
@include establish-baseline;
@include icon-placeholder;
@include data-icons;


// HTML
// ----

html {
  @extend %sans;
  background: color(back);
  color: color(text);
}


// Elements
// --------

a {
  #{$link} { @extend %link; }
  #{$focus} { @extend %link-focus; }
}


// Helpers
// -------

.is-hidden {
  @extend %is-hidden;
}

pre,
code {
  @extend %mono;
}

.amp {
  @extend %serif;
  font-style: italic;
}

.btn {
  @extend %button;
}
