// Imports -------------------------------------------------------------------

@import defaults/defaults


// Layout --------------------------------------------------------------------

[role="banner"]
  +padding-leader(1.25)
  position: relative

  h2
    +trailer(.25)
    text-align: center

  .intro
    +adjust-font-size-to($halfmedpx,1.25)
    +rhythm(.5,1,1,0,$halfmedpx)
    +full
    +italic
    position: relative
    &::before
      +stretch-y
      +background-image(linear-gradient(left,rgba($blue-hint,$small),rgba($blue-hint,$small/2),rgba($blue-hint,0)))
      left: -600%
      right: -600%
      content: " "
      z-index: -1

[role="main"]
  +padding-trailer
  h2, h3
    +gone
  > section
    +full

#logo
  #{$link}
    +replace-text('logo_d.png')
    display: block
    min-height: rhythm(4)

footer[role="contentinfo"]
  +container
  +leading-border(2px,1)
  +background-image(linear-gradient(top,rgba($orange-light,$xsmall),rgba($orange-light,0)))
  +box-shadow(rgba($blue-hint,$small) 0 0 rhythm())
  overflow: hidden
  background-color: rgba($orange-light,$xsmall)
  border-color: $blue-hint

  .colophon, .copyright
    +full
    color: $orange-darker
  .colophon
    +italic
    +trailer
    a
      #{$link}
        @extend .smallcaps
        text-transform: lowercase
        font-style: normal
        font-weight: bold
  .copyright
    +adjust-font-size-to($halfsmallpx)
    +sanscond
    text-transform: uppercase
  .fn.org
    font: inherit

// sections ------------------------------------------------------------------

.openingline
  &:first-letter
    +adjust-font-size-to($xlargepx,2)
    +float(left)
    padding-right: .05em
  &:first-line
    @extend .smallcaps

#work
  +section(rgba($orange-lighter,$xxsmall))
  +padding-leader(6)
  +padding-trailer(.5)
  background: image-url('projects/susy.png') no-repeat scroll top
  .internal
    @extend .openingline

#people
  +padding-leader(7)
  background: image-url('faces/all.png') no-repeat scroll center rhythm(.5)
  .fn
    @extend .smallcaps

#bird
  @extend .openingline
  .fn
    @extend .allcaps

#process
  +section(rgba($blue-hint,$xsmall))
  +rhythm(0,1,.5,1)
  counter-reset: process
  strong
    +allcaps
    font-weight: normal

  p
    position: relative
    counter-increment: process
    padding-left: rhythm(2)
    &::before
      +opacity(.5)
      +adjust-font-size-to($largepx,1.5)
      +border-radius($xxlargeem)
      +float(left)
      content: counter(process,decimal)
      position: absolute
      top: rhythm(.125,$largepx)
      left: 0
      height: rhythm(1.5,$largepx)
      width: rhythm(1.5,$largepx)
      border: 1px solid
      text-align: center
      z-index: -1
    &:hover
      &::before
        +opacity(1)

#contact
  +padding-leader
  +padding-trailer
  ul
    +no-style-list
    +clearfix
  .oddbird
    +adjust-font-size-to($medpx)
  .twitter
    +columns(2,6)
    @extend .smallcaps
    &:last-child
      +omega(6)




