// Imports -------------------------------------------------------------------

@import defaults/defaults


// Layout --------------------------------------------------------------------

#logo
  #{$link}
    +replace-text('logo_d.png')
    display: block
    min-height: rhythm(4)

    +media-small
      +columns(4)
      +alpha

[role="banner"]
  +padding-leader(1.25)
  position: relative

  hgroup
    +media-tiny
      +full
      +trailer
      text-align: center

  h2
    +adjust-font-size-to($halfsmallpx)
    +media-small
      +columns(8)
      +omega
      +adjust-font-size-to($medpx,1.5)

  .intro
    +italic
    position: relative

    +media-tiny
      +full
      +adjust-font-size-to($halfmedpx,1.25)
      +rhythm(.5,1,1,0,$halfmedpx)
      &::before
        +stretch-y
        +background-image(linear-gradient(left,rgba($blue-hint,$small),rgba($blue-hint,$small/2),rgba($blue-hint,0)))
        left: -600%
        right: -600%
        content: " "
        z-index: -1

    +media-small
      +columns(8)
      +omega
      +adjust-font-size-to($medpx,1.5)
      +trailer(1,$medpx)


[role="main"]
  +padding-trailer
  h2, h3
    +gone
  > section
    +media-tiny
      +full
    +media-small
      +full

footer[role="contentinfo"]
  +leading-border(2px,1)
  +padding-trailer(3)
  +background-image(linear-gradient(top,rgba($orange-light,$xsmall),rgba($orange-light,0)))
  +box-shadow(rgba($blue-hint,$small) 0 0 rhythm())
  overflow: hidden
  background-color: rgba($orange-light,$xsmall)
  border-color: $blue-hint

  .colophon, .copyright
    color: $orange-darker
    +media-tiny
      +full

  .colophon
    +italic
    +trailer
    +media-small
      +columns(8)
      +omega
    a
      #{$link}
        @extend .smallcaps
        text-transform: lowercase
        font-style: normal
        font-weight: bold

  .copyright
    +adjust-font-size-to($halfsmallpx)
    +sanscond
    text-transform: uppercase
    +media-small
      +columns(4)
      +alpha
  .fn.org
    font: inherit

// sections ------------------------------------------------------------------

.openingline
  &:first-letter
    +adjust-font-size-to($xlargepx,2)
    +float(left)
    padding-right: .05em
  &:first-line
    @extend .smallcaps

#work
  +section(rgba($orange-lighter,$xxsmall))
  +padding-leader(6)
  +padding-trailer(.5)
  background: image-url('projects/susy.png') no-repeat scroll top
  .internal
    @extend .openingline

  +media-small
    +padding-trailer(1)
    div
      +clearfix
    p
      +columns(4)
      &:first-child
        +prefix(2)
        +alpha
      &:last-child
        +suffix(2)
        +omega

#people
  +padding-leader(7)
  background: image-url('faces/all.png') no-repeat scroll center rhythm(.5)
  .fn
    @extend .smallcaps

  +media-small
    +padding-trailer(1)

#bird
  @extend .openingline
  .fn
    @extend .allcaps

  +media-small
    +full
    +pad(3,3)

    ~ .hcard
      +columns(4)
      &:first-child
        +alpha
      &:last-child
        +omega
      .fn
        +bold

#process
  +section(rgba($blue-hint,$xsmall))
  +rhythm(0,1,.5,1)
  counter-reset: process
  strong
    +allcaps
    font-weight: normal

  p
    position: relative
    counter-increment: process
    padding-left: rhythm(2)
    &::before
      +opacity(.5)
      +adjust-font-size-to($largepx,1.5)
      +border-radius($xxlargeem)
      +float(left)
      content: counter(process,decimal)
      position: absolute
      top: rhythm(.125,$largepx)
      left: 0
      height: rhythm(1.5,$largepx)
      width: rhythm(1.5,$largepx)
      border: 1px solid
      text-align: center
      z-index: -1
    &:hover
      &::before
        +opacity(1)

  +media-small
    +padding-leader(1.5)
    p
      +prefix(1,12)
      +squish(2,2,12)

#contact
  +padding-leader
  +padding-trailer
  ul
    +no-style-list
    +clearfix
    text-align: center

  +media-tiny
    .oddbird
      +adjust-font-size-to($medpx)
    .twitter
      +columns(2,6)
      &:last-child
        +omega(6)

  +media-small
    .oddbird
      +adjust-font-size-to($largepx)
    .twitter
      +adjust-font-size-to($halfmedpx)
      +columns(4,12)
      &:last-child
        +omega(12)



