{% import 'utility.macros.j2' as utility %}
{% import 'projects/macros.j2' as work %}


<section data-module="project-history" {{ utility.attr_if('id', module.id) }}>
  <h2>
    {{ module.title or 'Project History'}}
  </h2>

  {% set valid_projects = config[module.data] %}
  {% set projects = valid_projects|selectattr('priority', 'equalto', module.priority) if module.priority else valid_projects %}

  {% for project in projects %}
    {{ work.list(
      project=project,
      named_states=config.project_status[0]
      ) }}
  {% endfor %}
</section>
