{% import 'utility.macros.j2' as utility %}

{% macro list(project) %}
<article>
  <h3>
    {{ utility.link_if(project.name, project.url) }}
  </h3>

  {% if project.client %}
    <h4>
      {{ utility.link_if(project.client.name, project.client.url) }}
    </h4>
  {% endif %}

  <p>{{ project.description }}</p>
</article>
{% endmacro %}

<section data-module="project-history" {{ utility.attr_if('id', module.id) }}>
  <h2>
    {{ module.title or 'Project History'}}
  </h2>

  {% for project in config[module.data]|selectattr('description') %}
    {{ list(project) }}
  {% endfor %}
</section>
