<section class='process'>

  {% if module.title %}
    <h2>{{ module.title }}</h2>
  {% endif %}

  <ol>
    {% for feature in config.process %}
      <li>
        <h3>{{ feature.title|safe }}</h3>
        <p>{{ feature.body|safe }}</p>
      </li>
    {% endfor %}
  </ol>
</section>
