{% import 'utility.macros.j2' as utility %}

<section class="services">

  {% for group in config.services %}
    <div class="service-group">
      {% if group.title %}
        <h2>{{ group.title }}</h2>
      {% endif %}

      <ul class="dashed">
        {% for item in group.data %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

</section>
