{% import 'utility.macros.j2' as utility %}

<section data-module="services">
{% for group in config.services %}
  <div>
    <h2>
      {{ group.title}}
    </h2>
    <ul>
      {% for item in group.data %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
</section>
