{% import 'content.macros.j2' as content %}


{% macro description(slug=none, page=none) %}
  {% set page = page if (page != none) else all_pages|filter_pages('slug', 'eq', slug)|get_page %}
  {% set project = page.config.project[0] %}
  {% set client = page.config.client[0] %}

  <section class="intro-block">
    <div class="intro">
      {{ page.render_summary() }}

      <div class="project-tasks">
        <h3 class="list-title">Our Tasks</h3>

        <ul class="simple">
          {% for task in page.config.tasks %}
            <li>{{ task }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endmacro %}


{% macro front_matter(slug, quote_index=0) %}
  {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}
  {% set quote = page.config.quotes[quote_index] %}

  {{ description(page=page) }}
  {{ content.blockquote(quote.text, quote.name, quote.url, quote.role) }}
{% endmacro %}
