{% import 'utility.macros.j2' as utility %}
{% import 'birds/utility.macros.j2' as birds %}
{% import 'content.macros.j2' as content %}
{% import 'layout/macros.j2' as layout %}


{% macro list(project, named_states=[]) %}
<article>
  <h3>
    {{ utility.link_if(project.name, project.url) }}
    {% if project.source %}
      ({{ utility.link_if('source code', project.source) }})
    {% endif %}
  </h3>

  {% if project.tagline %}
    <h4>{{ project.tagline }}</h4>
  {% endif %}

  {% if project.client %}
    {{ for(project.client, project.years) }}
  {% else %}
    {{ who(project.who) }}
  {% endif %}

  {% if project.description or project.status %}
    <p>
      {{ project.description }}

      {% if project.status %}
        <em>{{ named_states[project.status] or project.status }}</em>
      {% endif %}
    </p>
  {% endif %}
</article>
{% endmacro %}


{% macro feature(page) %}
  {% set client = page.config.client[0] if page.config.client else null %}
  {% set contributors = page.config.contributors if page.config.contributors else null %}
  {% set project = page.config.project[0] %}
  {% set link = ['/', page.slug, '/']|join('') if project.owner or project.case_study %}
  {% set link = link if project.case_study else (project.url or link or project.source) %}

  <article data-module='project-feature'>
    <h2 class="project-title">
      <div class="project-name">
        {{ utility.link_if(project.name, link) }}
      </div>
      {% if project.tagline %}
        <div class="project-tagline">{{ project.tagline }}</div>
      {% endif %}
    </h2>

    {% if client %}
      {{ for(client, project.years) }}
    {% elif contributors %}
      {{ who(contributors) }}
    {% endif %}

    {{ layout.header_image(page, class='extend-small') }}

    {% if page.summary %}
      <div>
        {{ page.render_summary() }}

        {% if project.case_study %}
          {% call content.link_button(link) %}
            Read our case study
          {% endcall %}
        {% endif %}
        {% if project.url or project.owner %}
          {% call content.link_button(project.url or ['/', page.slug, '/']|join('')) %}
            View the site
          {% endcall %}
        {% endif %}
        {% if project.source %}
          {% call content.link_button(project.source) %}
            Source code
          {% endcall %}
        {% endif %}
      </div>
    {% endif %}

    {% for quote in page.config.quotes %}
      {{ content.blockquote(quote.text, quote.name, quote.url, quote.role) }}
    {% endfor %}
  </article>
{% endmacro %}


{% macro for(client, years) %}
  <div class="meta">
    <p class="byline">
      <span class="meta-preposition">for</span>
      {{ utility.link_if(client.name, client.url) }}
      {% if years %}
        <span class="meta-preposition">in</span>
        {{ years }}
      {% endif %}
    </p>
  </div>
{% endmacro %}


{% macro who(contributors) %}
  {% if contributors %}
    <div class="meta">
      <p class="byline">
        <span class="meta-preposition">by</span>
        {% for contributor in contributors %}
          {% if loop.last and not loop.first %}
            <span class="meta-preposition">and</span>
          {% endif %}
          {% set page = all_pages|filter_pages('bird', 'eq', contributor.author)|get_page %}
          {{ birds.name_link(
            author=contributor.author,
            page=page
          ) }}
          [{{ contributor.role }}]{{ ',' if not loop.last }}
        {% endfor %}
      </p>
    </div>
  {% endif %}
{% endmacro %}
