{% import 'utility.macros.j2' as utility %}
{% import 'birds/utility.macros.j2' as birds %}


{% macro splash_list(has='client', headline=none, slugs=none) %}
  <section class='splash-projects extend-full'>
    {% if headline %}
      <h2 class="splash-headline">
        {{ headline }}
      </h2>
    {% endif %}

    {% if slugs %}
      {% for slug in slugs %}
        {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}
        {{ splash(page) }}
      {% endfor %}
    {% else %}
      {% set pages = all_pages|filter_pages(has) %}
      {% set pages = pages|filter_pages('public', 'neq', false) %}
      {% set pages = pages|filter_pages('brag') %}

      {% for page in pages %}
        {{ splash(page) }}
      {% endfor %}
    {% endif %}
  </section>
{% endmacro %}


{% macro splash(page) %}
  {% set project = page.config.project[0] %}
  {% set client = page.config.client[0] if page.config.client else none %}
  {% set contrib = page.config.contributors[0] if page.config.contributors else none %}

  {% set url = ('/' + page.slug|replace('/index', '') + '/') %}
  {% set type = '/open-source/' if contrib else '/work/' %}
  {% set link = url if (project.owner or project.case_study) else type %}

  <article class="splash-project">
    <a href="{{ link }}" class="splash-logo">
      {% include 'projects/_%s.svg' % (page.config.logo or 'mozilla') %}
    </a>

    <div class="splash-brag">
      {{ page.config.brag|rst }}
    </div>
  </article>
{% endmacro %}
