{% import 'utility.macros.j2' as utility %}
{% import 'birds/utility.macros.j2' as birds %}
{% import 'content.macros.j2' as content %}


{% macro splash_list(
  has='client',
  headline=none,
  url=none,
  slugs=none
) %}
  <section class="splash-projects">
    {{ content.divider(
      title=headline,
      url=url
    ) }}
    <div class='splash-section extend-full'>
      {% if slugs %}
        {% for slug in slugs %}
          {% set page = slug|get_config %}
          {{ splash(page) }}
        {% endfor %}
      {% else %}
        {% set pages = all_pages|filter_pages(has) %}
        {% set pages = pages|filter_pages('public', 'neq', false) %}
        {% set pages = pages|filter_pages('brag') %}

        {% for page in pages %}
          {{ splash(page) }}
        {% endfor %}
      {% endif %}
    </div>
  </section>
{% endmacro %}


{% macro splash(page) %}
  {% set project = page.config.project[0] %}

  <article class="splash-project">
    <a href="{{ content.project_link(page) }}" class="splash-logo">
      {% include 'projects/logos/_%s.svg' % page.config.logo %}
    </a>

    <div class="splash-brag">
      {# Use subheads when tagline is too long or less specific #}
      {% if project.subhead %}
        <h3 class="splash-title">{{ project.subhead }}</h3>
      {# When showing client splash, use industry #}
      {% elif project.industry %}
        <h3 class="splash-title">{{ project.industry }}</h3>
      {# Fall back to tagline if one exists #}
      {% elif project.tagline %}
        <h3 class="splash-title">{{ project.tagline }}</h3>
      {% endif %}
      {{ page.config.brag|rst }}
    </div>
  </article>
{% endmacro %}
