{% import 'utility.macros.j2' as utility %}
{% import 'birds/utility.macros.j2' as birds %}


{% macro splash_list(has='client', slugs=none) %}
  <section class='splash-projects extend-full'>
    {% if slugs %}
      {% for slug in slugs %}
        {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}
        {{ splash(page) }}
      {% endfor %}
    {% else %}
      {% set pages = all_pages|filter_pages(has)|filter_pages('public', 'neq', false) %}

        {% for page in pages %}
          {{ splash(page) }}
        {% endfor %}
    {% endif %}
  </section>
{% endmacro %}


{% macro splash(page) %}
  {% set project = page.config.project[0] %}
  {% set client = page.config.client[0] if page.config.client else none %}
  {% set contrib = page.config.contributors[0] if page.config.contributors else none %}

  {% set slug = ['/', page.slug[:-6] if page.slug.endswith('/index') else page.slug, '/']|join %}
  {% set link = slug if (project.owner or project.case_study) else '/work/' %}
  {% set link = '/open-source/' if (contrib and link == '/work/') else link %}

  {% set images = page.config.image or none %}

  {% if images %}
    {% set splash = images|selectattr('type', 'equalto', 'splash')|list or none %}
    {% set image = splash[0].src if splash else images[0].src %}
    {% set image = image if '://' in image else ['/static/images/', image]|join('') %}

    <a href="{{ link }}" class="splash-project">
      <div class="splash-image" style="background-image: url('{{ image }}');"></div>

      <h2 class="splash-client">
        {{ client.name if client else project.name }}
      </h2>

      <h3 class="splash-title">
        {{ project.name if client else [birds.get_bird_name(contrib.author), contrib.role]|join(', ') }}
      </h3>
    </a>
  {% endif %}
{% endmacro %}
