// ----------------------------------------------------------------------------
// Banner

$logo         : 'logo_d.png';
$logo-rhythm  : floor(image-height($logo)/$base-font-size);

[role="banner"] {
  @include bleed;
  @include background-image(linear-gradient(top, rgba($blue-dark,.125), rgba($blue-dark,0)));
  [rel="home"] {
    @include replace-text($logo);
    @include transition(all 300ms);
    @include rem(min-height, rhythm($logo-rhythm));
    max-width: image-width($logo) + $largepx;
    display: block;
    margin: 0 auto;
    background-position: center;
  }
}
