// Banner
// ======

[role="banner"] {
  @include padding-leader(.5);
  background: color(darker $alt);
  text-align: center;

  [rel="home"] {
    @include trailer(-1.25);
    @include replace-text('logo.svg');
    @include background-size(contain);
    @include transition(all 150ms ease-in-out);
    @include transform-origin(top, center);
    display: inline-block;
    min-width: rhythm(10);
    min-height: rhythm(4);

    #{$focus} {
      @include scale3d(1.1, 1.1, 1.1);
    }
  }
}


[role="main"] {
  @extend %type;
  @include container(40em);
}
