// ----------------------------------------------------------------------------
// Contentinfo

[role="contentinfo"] {
  @include clearfix;
  @include sanscond;
  @include rhythm(0,1,1,0);
  @include darker-block;
  clear: both;

  @include breakpoint($break) {
    .archive, .colophon {
      @include span-columns(7 omega);
    }
    .contact, .copyright {
      @include span-columns(5);
    }
    .colophon {
      clear: left;
    }
  }
}

.archive, .contact, .colophon { @include trailer; }

.foottitle {
  @extend %padded-icon;
  font-weight: 500;

  a {
    #{$link} { color: $orange-darker; }
    #{$focus} { color: $pink-dark; }
  }

  .archive & { @extend %icon-chat; }
  .contact & { @extend %icon-email; }
}

.archive {
  [href*="/20"] {
    @extend %padded-icon;
    @extend %icon-bookmark;
    &:before { @include adjust-font-size-to($smallpx); }
  }
}

.contact {
  [href*="twitter"] {
    @extend %padded-icon;
    @extend %icon-twitter;
    &:before { @include adjust-font-size-to($smallpx); }
  }
}

.copyright, .colophon {
  @include adjust-font-size-to($smallpx);
  text-transform: uppercase;
  letter-spacing: .04em;
}
