// ----------------------------------------------------------------------------
// Contentinfo

%footer-icon {
  @extend %padded-icon;
  &:before { @include adjust-font-size-to($smallpx); }
}

[role="contentinfo"] {
  @include clearfix;
  @include sanscond;
  @include rhythm(0,1,1,0);
  @include darker-block;
  clear: both;

  [href*="twitter"] {
    @extend %footer-icon;
    @extend %icon-twitter;
  }

  [rel="bookmark"] {
    @extend %footer-icon;
    @extend %icon-bookmark;
  }
}

.foottitle {
  @extend %padded-icon;
  font-weight: bold;

  a {
    #{$link} { color: $orange-darker; }
    #{$focus} { color: $pink-dark; }
  }

  .listarchive & { @extend %icon-chat; }
  .contact & { @extend %icon-envelope; }
}

.listarchive, .contact, .colophon { @include trailer; }

.copyright, .colophon {
  @include adjust-font-size-to($smallpx);
  text-transform: uppercase;
  letter-spacing: .04em;
}

@include breakpoint($break) {
  .listarchive, .colophon { @include span-columns(7 omega); }
  .contact, .copyright { @include span-columns(5); }
  .colophon { clear: left; }
}
