// ----------------------------------------------------------------------------
// Nav

$nav-columns: $total-columns/2 - 1;
$nav-rhythm: $logo-rhythm/2;
$activenav: $blue-darker;

%activenav { color: $activenav; }

[role="navigation"] {
  @include stretch-x;
  @include rem(top, rhythm($nav-rhythm));
  height: 0;

  li {
    @include span-columns($nav-columns omega);
    text-transform: capitalize;
    &:first-child {
      float: left;
      text-align: right;
    }
  }

  a {
    @extend %padded-icon;
    @include transition(all 300ms);
    @include rem(padding, rhythm(.25) rhythm(.5));
    display: block;
    border-radius: .25em;
    @include breakpoint($break) { background: rgba($activenav,.125); }
  }
  [rel="home"] {
    @extend %icon-home;
    @include bleed($grid-padding*2, left);
    .home & { @extend %activenav; }

    @include breakpoint($break) { #{$focus} { @include translateX($grid-padding); } }
  }
  [href*="blog"] {
    @extend %icon-chat;
    @include bleed($grid-padding*2, right);
    .blog & { @extend %activenav; }

    @include breakpoint($break) { #{$focus} { @include translateX(- $grid-padding); } }
  }
}
