// ----------------------------------------------------------------------------
// Nav

$activenav: $blue-darker;

[role="navigation"] {
  @include rhythm(0,.25,.25,0);
  @include clearfix;
  @include darker-block;

  li {
    @include span-columns($total-columns/2);
    @include nth-omega(even);
    text-transform: capitalize;
    &:first-child { text-align: left; }
    &:last-child { text-align: right; }
  }

  a {
    @extend %padded-icon;
    display: block;
  }
  [rel="home"] {
    @extend %icon-home;
    .home & { color: $activenav; }
  }
  [href*="blog"] {
    @extend %icon-chat;
    .blog & { color: $activenav; }
  }

  @include at-breakpoint($break) {
    @include stretch-x;
    top: 0;
    margin: 0;
    padding: 0 $grid-padding;
    background: transparent;
    text-align: right;
    li {
      @include reset-columns;
      display: inline-block;
    }
    a { padding: rhythm(.25) rhythm(1); }
    .home & [rel="home"], .blog & [href*="blog"] {
      @include border-bottom-radius;
      background: rgba($blue-darkest,.125);
    }
  }
}
