// ----------------------------------------------------------------------------
// Nav

$activenav: $blue-darker;

[role="navigation"] {
  @include rhythm(1,.25,.25,1);
  @include darker-block;
  @include border-radius;

  a {
    #{$link} {
      @extend %padded-icon;
      margin-right: rhythm(1);
    }
  }
  [rel="home"] {
    @extend %icon-home;
    .home & { color: $activenav; }
  }
  [href*="blog"] {
    @extend %icon-chat;
    .blog & { color: $activenav; }
  }
  [href*="carl"] {
    @extend %icon-cog;
    .carl & { color: $activenav; }
  }
  [href*="eric"] {
    @extend %icon-brush;
    .eric & { color: $activenav; }
  }
  [href*="jonny"] {
    @extend %icon-swipe;
    .jonny & { color: $activenav; }
  }

  ul {
    @include inline-block-list;
    display: inline;
    text-transform: capitalize;
  }

  .secondary { font-style: italic; }
}
