{
  "presets": [["es2015", { "modules": false }]],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", { "include": [
          "static/js/app/**/*.js",
          "static/js/pages/**/*.js"
        ] }]
      ]
    }
  }
}
