syntax: glob
content/static/assets/
content/static/assets.json
content/styleguide/
dev-output/
node_modules/
jscov/
jscache/
*.DS_Store
*~
*.pyc
.sass-cache/
output/
.livereload
*.orig
.cache/
node/
npm-debug.log
static/js/spammers.txt
.vscode/

# Node and Yarn packages:
requirements/yarn-*.tar.gz
requirements/node-*.tar.xz
