syntax: glob
content/static/assets/
content/static/assets.json
content/styleguide/
dev-output/
node_modules/
jscov/
*.DS_Store
*~
*.pyc
.sass-cache/
output/
.livereload
*.orig
.cache/
node/
npm-debug.log
