// 992 Grid ------------------------------------------------------------------
// (24*2em + 23*1em + 2em) = 73em = 1168px
// 48px + 16px x 24px

$total-cols         : 12
$col-width          : 5em
$gutter-width       : 1em
$side-gutter-width  : $gutter-width

/* Layout --------------------------------------------------------------------

.msection
  width: auto
  max-width: none
  background: none

.lsection
  +container
  +susy-grid-background

// Components ----------------------------------------------------------------

@import large/components

[role="banner"]
  @extend .lsection
  h1
    +columns(3)
    +alpha
  h2
    +reset-box-model
    +columns(6)
    +trailer(1,$largepx)
    clear: none
  h3
    +adjust-font-size-to($normpx)
    +columns(3)
    +omega
    +trailer(0)

#logo
  #{$link}
    height: rhythm(5,$xlargepx)

[role="main"]
  > section
    @extend .lsection
  h3
    +full
    +prefix(3)

[role="contentinfo"]
  @extend .lsection
  .colophon
    +columns(5)
    +omega
    text-align: right
  .author
    +columns(4)
    +prefix(3)
    +alpha
