// 768 Grid ------------------------------------------------------------------
// (12*4em + 11*1em + 2em) = 61em = 976px
// 64px + 16px x 24px

$total-cols         : 12
$col-width          : 4em
$gutter-width       : 1em
$side-gutter-width  : $gutter-width

/* Layout ------------------------------------------------------------------

.ssection
  width: auto
  max-width: none
  background: none

.msection
  +container
  +susy-grid-background

[role="banner"]
  @extend .msection
  h1
    +columns(3)
    +alpha
  h2
    +full
    +prefix(3)
  h3
    +columns(9)
    +omega
    +trailer(.5,$medpx)

#logo
  #{$link}
    height: rhythm(4,$xlargepx)

[role="main"]
  > section
    @extend .msection
  h3
    +full
    +prefix(3)

[role="contentinfo"]
  @extend .msection
  .author
    +columns(4)
    +prefix(3)
    +alpha
  .colophon
    +columns(5)
    +omega
    text-align: right

// Components ----------------------------------------------------------------

@import medium/defaults
@import medium/components
