// 768 Grid ------------------------------------------------------------------
// (12*4em + 11*1em + 2em) = 61em = 976px
// 64px + 16px x 24px

$total-cols         : 12
$col-width          : 4em
$gutter-width       : 1em
$side-gutter-width  : $gutter-width

/* Layout ------------------------------------------------------------------

body > div
  +container
  +susy-grid-background
  +hpadding(0)

[role="banner"]
  +columns(3)
  +alpha
  a
    #{$link}
      height: rhythm(4,$xlargepx)

[role="main"]
  margin: 0
  clear: none
  +columns(9)
  +omega

#colophon
  +full

[role="contentinfo"]
  +full

// Components ----------------------------------------------------------------

@import medium/defaults
@import medium/components
