// 1382 Grid -----------------------------------------------------------------
// (24*3em + 23*1em + 2em) = 97em = 1552px
// 48px + 16px x 24px

$total-cols         : 24
$col-width          : 3em
$gutter-width       : 1em
$side-gutter-width  : $gutter-width

/* Layout ------------------------------------------------------------------

.lsection
  width: auto
  max-width: none
  background: none

.xlsection
  +container
  +susy-grid-background

[role="banner"]
  @extend .xlsection
  h1
    +columns(6)
    +alpha
  h3
    +columns(6)
    +omega
  h2
    +columns(12)

#logo
  #{$link}
    height: rhythm(6,$xlargepx)
    background-image: image-url('logo_lg.png')

[role="main"]
  > section
    @extend .xlsection
  h3
    +full
    +prefix(6)

[role="contentinfo"]
  @extend .xlsection

// Components ----------------------------------------------------------------

@import xlarge/components
