// xsmall layout -------------------------------------------------------------

body
  padding: rhythm(1) 0

.xssection
  position: relative
  padding: 0 rhythm(1)

[role="banner"]
  @extend .xssection

#logo
  #{$link}
    +replace-text('logo.png')
    display: block
    height: rhythm(4,$largepx)

[role="main"]
  +trailer
  padding: rhythm(.5) 0
  > section
    @extend .xssection

footer[role="contentinfo"]
  @extend .xssection
  .colophon
    +italic
  .fn.org
    font: inherit

// components ----------------------------------------------------------------

@import xsmall/components