{% macro lorem() %}
  Pack my box with five dozen liquor jugs.
{% endmacro %}

{% macro specimen(label) %}
  <div class="specimen" data-name="{{ label }}">
    <div class="size largest">{{ lorem() }}</div>
    <div class="size larger">{{ lorem() }}</div>
    <div class="size large">{{ lorem() }}</div>
    <div class="size medium">{{ lorem() }}</div>
    <div class="size normal">{{ lorem() }}</div>
    <div class="size small">{{ lorem() }}</div>
    <div class="size smaller">{{ lorem() }}</div>
  </div>
{% endmacro %}

{% macro font(title, name, styles) %}
<section class="font">
  {% for style in styles %}
  <div class="font-variant">
    <h3 class="font-name">{{ name }} {{ style }} [{{ title }}]</h3>
    {{ specimen('%s %s' % (title, style)) }}
  </div>
  {% endfor %}
</section>
{% endmacro %}

{% macro show(fonts) %}
  {% for item in fonts %}
    {{ font(item.title, item.name, item.styles) }}
  {% endfor %}
{% endmacro %}
