{% extends 'base.html' %}

{% block body %}
<div>
{% block page %}

  <header role="banner">
    <hgroup>
      <h1><a href="/" rel="home" id="logo">OddBird</a></h1>
      <h2>Custom-built web tools for humans.</h2>
    </hgroup>
    <p class="intro">We love chasing ideas into existence. We could do that all night long, and sometimes we&nbsp;do.</p>
  </header>

  <section role="main">
    {% block maincontent %}

    {% endblock maincontent %}
  </section><!-- /~main -->

  <footer role="contentinfo">
    <p class="colophon">This site is built on plain old semantic <a href="http://www.w3.org/TR/html5/">HTML5</a>, powered by <a href="http://www.jquery.com/">jQuery</a> and the <a href="http://pelican.readthedocs.org">Pelican</a> static site generator for <a href="http://www.python.org">Python</a>, and styled using <a href="http://www.w3.org/TR/css-2010/">CSS3</a> with help from <a href="http://www.modernizr.com/">Modernizr</a>, <a href="http://susy.oddbird.net/">Susy</a>, <a href="http://compass-style.org/">Compass</a>, <a href="http://sass-lang.com/">Sass</a>, and <a href="http://stuffandnonsense.co.uk/projects/320andup/">320 and Up</a>.</p>
    <p class="copyright vcard">copyright &copy; 2009-2012 <a href="http://oddbird.net/" class="fn org url">OddBird</a></p>
  </footer>

{% endblock page %}
</div>
{% endblock body %}
