#work
  p
    &:first-of-type, &:last-of-type
      +float(none)
      +reset-box-model
      +full
      +prefix(5)
      +suffix(3)
      +trailer
      display: block
      width: auto

#people
  p
    +columns(3)
    clear: none
    &:nth-of-type(odd), &:nth-of-type(even)
      padding: 0
      margin-left: 0
    &:first-of-type
      +prefix(3)
      +alpha
    &:last-of-type
      +omega

#process
  p
    +pad(4,4)
    &:nth-of-type(2)
      +pad(6,2)
    &:nth-of-type(3)
      +pad(8,0)