// ----------------------------------------------------------------------------
// Baskerville

@include font-face(
  'BaskervilleFS',
  font-files(
    'Baskerville-Regular-webfont.woff',woff,
    'Baskerville-Regular-webfont.ttf',truetype,
    'Baskerville-Regular-webfont.svg#webfontSMxOInhK',svg
  ),
  'Baskerville-Regular-webfont.eot',
  normal,
  normal
);
@include font-face(
  'BaskervilleFS',
  font-files(
    'Baskerville-Italic-webfont.woff',woff,
    'Baskerville-Italic-webfont.ttf',truetype,
    'Baskerville-Italic-webfont.svg#webfontSMxOInhK',svg
  ),
  'Baskerville-Italic-webfont.eot',
  normal,
  italic
);
@include font-face(
  'BaskervilleFS',
  font-files(
    'Baskerville-Bold-webfont.woff',woff,
    'Baskerville-Bold-webfont.ttf',truetype,
    'Baskerville-Bold-webfont.svg#webfontSMxOInhK',svg
  ),
  'Baskerville-Bold-webfont.eot',
  bold,
  normal
);
@include font-face(
  'BaskervilleFS',
  font-files(
    'Baskerville-BoldItalic-webfont.woff',woff,
    'Baskerville-BoldItalic-webfont.ttf',truetype,
    'Baskerville-BoldItalic-webfont.svg#webfontSMxOInhK',svg
  ),
  'Baskerville-BoldItalic-webfont.eot',
  bold,
  italic
);

// ----------------------------------------------------------------------------
// FranklinGothic

@include font-face(
  'FranklinGothic',
  font-files(
    'FranklinGothic-Book-webfont.woff',woff,
    'FranklinGothic-Book-webfont.ttf',truetype,
    'FranklinGothic-Book-webfont.svg#webfontSMxOInhK',svg
  ),
  'FranklinGothic-Book-webfont.eot',
  normal,
  normal
);
@include font-face(
  'FranklinGothic',
  font-files(
    'FranklinGothic-BookIt-webfont.woff',woff,
    'FranklinGothic-BookIt-webfont.ttf',truetype,
    'FranklinGothic-BookIt-webfont.svg#webfontSMxOInhK',svg
  ),
  'FranklinGothic-BookIt-webfont.eot',
  normal,
  italic
);
@include font-face(
  'FranklinGothic',
  font-files(
    'FranklinGothic-Med-webfont.woff',woff,
    'FranklinGothic-Med-webfont.ttf',truetype,
    'FranklinGothic-Med-webfont.svg#webfontSMxOInhK',svg
  ),
  'FranklinGothic-Med-webfont.eot',
  bold,
  normal
);
@include font-face(
  'FranklinGothic',
  font-files(
    'FranklinGothic-MedIt-webfont.woff',woff,
    'FranklinGothic-MedIt-webfont.ttf',truetype,
    'FranklinGothic-MedIt-webfont.svg#webfontSMxOInhK',svg
  ),
  'FranklinGothic-MedIt-webfont.eot',
  bold,
  italic
);

// ----------------------------------------------------------------------------
// FranklinGothic Cond

@include font-face(
  'FranklinGothicCond',
  font-files(
    'FranklinGothic-Cd-webfont.woff',woff,
    'FranklinGothic-Cd-webfont.ttf',truetype,
    'FranklinGothic-Cd-webfont.svg#webfontSMxOInhK',svg
  ),
  'FranklinGothic-Cd-webfont.eot',
  normal,
  normal
);
@include font-face(
  'FranklinGothicCond',
  font-files(
    'FranklinGothic-CdIt-webfont.woff',woff,
    'FranklinGothic-CdIt-webfont.ttf',truetype,
    'FranklinGothic-CdIt-webfont.svg#webfontSMxOInhK',svg
  ),
  'FranklinGothic-CdIt-webfont.eot',
  normal,
  italic
);
@include font-face(
  'FranklinGothicCond',
  font-files(
    'FranklinGothic-MedCd-webfont.woff',woff,
    'FranklinGothic-MedCd-webfont.ttf',truetype,
    'FranklinGothic-MedCd-webfont.svg#webfontSMxOInhK',svg
  ),
  'FranklinGothic-MedCd-webfont.eot',
  bold,
  normal
);
@include font-face(
  'FranklinGothicCond',
  font-files(
    'FranklinGothic-MedCdIt-webfont.woff',woff,
    'FranklinGothic-MedCdIt-webfont.ttf',truetype,
    'FranklinGothic-MedCdIt-webfont.svg#webfontSMxOInhK',svg
  ),
  'FranklinGothic-MedCdIt-webfont.eot',
  bold,
  italic
);

// ----------------------------------------------------------------------------
// Font Stacks

$sans-stack   : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack  : Baskerville, Palatino, Cambria, Georgia, serif;
$mono-stack   : Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;

// ----------------------------------------------------------------------------
// Font Mixins

@mixin sans { font-family: 'FranklinGothic',$sans-stack; }
@mixin sanscond { font-family: 'FranklinGothicCond',$sans-stack; }
@mixin serif { font-family: 'BaskervilleFS',$serif-stack; }
@mixin serifcaps { font-variant: small-caps; }
@mixin mono { font-family: $mono-stack; }
