@include font-face (
  'IcoMoon',
  font-files(
    'oddsite.svg#oddsite', svg,
    'oddsite.woff', woff,
    'oddsite.ttf', truetype
  ),
  'oddsite.eot',
  normal,
  normal
);

/* Use the following CSS code if you want to have a class per icon */
%icon-content {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}

%padded-icon:before {
  @extend %icon-content;
  padding-right: .4em;
}

%icon:before {
  @extend %icon-content;
}

%icon-replace {
  @extend %icon;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
  }
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  @extend %icon-content;
  content: attr(data-icon);
}

%icon-home:before { content: "\e000"; }
%icon-chat:before { content: "\e001"; }
%icon-envelope:before { content: "\e002"; }
%icon-twitter:before { content: "\e003"; }
%icon-github:before { content: "\e004"; }
%icon-bookmark:before { content: "\e005"; }

