// Links
// =====

$link: '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';

%link {
  color: $accent;
  text-decoration: none;
  cursor: pointer;
}

%link-focus {
  color: color(dark $pink);
}

a {
  #{$link} { @extend %link; }
  #{$focus} { @extend %link-focus; }
}
