// ----------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "fonts";

// ----------------------------------------------------------------------------
// Mixins

@mixin bleed {
  margin-left: 0 - $grid-padding;
  margin-right: 0 - $grid-padding;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

@mixin darker-block {
  @include bleed;
  background: rgba($blue-darkest,.125);

  a {
    #{$link} { color: $orange-dark; }
    #{$focus} { color: $pink-dark; }
  }
}

@mixin section($color: rgba($orange-light,.1)) {
  position: relative;
  &::before, &::after {
    @include stretch-y;
    content: " ";
    left: - 100%;
    right: - 100%;
    padding: {
      left: 100%;
      right: 100%;
    }
    background: $color;
    z-index: -1;
  }
  &::before { @include rotate(2deg); }
  &::after { @include rotate(-2deg); }
}

// ----------------------------------------------------------------------------
// Root

$noise  : image-url('noise.png');
$grad   : linear-gradient(bottom, rgba($blue-light,.25), rgba($blue-lightest,.25) 75%);

@include establish-baseline;

html {
  @include serif;
  @include text-shadow;
  @include background($blue-hint $noise fixed center);
  @include background-image($grad, $noise);
}

[role="main"] {
  @extend %type;
  @include padding-leader(2);
  background: image-url('headline.png') no-repeat top;
  @include at-breakpoint($break) {
    @include pie-clearfix;
    clear: both;
  }
}

// ----------------------------------------------------------------------------
// More

@import "type";
@import "icons";
