// ----------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "fonts";

// ----------------------------------------------------------------------------
// Root

@include establish-baseline;

body { @include serif; }

h1, h2, h3, h4, strong { font-weight: bold; }
em { font-style: italic; }

p, ul, ol, pre { @include trailer; }

pre {
  @include adjust-font-size-to($smallpx);
  @include mono;
}
