// ----------------------------------------------------------------------------
// Links

a {
  &:hover, &:active {
    outline: none;
  }
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} {
    color: $accent;
  }
}

// ----------------------------------------------------------------------------
// Ampersand

// .amp { @include amp; }

// ----------------------------------------------------------------------------
// Type

$h1size : $xxlargepx;
$h2size : $xlargepx;

%type {

  h1 {
    @include adjust-font-size-to($h1size);
    a {
      #{$link} { color: $orange-dark; }
      #{$focus} { color: $pink-dark; }
    }
  }

  h2 {
    @include adjust-font-size-to($h2size);
    @include trailer(.5,$h2size);
  }

  h3, h4, strong { font-weight: bolder; }

  em { font-style: italic; }

  p, ul, ol, pre { @include trailer; }

  pre {
    @include mono;
    @include adjust-font-size-to($xsmallpx);
    @include trailer(1,$xsmallpx);
    padding: rhythm(.5) rhythm(.75);
    border-left: rhythm(.25) solid rgba($blue-darkest,.25);
  }
}
