// ----------------------------------------------------------------------------
// Links

a {
  &:hover, &:active { outline: none; }
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} { color: $accent; }
}

// ----------------------------------------------------------------------------
// Ampersand

.amp {
  @include serif;
  font-style: italic;
}

// ----------------------------------------------------------------------------
// Mixins

@mixin before($content) { &:before { content: $content; } }
@mixin after($content) { &:after { content: $content; } }

@mixin wrap($wrapper: "“" "”") {
  $wrapper: if(length($wrapper) < 2, $wrapper $wrapper, $wrapper);
  @include before(nth($wrapper,1));
  @include after(nth($wrapper,2));
}

// ----------------------------------------------------------------------------
// Type

%type {
  h1 {
    @include adjust-font-size-to($largepx);
    a {
      #{$link} { color: $orange-dark; }
      #{$focus} { color: $pink-dark; }
    }
  }

  h2 {
    @include trailer(.5);
    text-transform: uppercase;
  }

  h3, h4, strong { font-weight: bold; }
  em { font-style: italic; }

  p, ul, ol, pre { @include trailer; }

  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }
  li { @include trailer(.5); }

  code, .code {
    @include mono;
    @include adjust-font-size-to($xxsmallpx,1);
  }

  code {
    display: inline-block;
    padding: 0 .5em;
    background: rgba($blue-darker,.125);
  }

  .code {
    @include adjust-leading-to(.75);
    @include trailer;
    @include box-shadow($base 0 0 .25em inset);
    overflow: auto;
    padding: rhythm(.5) rhythm(.75);
    border-left: rhythm(.25) solid rgba($blue-darkest,.25);
  }
}
