// ----------------------------------------------------------------------------
// Links

a {
  &:hover, &:active {
    outline: none;
  }
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} {
    color: $accent;
  }
}

// ----------------------------------------------------------------------------
// Ampersand

// .amp { @include amp; }

// ----------------------------------------------------------------------------
// Type

%type {

  h1 {
    @include adjust-font-size-to($largepx);
    a {
      #{$link} { color: $orange-dark; }
      #{$focus} { color: $pink-dark; }
    }
  }

  h2 {
    @include adjust-font-size-to($medpx);
    @include trailer(.5,$medpx);
  }

  h3, h4, strong { font-weight: bold; }

  em { font-style: italic; }

  p, ul, ol, pre { @include trailer; }

  pre {
    @include adjust-font-size-to($smallpx);
    @include mono;
  }
}
