version: 2
jobs:
  build:
    working_directory: ~/oddsite
    docker:
      - image: node:7.7.3
      - image: dockerfile/chrome
    steps:
      - checkout
      - restore_cache:
          key: oddsite-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install Yarn
          command: curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.22.0
      - run:
          name: Install Dependencies
          command: ~/.yarn/bin/yarn
      - save_cache:
          key: oddsite-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - "~/.cache/yarn"
      - run:
          name: Lint JS
          command: ./node_modules/.bin/gulp eslint
      - run:
          name: Lint Sass
          command: ./node_modules/.bin/gulp sasslint
      - run:
          name: Test Sass
          command: ./node_modules/.bin/gulp sasstest
      - run:
          name: Test JS
          command: ./node_modules/.bin/karma start --reporters dots,coverage,junit --browsers PhantomJS,Chrome
      - run:
          name: Check JS Test Coverage
          command: ./node_modules/.bin/istanbul check-coverage --root jscov/ --statements=100 --functions=100 --branches=100 --lines=100
      - store_test_results:
          path: jscov/
