// Banner Layout
// =============


[data-region='banner'] {
  margin-top: size('gutter');
  text-align: center;
}


// Brand
// -----
.brand {
  margin: 0 auto; // @@@ bottom: negative('rhythm') * 1.5
}

.logo-link {
  #{$link} {
    color: color('brand-blue');
    display: inline-block;
    text-decoration: none;
    transition: color 250ms;
  }

  #{$focus} {
    color: color('brand-orange');
  }

  [data-location*='susysite'] & {
    #{$link} {
      color: color('brand-pink');
    }

    #{$focus} {
      color: color('brand-blue');
    }
  }

  [data-location*='hermansite'] & {
    #{$link} {
      color: color('action-hover');
    }

    #{$focus} {
      color: color('brand-blue');
    }
  }
}


// Logo
// ----
@keyframes draw-logo {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-logo {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

@keyframes fade-logo-outline {
  to {
    stroke-width: 0;
  }
}

.logo-icon {
  height: 6rem;
  width: 13rem;

  @include below('nav-medium') {
    width: 10rem;
  }

  [data-location='home'] &,
  [data-location='susysite'] & ,
  [data-location='hermansite'] & {
    animation: draw-logo 3s 1 ease-out both, fill-logo 3s 2s 1 ease-in-out both, fade-logo-outline 2s 2s 1 ease-in-out both;
  }

  [data-location='home'] & {
    stroke: color('brand-orange');
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 1;
  }

  [data-location='susysite'] & {
    stroke: color('brand-pink');
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    stroke-width: 10;
  }

  [data-location='hermansite'] & {
    stroke: color('action-hover');
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    stroke-width: 10;
  }
}
