// Banner Layout
// =============


[data-region='banner'] {
  background-color: color('background');
  margin: size('gutter') 0;
  text-align: center;
}


// Brand
// -----
.brand {
  margin: 0 auto; // @@@ bottom: negative('rhythm') * 1.5

  [rel='home'] {
    #{$link} {
      background-image: none;
      color: color('brand-blue');
      display: inline-block;
      transition: color 250ms;
    }

    #{$focus} {
      color: color('brand-orange');
    }
  }
}


// Logo
// ----
@keyframes draw-logo {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-logo {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

@keyframes fade-logo-outline {
  to {
    stroke-width: 0;
  }
}

[data-icon='logo'] {
  height: 6rem;
  width: 13rem;

  @include below('nav-medium') {
    width: 10rem;
  }

  [data-location='home'] & {
    animation: draw-logo 3s 1 ease-out both, fill-logo 3s 2s 1 ease-in-out both, fade-logo-outline 2s 2s 1 ease-in-out both;
    stroke: color('brand-orange');
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 1;
  }
}
