// Banner Layout
// =============


[data-region='banner'] {
  @include z-index('banner');
  align-items: center;
  background: color('background');
  border-bottom: 1px solid color('border');
  display: flex;
  justify-content: space-between;
  padding: size('quarter-shim') size('half-shim');
  position: relative;
  position: sticky; // sass-lint:disable-line no-duplicate-properties
  top: 0;

  @include above('small-page') {
    padding: size('quarter-shim') size('shim');
  }

  @include above('medium-page') {
    padding: size('quarter-shim') size('gutter');
  }
}


.banner-contact {
  #{$link} {
    flex: 0 0 auto;
    padding: size('quarter-shim') size('half-shim');
    white-space: nowrap;

    @include above('medium-page') {
      padding: size('quarter-shim') size('shim');
    }
  }

  @include below('small-page') {
    @include after(initial);
  }
}

.banner-contact-text {
  display: inline-block;
  margin-left: size('quarter-shim');

  @include below('small-page') {
    @include is-hidden;
  }
}


// Brand
// -----
.brand {
  align-self: flex-start;
  margin-bottom: negative('rhythm');

  @include below('small-page') {
    @include is-hidden;
  }

  [data-location='home'] & {
    opacity: 0;
    pointer-events: none;
  }
}

.logo-link {
  #{$link} {
    color: color('brand-blue');
    display: inline-block;
    text-decoration: none;
    transition: color 250ms;
  }

  #{$focus} {
    color: color('brand-orange');
  }

  [data-location*='susysite'] & {
    #{$link} {
      color: color('brand-pink');
    }

    #{$focus} {
      color: color('brand-blue');
    }
  }

  [data-location*='hermansite'] & {
    #{$link} {
      color: color('action-hover');
    }

    #{$focus} {
      color: color('brand-blue');
    }
  }
}


// Logo
// ----
@keyframes draw-logo {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-logo {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

@keyframes fade-logo-outline {
  to {
    stroke-width: 0;
  }
}

.logo-icon {
  height: size('logo-y');
  width: auto;

  // [data-location='home'] &,
  [data-location='susysite'] & ,
  [data-location='hermansite'] & {
    animation: draw-logo 3s 1 ease-out both, fill-logo 3s 2s 1 ease-in-out both, fade-logo-outline 2s 2s 1 ease-in-out both;
  }

  // [data-location='home'] & {
  //   stroke: color('brand-orange');
  //   stroke-dasharray: 500;
  //   stroke-dashoffset: 500;
  //   stroke-width: 1;
  // }

  [data-location='susysite'] & {
    stroke: color('brand-pink');
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    stroke-width: 10;
  }

  [data-location='hermansite'] & {
    stroke: color('action-hover');
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    stroke-width: 10;
  }
}
