// Footer Region Layout
// ====================


[data-region='footer'] {
  @include font-family('alt');
  @include font-size('small');
  margin: 0 auto size('spacer');
  max-width: size('page');
  padding: 0 size('gutter');
}
