// Footer Region Layout
// ====================

[data-region='footer'] {
  @include font-family('alt');
  align-items: baseline;
  display: flex;
  flex-flow: column wrap;
  font-size: size('social');
  justify-content: space-between;
  line-height: size('rhythm');
  padding: size('gutter');

  @include above('medium-page') {
    flex-direction: row-reverse;
  }
}
