// Main Region Layout
// ==================

[data-region='main'] {
  position: relative;
}

.no-image {
  padding-top: size('double-gutter');
}

[data-module='rst-body'] {
  section {
    @include clearfix;
    clear: both;

    + section {
      margin-top: size('double-gutter');
    }
  }
}
