// Site Navigation
// ===============

$nav-locations: 'birds', 'work', 'speaking', 'open-source', 'blog', 'community', 'contact';

.nav-link {
  #{$link} {
    color: color('action-alt');
    display: inline-block;
    font-weight: 400;
    margin: 0;
    padding: size('half-shim') size('gutter');
    text-decoration: none;

    @include above('nav-column') {
      padding: size('shim');
    }
  }

  #{$focus} {
    color: color('action');
  }
}

@each $location in $nav-locations {
  [data-location='#{$location}'] {
    [data-active='#{$location}'] {
      #{$link} {
        color: color('action');
        font-style: italic;
      }
    }
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: size('nav-column');
  width: 100%;

  @include below('nav-column') {
    margin-top: negative('gutter');
    padding: 0;

    > li {
      &:nth-of-type(2) {
        flex-grow: 1;
      }
    }
  }

  > li {
    display: inline-flex;
  }
}

.is-dropdown {
  background-color: color('background');
  border-top: size('border') solid color('border');
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: auto;
  width: 100vw;
  z-index: 2;

  @include below('nav-column') {
    margin: 2.8rem 0 0; // @todo - fix magic numbers
    text-align: left;
  }

  @include above('nav-column') {
    margin: 3.3rem 0 0; // @todo - fix magic numbers
    text-align: center;
  }
}
