// Site Navigation
// ===============

$locations: 'projects', 'open-source', 'blog', 'birds', 'speaking', 'community', 'contact';
$nav-locations: 'work', 'about';

.nav-link {
  color: color('action-alt');
  display: inline-block;
  font-weight: bold;
  padding: size('half-shim') size('shim');
  text-decoration: none;

  @include above('nav-narrow') {
    padding: size('shim') size('gutter');
  }

  #{$link} {
    color: color('action-alt');
  }

  #{$focus} {
    color: color('action');
  }

  &[aria-pressed='true'] {
    color: color('action');
  }
}

@each $location in $locations {
  [data-location='#{$location}'] {
    [data-active='#{$location}'] {
      color: color('action');
    }
  }
}

@each $location in $nav-locations {
  [data-nav-location='#{$location}'] {
    [data-active='#{$location}'] {
      color: color('action');
    }
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin: negative('gutter') auto 0;
  max-width: size('nav-narrow');
  width: 100%;

  @include below('nav-narrow') {
    margin-top: negative('gutter');
    padding: 0 size('shim');
  }

  > li {
    display: inline-flex;

    &:nth-of-type(2) {
      flex-grow: 1;
    }

    @include above('nav-narrow') {
      position: relative;
    }
  }
}

.is-dropdown {
  background-color: color('background');
  border-bottom: size('border') solid color('border');
  box-shadow: 0 6px 5px color('shadow');
  position: absolute;
  z-index: 1;

  .nav-link {
    display: block;
  }

  @include below('nav-narrow') {
    left: 0;
    margin-top: 2.45rem; // magic number
    padding: size('half-shim')  size('shim');
    right: 0;
    text-align: left;
    width: 100vw;
  }

  @include above('nav-narrow') {
    left: 0;
    min-width: size('dropdown-narrow');
    padding: size('gutter') 0 size('shim');
    text-align: left;
    top: 100%;
  }

  @include above('nav-wide') {
    left: 50%;
    min-width: size('dropdown-wide');
    text-align: center;
    transform: translateX(-50%);
  }
}
