html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Sizes -------------------------------------------------------------------- */
/* */
/* norm        : 1 */
/* small       : 0.618 */
/* xsmall      : 0.382 */
/* xxsmall     : 0.236 */
/* xxxsmall    : 0.146 */
/* med         : 1.618 */
/* large       : 2.618 */
/* xlarge      : 4.236 */
/* xxlarge     : 6.854 */
/* */
/* normem      : 1em */
/* smallem     : 0.618em */
/* xsmallem    : 0.382em */
/* xxsmallem   : 0.236em */
/* xxxsmallem  : 0.146em */
/* medem       : 1.618em */
/* largeem     : 2.618em */
/* xlargeem    : 4.236em */
/* xxlargeem   : 6.854em */
/* */
/* normpx      : 14px */
/* smallpx     : 8.653px */
/* xsmallpx    : 5.348px */
/* xxsmallpx   : 3.305px */
/* xxxsmallpx  : 2.043px */
/* medpx       : 22.652px */
/* largepx     : 36.651px */
/* xlargepx    : 59.301px */
/* xxlargepx   : 95.949px */
/* colors -------------------------------------------------------------------- */
/* */
/* base              : #404040 */
/* blue              : #4040bf */
/* red               : #bf4040 */
/* green             : #40bf40 */
/* yellow            : #dfaf20 */
/* */
/* dark              : #595959 */
/* darker            : #404040 */
/* darkest           : black */
/* light             : #a6a6a6 */
/* lighter           : #cccccc */
/* lightest          : #f2f2f2 */
/* */
/* blue-dark         : #333399 */
/* blue-darker       : #262673 */
/* blue-darkest      : #19194d */
/* blue-light        : #7979d2 */
/* blue-lighter      : #b3b3e6 */
/* blue-lightest     : #d9d9f2 */
/* */
/* red-dark          : #993333 */
/* red-darker        : #732626 */
/* red-darkest       : #4d1919 */
/* red-light         : #d27979 */
/* red-lighter       : #e6b3b3 */
/* red-lightest      : #f2d9d9 */
/* */
/* green-dark        : #339933 */
/* green-darker      : #267326 */
/* green-darkest     : #194d19 */
/* green-light       : #79d279 */
/* green-lighter     : #b3e6b3 */
/* green-lightest    : #d9f2d9 */
/* */
/* yellow-dark       : #9c7b16 */
/* yellow-darker     : #59460d */
/* yellow-darkest    : #2d2306 */
/* yellow-light      : #e9c763 */
/* yellow-lighter    : #f2dfa6 */
/* yellow-lightest   : #f9efd2 */
/* Typography ---------------------------------------------------------------- */
.serif, body { font-family: Cambria, Georgia, serif; }

.sans { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.mono, pre, code, tt { font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif; }

.caps, .allcaps, h1, h2, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"], .smallcaps, h4 { letter-spacing: 0.1em; }

.allcaps, h1, h2, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"] { text-transform: uppercase; }

.smallcaps, h4 { font-variant: small-caps; }

/* Layout -------------------------------------------------------------------- */
.full { display: block; float: none; width: auto; }

.half { max-width: 50%; }

.left { display: inline; float: left; margin-right: 1em; margin-bottom: 0.5em; }

.right { display: inline; float: right; margin-left: 1em; margin-bottom: 0.5em; }

/* Root ---------------------------------------------------------------------- */
body { font-size: 87.5%; line-height: 1.618em; }

html > body { font-size: 14px; }

html { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(204, 204, 204, 0.25)), color-stop(5%, rgba(204, 204, 204, 0))); background-image: -webkit-linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); background-image: -moz-linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); background-image: -o-linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); background-image: -ms-linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); background-image: linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); -moz-background-size: 100% 22.652px; -webkit-background-size: 100% 22.652px; -o-background-size: 100% 22.652px; background-size: 100% 22.652px; background-position: left top; color: #404040; }

/* Selected Text ------------------------------------------------------------- */
::-webkit-selection { color: black; background: #7979d2; text-shadow: none; }

::-moz-selection { color: black; background: #7979d2; text-shadow: none; }

::selection { color: black; background: #7979d2; text-shadow: none; }

/* Links --------------------------------------------------------------------- */
a:hover, a:active { outline: none; }
a:link, a:visited { color: #7979d2; text-decoration: none; }
a:focus, a:hover, a:active { color: #993333; }

/* Headings ------------------------------------------------------------------ */
h1 { font-size: 1.5em; line-height: 1.079em; }

h3 { font-weight: bold; }

h5, h6 { font-style: italic; }

/* Inline -------------------------------------------------------------------- */
cite, em, dfn, address, i { font-style: italic; }

strong, dfn, b { font-weight: bold; }

sup, sub { position: relative; font-size: smaller; line-height: 0; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }

mark { background: #ffff99; background-color: rgba(255, 255, 0, 0.5); text-shadow: none; }

small { font-size: 0.857em; line-height: 1.888em; }

q { font-style: italic; }
q em { font-style: normal; }

/* Block --------------------------------------------------------------------- */
p { margin-bottom: 1.618em; }

pre { padding: 1.618em; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

blockquote { padding: 1.618em; font-style: italic; }

/* Interactive --------------------------------------------------------------- */
details { margin-bottom: 1.618em; }

summary { display: inline; cursor: pointer; }
summary:focus { outline: thin dotted #993333; }

.no-details details > * { display: none; }
.no-details details summary { display: inline; }

/* Replaced ------------------------------------------------------------------ */
figure img, figure object, figure embed { vertical-align: top; max-width: 100%; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/* Lists --------------------------------------------------------------------- */
ol, ul, dd { margin-left: 1.618em; }

ol { list-style-type: decimal; }

ul { list-style-type: disc; }
nav ul { margin: 0; padding: 0; border: 0; list-style: none; }
nav ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

dt { margin-top: 1.618em; }

/* Tables -------------------------------------------------------------------- */
table { margin-bottom: 1.618em; width: 100%; border-collapse: separate; border-spacing: 0; }

table, td, th { vertical-align: top; }

th, thead th { font-weight: bold; }

th, td, caption { padding: 0.809em; text-align: left; font-weight: normal; }

table, th { border-bottom-style: solid; border-bottom-width: 0.071em; padding-bottom: 0.738em; }

tfoot { font-size: 1em; line-height: 1.618em; }

/* Forms --------------------------------------------------------------------- */
/* Form Resets --------------------------------------------------------------- */
input[type="button"], input[type="submit"], input[type="image"], label, button { cursor: pointer; }

input[type="search"] { -webkit-appearance: none; }
input[type="search"]::-webkit-search-decoration { display: none; }
input[type="radio"], input[type="checkbox"] { vertical-align: baseline; }

textarea { overflow: auto; resize: vertical; }

button, input[type="select"], select, textarea { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }

optgroup { margin: 0; padding: 0; border: 0; }

optgroup { color: #404040; font-style: normal; font-weight: normal; }

.iem7 legend { margin-left: -7px; }

::-moz-focus-inner { border: 0; }

/* Placeholders -------------------------------------------------------------- */
/* Basic --------------------------------------------------------------------- */
form > ul { margin: 0; padding: 0; border: 0; list-style: none; }
form > ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
form > ul > li { *zoom: 1; }
form > ul > li:after { content: ""; display: table; clear: both; }

/* Text Inputs --------------------------------------------------------------- */
.textinput, textarea, select:not([multiple]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.618em; border-style: solid; border-width: 0.071em; padding: 0.333em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 2.427em; vertical-align: top; outline: 0; }

.input[disabled], textarea[disabled], select[disabled] { background-color: #eeeeee; color: #666666; }
.input:valid, textarea:valid, select:valid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; }
.input:valid:focus, textarea:valid:focus, select:valid:focus, .input:valid.hadfocus, textarea:valid.hadfocus, select:valid.hadfocus { -moz-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; }
.no-boxshadow .input:valid:focus, .no-boxshadow textarea:valid:focus, .no-boxshadow select:valid:focus, .no-boxshadow .input:valid.hadfocus, .no-boxshadow textarea:valid.hadfocus, .no-boxshadow select:valid.hadfocus { background-color: rgba(0, 128, 0, 0.25); }
.input:invalid, textarea:invalid, select:invalid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; }
.input:invalid:focus, textarea:invalid:focus, select:invalid:focus, .input:invalid.hadfocus, textarea:invalid.hadfocus, select:invalid.hadfocus { -moz-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; }
.no-boxshadow .input:invalid:focus, .no-boxshadow textarea:invalid:focus, .no-boxshadow select:invalid:focus, .no-boxshadow .input:invalid.hadfocus, .no-boxshadow textarea:invalid.hadfocus, .no-boxshadow select:invalid.hadfocus { background-color: rgba(255, 0, 0, 0.25); }
.ie7 .input, .ie7 textarea, .ie7 select { height: auto; }

textarea { height: auto; min-height: 8.09em; }
textarea::-webkit-input-placeholder { color: gray; }
textarea:-moz-placeholder { color: gray; }
textarea.placeholder { color: gray; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder { color: gray; }
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="color"]:-moz-placeholder { color: gray; }
input[type="text"].placeholder, input[type="password"].placeholder, input[type="email"].placeholder, input[type="url"].placeholder, input[type="tel"].placeholder, input[type="date"].placeholder, input[type="datetime"].placeholder, input[type="datetime-local"].placeholder, input[type="month"].placeholder, input[type="week"].placeholder, input[type="time"].placeholder, input[type="number"].placeholder, input[type="search"].placeholder, input[type="color"].placeholder { color: gray; }

/* Buttons ------------------------------------------------------------------- */
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { margin: 0; padding: 0; border: 0; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; text-shadow: none; overflow: visible; width: auto; vertical-align: baseline; background: none; color: inherit; font: inherit; }
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { *display: inline; }

.button, button, input[type="reset"], input[type="submit"], input[type="button"] { -moz-transition-property: box-shadow; -webkit-transition-property: box-shadow; -o-transition-property: box-shadow; transition-property: box-shadow; -moz-transition-duration: 300ms; -webkit-transition-duration: 300ms; -o-transition-duration: 300ms; transition-duration: 300ms; font-size: 0.857em; line-height: 0.944em; -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; background: #7979d2; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(166, 166, 166, 0.25)), color-stop(100%, rgba(166, 166, 166, 0))), #7979d2; background: -webkit-linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -moz-linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -o-linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -ms-linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; border-style: solid; border-width: 0.083em; padding: 0.389em; padding-left: 1.618em; padding-right: 1.618em; text-shadow: white 1px 1px 0; border-color: #595959; vertical-align: top; cursor: pointer; color: black; font-weight: bold; }
.button:hover, button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus { -moz-box-shadow: #993333 0 0 0.5em; -webkit-box-shadow: #993333 0 0 0.5em; -o-box-shadow: #993333 0 0 0.5em; box-shadow: #993333 0 0 0.5em; }
.button:active, button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active { -moz-transition-property: none; -webkit-transition-property: none; -o-transition-property: none; transition-property: none; -moz-transition-duration: 1s; -webkit-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; -moz-box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; -webkit-box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; -o-box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(166, 166, 166, 0.25)), color-stop(100%, rgba(166, 166, 166, 0))), #7979d2; background: -webkit-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -moz-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -o-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -ms-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; }
.button[disabled], button[disabled], input[disabled][type="reset"], input[disabled][type="submit"], input[disabled][type="button"] { color: #888888; }

/* Form Helpers -------------------------------------------------------------- */
.errorlist { margin: 0; padding: 0; border: 0; list-style: none; color: red; }
.errorlist li { list-style-image: none; list-style-type: none; margin-left: 0px; }

.loading { position: relative; }
.loading .overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; font-weight: 700; background: rgba(242, 242, 242, 0.618); color: rgba(64, 64, 64, 0.618); text-align: center; }

.message { padding-left: 2.427em; padding-right: 0.809em; background: rgba(204, 204, 204, 0.618) no-repeat scroll 0.809em; }
.message.info { background-image: url('../images/ui/info.png?1309192797'); background-color: rgba(179, 179, 230, 0.382); }
.message.success { background-image: url('../images/ui/check.png?1309192797'); background-color: rgba(179, 230, 179, 0.382); }
.message.warning { background-image: url('../images/ui/warning.png?1309192797'); background-color: rgba(242, 223, 166, 0.382); }
.message.error { background-image: url('../images/ui/x.png?1309192797'); background-color: rgba(230, 179, 179, 0.382); }

#messages ul { margin: 0; padding: 0; border: 0; list-style: none; }
#messages ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

body > div { padding: 1.618em 0.809em; }

div[role="main"] { border-top-style: solid; border-top-width: 0.071em; padding-top: 1.547em; border-bottom-style: solid; border-bottom-width: 0.071em; padding-bottom: 1.547em; border-color: gray; }

footer[role="contentinfo"] { font-size: 0.857em; line-height: 1.416em; padding-top: 0.472em; padding-bottom: 2.832em; font-style: italic; }
footer[role="contentinfo"] small, footer[role="contentinfo"] strong { font: inherit; }

/* Layout ------------------------------------------------------------------ */
body > div { *zoom: 1; margin: auto; width: 31em; max-width: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(3.226%, rgba(0, 0, 0, 0)), color-stop(3.226%, rgba(217, 217, 242, 0.25)), color-stop(16.129%, rgba(217, 217, 242, 0.25)), color-stop(16.129%, rgba(0, 0, 0, 0)), color-stop(19.355%, rgba(0, 0, 0, 0)), color-stop(19.355%, rgba(217, 217, 242, 0.25)), color-stop(32.258%, rgba(217, 217, 242, 0.25)), color-stop(32.258%, rgba(0, 0, 0, 0)), color-stop(35.484%, rgba(0, 0, 0, 0)), color-stop(35.484%, rgba(217, 217, 242, 0.25)), color-stop(48.387%, rgba(217, 217, 242, 0.25)), color-stop(48.387%, rgba(0, 0, 0, 0)), color-stop(51.613%, rgba(0, 0, 0, 0)), color-stop(51.613%, rgba(217, 217, 242, 0.25)), color-stop(64.516%, rgba(217, 217, 242, 0.25)), color-stop(64.516%, rgba(0, 0, 0, 0)), color-stop(67.742%, rgba(0, 0, 0, 0)), color-stop(67.742%, rgba(217, 217, 242, 0.25)), color-stop(80.645%, rgba(217, 217, 242, 0.25)), color-stop(80.645%, rgba(0, 0, 0, 0)), color-stop(83.871%, rgba(0, 0, 0, 0)), color-stop(83.871%, rgba(217, 217, 242, 0.25)), color-stop(96.774%, rgba(217, 217, 242, 0.25)), color-stop(96.774%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 3.226%, rgba(217, 217, 242, 0.25) 3.226%, rgba(217, 217, 242, 0.25) 16.129%, rgba(0, 0, 0, 0) 16.129%, rgba(0, 0, 0, 0) 19.355%, rgba(217, 217, 242, 0.25) 19.355%, rgba(217, 217, 242, 0.25) 32.258%, rgba(0, 0, 0, 0) 32.258%, rgba(0, 0, 0, 0) 35.484%, rgba(217, 217, 242, 0.25) 35.484%, rgba(217, 217, 242, 0.25) 48.387%, rgba(0, 0, 0, 0) 48.387%, rgba(0, 0, 0, 0) 51.613%, rgba(217, 217, 242, 0.25) 51.613%, rgba(217, 217, 242, 0.25) 64.516%, rgba(0, 0, 0, 0) 64.516%, rgba(0, 0, 0, 0) 67.742%, rgba(217, 217, 242, 0.25) 67.742%, rgba(217, 217, 242, 0.25) 80.645%, rgba(0, 0, 0, 0) 80.645%, rgba(0, 0, 0, 0) 83.871%, rgba(217, 217, 242, 0.25) 83.871%, rgba(217, 217, 242, 0.25) 96.774%, rgba(0, 0, 0, 0) 96.774%, rgba(0, 0, 0, 0) 100%); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 3.226%, rgba(217, 217, 242, 0.25) 3.226%, rgba(217, 217, 242, 0.25) 16.129%, rgba(0, 0, 0, 0) 16.129%, rgba(0, 0, 0, 0) 19.355%, rgba(217, 217, 242, 0.25) 19.355%, rgba(217, 217, 242, 0.25) 32.258%, rgba(0, 0, 0, 0) 32.258%, rgba(0, 0, 0, 0) 35.484%, rgba(217, 217, 242, 0.25) 35.484%, rgba(217, 217, 242, 0.25) 48.387%, rgba(0, 0, 0, 0) 48.387%, rgba(0, 0, 0, 0) 51.613%, rgba(217, 217, 242, 0.25) 51.613%, rgba(217, 217, 242, 0.25) 64.516%, rgba(0, 0, 0, 0) 64.516%, rgba(0, 0, 0, 0) 67.742%, rgba(217, 217, 242, 0.25) 67.742%, rgba(217, 217, 242, 0.25) 80.645%, rgba(0, 0, 0, 0) 80.645%, rgba(0, 0, 0, 0) 83.871%, rgba(217, 217, 242, 0.25) 83.871%, rgba(217, 217, 242, 0.25) 96.774%, rgba(0, 0, 0, 0) 96.774%, rgba(0, 0, 0, 0) 100%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 3.226%, rgba(217, 217, 242, 0.25) 3.226%, rgba(217, 217, 242, 0.25) 16.129%, rgba(0, 0, 0, 0) 16.129%, rgba(0, 0, 0, 0) 19.355%, rgba(217, 217, 242, 0.25) 19.355%, rgba(217, 217, 242, 0.25) 32.258%, rgba(0, 0, 0, 0) 32.258%, rgba(0, 0, 0, 0) 35.484%, rgba(217, 217, 242, 0.25) 35.484%, rgba(217, 217, 242, 0.25) 48.387%, rgba(0, 0, 0, 0) 48.387%, rgba(0, 0, 0, 0) 51.613%, rgba(217, 217, 242, 0.25) 51.613%, rgba(217, 217, 242, 0.25) 64.516%, rgba(0, 0, 0, 0) 64.516%, rgba(0, 0, 0, 0) 67.742%, rgba(217, 217, 242, 0.25) 67.742%, rgba(217, 217, 242, 0.25) 80.645%, rgba(0, 0, 0, 0) 80.645%, rgba(0, 0, 0, 0) 83.871%, rgba(217, 217, 242, 0.25) 83.871%, rgba(217, 217, 242, 0.25) 96.774%, rgba(0, 0, 0, 0) 96.774%, rgba(0, 0, 0, 0) 100%); background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 3.226%, rgba(217, 217, 242, 0.25) 3.226%, rgba(217, 217, 242, 0.25) 16.129%, rgba(0, 0, 0, 0) 16.129%, rgba(0, 0, 0, 0) 19.355%, rgba(217, 217, 242, 0.25) 19.355%, rgba(217, 217, 242, 0.25) 32.258%, rgba(0, 0, 0, 0) 32.258%, rgba(0, 0, 0, 0) 35.484%, rgba(217, 217, 242, 0.25) 35.484%, rgba(217, 217, 242, 0.25) 48.387%, rgba(0, 0, 0, 0) 48.387%, rgba(0, 0, 0, 0) 51.613%, rgba(217, 217, 242, 0.25) 51.613%, rgba(217, 217, 242, 0.25) 64.516%, rgba(0, 0, 0, 0) 64.516%, rgba(0, 0, 0, 0) 67.742%, rgba(217, 217, 242, 0.25) 67.742%, rgba(217, 217, 242, 0.25) 80.645%, rgba(0, 0, 0, 0) 80.645%, rgba(0, 0, 0, 0) 83.871%, rgba(217, 217, 242, 0.25) 83.871%, rgba(217, 217, 242, 0.25) 96.774%, rgba(0, 0, 0, 0) 96.774%, rgba(0, 0, 0, 0) 100%); background-image: linear-gradient(left, rgba(0, 0, 0, 0) 3.226%, rgba(217, 217, 242, 0.25) 3.226%, rgba(217, 217, 242, 0.25) 16.129%, rgba(0, 0, 0, 0) 16.129%, rgba(0, 0, 0, 0) 19.355%, rgba(217, 217, 242, 0.25) 19.355%, rgba(217, 217, 242, 0.25) 32.258%, rgba(0, 0, 0, 0) 32.258%, rgba(0, 0, 0, 0) 35.484%, rgba(217, 217, 242, 0.25) 35.484%, rgba(217, 217, 242, 0.25) 48.387%, rgba(0, 0, 0, 0) 48.387%, rgba(0, 0, 0, 0) 51.613%, rgba(217, 217, 242, 0.25) 51.613%, rgba(217, 217, 242, 0.25) 64.516%, rgba(0, 0, 0, 0) 64.516%, rgba(0, 0, 0, 0) 67.742%, rgba(217, 217, 242, 0.25) 67.742%, rgba(217, 217, 242, 0.25) 80.645%, rgba(0, 0, 0, 0) 80.645%, rgba(0, 0, 0, 0) 83.871%, rgba(217, 217, 242, 0.25) 83.871%, rgba(217, 217, 242, 0.25) 96.774%, rgba(0, 0, 0, 0) 96.774%, rgba(0, 0, 0, 0) 100%); background-position: left top; padding-left: 0; padding-right: 0; }
body > div:after { content: ""; display: table; clear: both; }

header[role="banner"] { clear: both; margin-left: 3.226%; margin-right: 3.226%; }

div[role="main"] { clear: both; margin-left: 3.226%; margin-right: 3.226%; *zoom: 1; }
div[role="main"]:after { content: ""; display: table; clear: both; }

footer[role="contentinfo"] { clear: both; margin-left: 3.226%; margin-right: 3.226%; }

/* Layout ------------------------------------------------------------------ */
body > div { *zoom: 1; margin: auto; width: 61em; max-width: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1.639%, rgba(0, 0, 0, 0)), color-stop(1.639%, rgba(217, 217, 242, 0.25)), color-stop(8.197%, rgba(217, 217, 242, 0.25)), color-stop(8.197%, rgba(0, 0, 0, 0)), color-stop(9.836%, rgba(0, 0, 0, 0)), color-stop(9.836%, rgba(217, 217, 242, 0.25)), color-stop(16.393%, rgba(217, 217, 242, 0.25)), color-stop(16.393%, rgba(0, 0, 0, 0)), color-stop(18.033%, rgba(0, 0, 0, 0)), color-stop(18.033%, rgba(217, 217, 242, 0.25)), color-stop(24.59%, rgba(217, 217, 242, 0.25)), color-stop(24.59%, rgba(0, 0, 0, 0)), color-stop(26.23%, rgba(0, 0, 0, 0)), color-stop(26.23%, rgba(217, 217, 242, 0.25)), color-stop(32.787%, rgba(217, 217, 242, 0.25)), color-stop(32.787%, rgba(0, 0, 0, 0)), color-stop(34.426%, rgba(0, 0, 0, 0)), color-stop(34.426%, rgba(217, 217, 242, 0.25)), color-stop(40.984%, rgba(217, 217, 242, 0.25)), color-stop(40.984%, rgba(0, 0, 0, 0)), color-stop(42.623%, rgba(0, 0, 0, 0)), color-stop(42.623%, rgba(217, 217, 242, 0.25)), color-stop(49.18%, rgba(217, 217, 242, 0.25)), color-stop(49.18%, rgba(0, 0, 0, 0)), color-stop(50.82%, rgba(0, 0, 0, 0)), color-stop(50.82%, rgba(217, 217, 242, 0.25)), color-stop(57.377%, rgba(217, 217, 242, 0.25)), color-stop(57.377%, rgba(0, 0, 0, 0)), color-stop(59.016%, rgba(0, 0, 0, 0)), color-stop(59.016%, rgba(217, 217, 242, 0.25)), color-stop(65.574%, rgba(217, 217, 242, 0.25)), color-stop(65.574%, rgba(0, 0, 0, 0)), color-stop(67.213%, rgba(0, 0, 0, 0)), color-stop(67.213%, rgba(217, 217, 242, 0.25)), color-stop(73.77%, rgba(217, 217, 242, 0.25)), color-stop(73.77%, rgba(0, 0, 0, 0)), color-stop(75.41%, rgba(0, 0, 0, 0)), color-stop(75.41%, rgba(217, 217, 242, 0.25)), color-stop(81.967%, rgba(217, 217, 242, 0.25)), color-stop(81.967%, rgba(0, 0, 0, 0)), color-stop(83.607%, rgba(0, 0, 0, 0)), color-stop(83.607%, rgba(217, 217, 242, 0.25)), color-stop(90.164%, rgba(217, 217, 242, 0.25)), color-stop(90.164%, rgba(0, 0, 0, 0)), color-stop(91.803%, rgba(0, 0, 0, 0)), color-stop(91.803%, rgba(217, 217, 242, 0.25)), color-stop(98.361%, rgba(217, 217, 242, 0.25)), color-stop(98.361%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(217, 217, 242, 0.25) 1.639%, rgba(217, 217, 242, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(217, 217, 242, 0.25) 9.836%, rgba(217, 217, 242, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(217, 217, 242, 0.25) 18.033%, rgba(217, 217, 242, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(217, 217, 242, 0.25) 26.23%, rgba(217, 217, 242, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(217, 217, 242, 0.25) 34.426%, rgba(217, 217, 242, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(217, 217, 242, 0.25) 42.623%, rgba(217, 217, 242, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(217, 217, 242, 0.25) 50.82%, rgba(217, 217, 242, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(217, 217, 242, 0.25) 59.016%, rgba(217, 217, 242, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(217, 217, 242, 0.25) 67.213%, rgba(217, 217, 242, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(217, 217, 242, 0.25) 75.41%, rgba(217, 217, 242, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(217, 217, 242, 0.25) 83.607%, rgba(217, 217, 242, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(217, 217, 242, 0.25) 91.803%, rgba(217, 217, 242, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(217, 217, 242, 0.25) 1.639%, rgba(217, 217, 242, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(217, 217, 242, 0.25) 9.836%, rgba(217, 217, 242, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(217, 217, 242, 0.25) 18.033%, rgba(217, 217, 242, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(217, 217, 242, 0.25) 26.23%, rgba(217, 217, 242, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(217, 217, 242, 0.25) 34.426%, rgba(217, 217, 242, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(217, 217, 242, 0.25) 42.623%, rgba(217, 217, 242, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(217, 217, 242, 0.25) 50.82%, rgba(217, 217, 242, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(217, 217, 242, 0.25) 59.016%, rgba(217, 217, 242, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(217, 217, 242, 0.25) 67.213%, rgba(217, 217, 242, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(217, 217, 242, 0.25) 75.41%, rgba(217, 217, 242, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(217, 217, 242, 0.25) 83.607%, rgba(217, 217, 242, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(217, 217, 242, 0.25) 91.803%, rgba(217, 217, 242, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(217, 217, 242, 0.25) 1.639%, rgba(217, 217, 242, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(217, 217, 242, 0.25) 9.836%, rgba(217, 217, 242, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(217, 217, 242, 0.25) 18.033%, rgba(217, 217, 242, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(217, 217, 242, 0.25) 26.23%, rgba(217, 217, 242, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(217, 217, 242, 0.25) 34.426%, rgba(217, 217, 242, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(217, 217, 242, 0.25) 42.623%, rgba(217, 217, 242, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(217, 217, 242, 0.25) 50.82%, rgba(217, 217, 242, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(217, 217, 242, 0.25) 59.016%, rgba(217, 217, 242, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(217, 217, 242, 0.25) 67.213%, rgba(217, 217, 242, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(217, 217, 242, 0.25) 75.41%, rgba(217, 217, 242, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(217, 217, 242, 0.25) 83.607%, rgba(217, 217, 242, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(217, 217, 242, 0.25) 91.803%, rgba(217, 217, 242, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%); background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(217, 217, 242, 0.25) 1.639%, rgba(217, 217, 242, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(217, 217, 242, 0.25) 9.836%, rgba(217, 217, 242, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(217, 217, 242, 0.25) 18.033%, rgba(217, 217, 242, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(217, 217, 242, 0.25) 26.23%, rgba(217, 217, 242, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(217, 217, 242, 0.25) 34.426%, rgba(217, 217, 242, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(217, 217, 242, 0.25) 42.623%, rgba(217, 217, 242, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(217, 217, 242, 0.25) 50.82%, rgba(217, 217, 242, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(217, 217, 242, 0.25) 59.016%, rgba(217, 217, 242, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(217, 217, 242, 0.25) 67.213%, rgba(217, 217, 242, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(217, 217, 242, 0.25) 75.41%, rgba(217, 217, 242, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(217, 217, 242, 0.25) 83.607%, rgba(217, 217, 242, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(217, 217, 242, 0.25) 91.803%, rgba(217, 217, 242, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%); background-image: linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(217, 217, 242, 0.25) 1.639%, rgba(217, 217, 242, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(217, 217, 242, 0.25) 9.836%, rgba(217, 217, 242, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(217, 217, 242, 0.25) 18.033%, rgba(217, 217, 242, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(217, 217, 242, 0.25) 26.23%, rgba(217, 217, 242, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(217, 217, 242, 0.25) 34.426%, rgba(217, 217, 242, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(217, 217, 242, 0.25) 42.623%, rgba(217, 217, 242, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(217, 217, 242, 0.25) 50.82%, rgba(217, 217, 242, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(217, 217, 242, 0.25) 59.016%, rgba(217, 217, 242, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(217, 217, 242, 0.25) 67.213%, rgba(217, 217, 242, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(217, 217, 242, 0.25) 75.41%, rgba(217, 217, 242, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(217, 217, 242, 0.25) 83.607%, rgba(217, 217, 242, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(217, 217, 242, 0.25) 91.803%, rgba(217, 217, 242, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%); background-position: left top; padding-left: 0; padding-right: 0; }
body > div:after { content: ""; display: table; clear: both; }

header[role="banner"] { clear: both; margin-left: 1.639%; margin-right: 1.639%; }

div[role="main"] { clear: both; margin-left: 1.639%; margin-right: 1.639%; }

footer[role="contentinfo"] { clear: both; margin-left: 1.639%; margin-right: 1.639%; }
