html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Sizes -------------------------------------------------------------------- */
/* */
/* norm        : 1 */
/* small       : 0.667 */
/* xsmall      : 0.444 */
/* xxsmall     : 0.296 */
/* xxxsmall    : 0.198 */
/* med         : 1.5 */
/* large       : 2.25 */
/* xlarge      : 3.375 */
/* xxlarge     : 5.063 */
/* */
/* normem      : 1em */
/* smallem     : 0.667em */
/* xsmallem    : 0.444em */
/* xxsmallem   : 0.296em */
/* xxxsmallem  : 0.198em */
/* medem       : 1.5em */
/* largeem     : 2.25em */
/* xlargeem    : 3.375em */
/* xxlargeem   : 5.063em */
/* */
/* normpx      : 16px */
/* smallpx     : 10.667px */
/* xsmallpx    : 7.111px */
/* xxsmallpx   : 4.741px */
/* xxxsmallpx  : 3.16px */
/* medpx       : 24px */
/* largepx     : 36px */
/* xlargepx    : 54px */
/* xxlargepx   : 81px */
/* colors -------------------------------------------------------------------- */
/* */
/* base              : #404040 */
/* blue              : #4040bf */
/* red               : #bf4040 */
/* green             : #40bf40 */
/* yellow            : #dfaf20 */
/* */
/* dark              : #595959 */
/* darker            : #404040 */
/* darkest           : black */
/* light             : #a6a6a6 */
/* lighter           : #cccccc */
/* lightest          : #f2f2f2 */
/* */
/* blue-dark         : #333399 */
/* blue-darker       : #262673 */
/* blue-darkest      : #19194d */
/* blue-light        : #7979d2 */
/* blue-lighter      : #b3b3e6 */
/* blue-lightest     : #d9d9f2 */
/* */
/* red-dark          : #993333 */
/* red-darker        : #732626 */
/* red-darkest       : #4d1919 */
/* red-light         : #d27979 */
/* red-lighter       : #e6b3b3 */
/* red-lightest      : #f2d9d9 */
/* */
/* green-dark        : #339933 */
/* green-darker      : #267326 */
/* green-darkest     : #194d19 */
/* green-light       : #79d279 */
/* green-lighter     : #b3e6b3 */
/* green-lightest    : #d9f2d9 */
/* */
/* yellow-dark       : #9c7b16 */
/* yellow-darker     : #59460d */
/* yellow-darkest    : #2d2306 */
/* yellow-light      : #e9c763 */
/* yellow-lighter    : #f2dfa6 */
/* yellow-lightest   : #f9efd2 */
/* Typography ---------------------------------------------------------------- */
.serif, body { font-family: Cambria, Georgia, serif; }

.sans { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.mono, pre, code, tt { font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif; }

.caps, .allcaps, h1, h4, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"], .smallcaps { letter-spacing: 0.1em; }

.allcaps, h1, h4, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"] { text-transform: uppercase; }

.smallcaps { font-variant: small-caps; }

/* Layout -------------------------------------------------------------------- */
.full { display: block; float: none; width: auto; }

.half { max-width: 50%; }

.left { display: inline; float: left; margin-right: 1em; margin-bottom: 0.5em; }

.right { display: inline; float: right; margin-left: 1em; margin-bottom: 0.5em; }

/* Root ---------------------------------------------------------------------- */
body { font-size: 100%; line-height: 1.5em; }

html > body { font-size: 16px; }

html { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { color: #404040; }

/* Selected Text ------------------------------------------------------------- */
::-webkit-selection { color: black; background: #7979d2; text-shadow: none; }

::-moz-selection { color: black; background: #7979d2; text-shadow: none; }

::selection { color: black; background: #7979d2; text-shadow: none; }

/* Links --------------------------------------------------------------------- */
a:hover, a:active { outline: none; }
a:link, a:visited { color: #7979d2; text-decoration: none; }
a:focus, a:hover, a:active { color: #993333; }

/* Headings ------------------------------------------------------------------ */
h1 { font-size: 2.25em; line-height: 1.333em; }

h2 { font-size: 1.5em; line-height: 1.5em; font-weight: 700; font-style: italic; }

h3 { font-size: 1.25em; line-height: 1.8em; }

h5 { font-weight: 700; }

h6 { font-style: italic; }

/* Inline -------------------------------------------------------------------- */
cite, em, dfn, address, i { font-style: italic; }

strong, dfn, b { font-weight: 700; }

sup, sub { position: relative; font-size: smaller; line-height: 0; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }

mark { background: #ffff99; background-color: rgba(255, 255, 0, 0.5); text-shadow: none; }

small { font-size: 0.75em; line-height: 2em; }

q { font-style: italic; }
q em { font-style: normal; }

/* Block --------------------------------------------------------------------- */
p { margin-bottom: 1.5em; }
p:empty { display: none; }

pre { padding: 1.5em; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

blockquote { padding: 1.5em; font-style: italic; }

/* Interactive --------------------------------------------------------------- */
details { margin-bottom: 1.5em; }

summary { display: inline; cursor: pointer; }
summary:focus { outline: thin dotted #993333; }

.no-details details > * { display: none; }
.no-details details summary { display: inline; }

/* Replaced ------------------------------------------------------------------ */
figure img, figure object, figure embed { vertical-align: top; max-width: 100%; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/* Lists --------------------------------------------------------------------- */
ol, ul, dd { margin-left: 1.5em; }

ol { list-style-type: decimal; }

ul { list-style-type: disc; }
nav ul { margin: 0; padding: 0; border: 0; list-style: none; }
nav ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

dt { margin-top: 1.5em; }

/* Tables -------------------------------------------------------------------- */
table { margin-bottom: 1.5em; width: 100%; border-collapse: separate; border-spacing: 0; }

table, td, th { vertical-align: top; }

th, thead th { font-weight: bold; }

th, td, caption { padding: 0.75em; text-align: left; font-weight: normal; }

table, th { border-bottom-style: solid; border-bottom-width: 0.063em; padding-bottom: 0.688em; }

tfoot { font-size: 0.875em; line-height: 1.714em; }

/* Forms --------------------------------------------------------------------- */
/* Form Resets --------------------------------------------------------------- */
input[type="button"], input[type="submit"], input[type="image"], label, button { cursor: pointer; }

input[type="search"] { -webkit-appearance: none; }
input[type="search"]::-webkit-search-decoration { display: none; }
input[type="radio"], input[type="checkbox"] { vertical-align: baseline; }

textarea { overflow: auto; resize: vertical; }

button, input[type="select"], select, textarea { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }

optgroup { margin: 0; padding: 0; border: 0; }

optgroup { color: #404040; font-style: normal; font-weight: normal; }

.iem7 legend { margin-left: -7px; }

::-moz-focus-inner { border: 0; }

/* Placeholders -------------------------------------------------------------- */
/* Basic --------------------------------------------------------------------- */
form > ul { margin: 0; padding: 0; border: 0; list-style: none; }
form > ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
form > ul > li { *zoom: 1; }
form > ul > li:after { content: ""; display: table; clear: both; }

/* Text Inputs --------------------------------------------------------------- */
.textinput, textarea, select:not([multiple]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 0.875em; line-height: 1.714em; border-style: solid; border-width: 0.071em; padding: 0.357em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 2.571em; vertical-align: top; outline: 0; }

.input[disabled], textarea[disabled], select[disabled] { background-color: #eeeeee; color: #666666; }
.input:valid, textarea:valid, select:valid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; }
.input:valid:focus, textarea:valid:focus, select:valid:focus, .input:valid.hadfocus, textarea:valid.hadfocus, select:valid.hadfocus { -moz-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; }
.no-boxshadow .input:valid:focus, .no-boxshadow textarea:valid:focus, .no-boxshadow select:valid:focus, .no-boxshadow .input:valid.hadfocus, .no-boxshadow textarea:valid.hadfocus, .no-boxshadow select:valid.hadfocus { background-color: rgba(0, 128, 0, 0.25); }
.input:invalid, textarea:invalid, select:invalid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; }
.input:invalid:focus, textarea:invalid:focus, select:invalid:focus, .input:invalid.hadfocus, textarea:invalid.hadfocus, select:invalid.hadfocus { -moz-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; }
.no-boxshadow .input:invalid:focus, .no-boxshadow textarea:invalid:focus, .no-boxshadow select:invalid:focus, .no-boxshadow .input:invalid.hadfocus, .no-boxshadow textarea:invalid.hadfocus, .no-boxshadow select:invalid.hadfocus { background-color: rgba(255, 0, 0, 0.25); }
.ie7 .input, .ie7 textarea, .ie7 select { height: auto; }

textarea { height: auto; min-height: 8.571em; }
textarea::-webkit-input-placeholder { color: gray; }
textarea:-moz-placeholder { color: gray; }
textarea.placeholder { color: gray; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder { color: gray; }
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="color"]:-moz-placeholder { color: gray; }
input[type="text"].placeholder, input[type="password"].placeholder, input[type="email"].placeholder, input[type="url"].placeholder, input[type="tel"].placeholder, input[type="date"].placeholder, input[type="datetime"].placeholder, input[type="datetime-local"].placeholder, input[type="month"].placeholder, input[type="week"].placeholder, input[type="time"].placeholder, input[type="number"].placeholder, input[type="search"].placeholder, input[type="color"].placeholder { color: gray; }

/* Buttons ------------------------------------------------------------------- */
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { margin: 0; padding: 0; border: 0; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; text-shadow: none; overflow: visible; width: auto; vertical-align: baseline; background: none; color: inherit; font: inherit; }
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { *display: inline; }

.button, button, input[type="reset"], input[type="submit"], input[type="button"] { font-size: 0.75em; line-height: 1em; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; border-style: solid; border-width: 0.083em; padding: 0.417em; padding-left: 1.5em; padding-right: 1.5em; background: #cccccc; border-color: #a6a6a6; vertical-align: top; cursor: pointer; color: black; font-weight: bold; }
.button:hover, button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus { -moz-box-shadow: #993333 0 0 0.5em; -webkit-box-shadow: #993333 0 0 0.5em; -o-box-shadow: #993333 0 0 0.5em; box-shadow: #993333 0 0 0.5em; }
.button:active, button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active { -moz-transition-property: none; -webkit-transition-property: none; -o-transition-property: none; transition-property: none; -moz-transition-duration: 1s; -webkit-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; -moz-box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; -webkit-box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; -o-box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(166, 166, 166, 0.25)), color-stop(100%, rgba(166, 166, 166, 0))), #7979d2; background: -webkit-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -moz-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -o-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -ms-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; }
.button[disabled], button[disabled], input[disabled][type="reset"], input[disabled][type="submit"], input[disabled][type="button"] { color: #888888; }

/* Form Helpers -------------------------------------------------------------- */
.errorlist { margin: 0; padding: 0; border: 0; list-style: none; color: red; }
.errorlist li { list-style-image: none; list-style-type: none; margin-left: 0px; }

.form-actions { text-align: right; }

.loading { position: relative; }
.loading .overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; font-weight: 700; background: rgba(242, 242, 242, 0.667); color: rgba(64, 64, 64, 0.667); text-align: center; }

.message { padding-left: 2.25em; padding-right: 0.75em; background: rgba(204, 204, 204, 0.667) no-repeat scroll 0.75em; }
.message.info { background-image: url('../images/ui/info.png?1309192797'); background-color: rgba(179, 179, 230, 0.444); }
.message.success { background-image: url('../images/ui/check.png?1309192797'); background-color: rgba(179, 230, 179, 0.444); }
.message.warning { background-image: url('../images/ui/warning.png?1309192797'); background-color: rgba(242, 223, 166, 0.444); }
.message.error { background-image: url('../images/ui/x.png?1309192797'); background-color: rgba(230, 179, 179, 0.444); }

#messages ul { margin: 0; padding: 0; border: 0; list-style: none; }
#messages ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

body { padding: 1.5em 0; }

.xssection, [role="banner"], [role="main"] > section, footer[role="contentinfo"] { position: relative; padding: 0 1.5em; }

#logo:link, #logo:visited { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/logo.png?1309197105'); background-repeat: no-repeat; background-position: 50% 50%; display: block; height: 2.667em; }

[role="main"] { margin-bottom: 1.5em; padding: 0.75em 0; }

footer[role="contentinfo"] .colophon { font-style: italic; }
footer[role="contentinfo"] .fn.org { font: inherit; }

#home > hgroup { padding: 0 1.5em; }
#home > hgroup h2 { margin-bottom: 0.667em; }
#home > hgroup h3 { margin-bottom: 1em; }
#home section { padding: 0 1.5em; }
#home #work h3, #home #process h3 { padding-bottom: 5em; margin-bottom: 0.5em; background: url(http://placekitten.com/g/192/96) no-repeat scroll center bottom; }
#home .hcard { padding-left: 96px; min-height: 6em; background: url(http://placekitten.com/g/84/84) no-repeat scroll left top; }
#home .hcard:nth-of-type(even) { background-position: right top; padding: 0 96px 0 0; }

#contact-form label { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

#colophon { margin-bottom: 1.5em; font-style: italic; }
#colophon h2 { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

/* Layout ------------------------------------------------------------------ */
body > div { *zoom: 1; margin: auto; width: 31em; max-width: 100%; padding-left: 0; padding-right: 0; }
body > div:after { content: ""; display: table; clear: both; }

[role="banner"] { clear: both; margin-left: 3.226%; margin-right: 3.226%; }

[role="main"] { clear: both; margin-left: 3.226%; margin-right: 3.226%; }

#colophon { clear: both; margin-left: 3.226%; margin-right: 3.226%; }

[role="contentinfo"] { clear: both; margin-left: 3.226%; margin-right: 3.226%; }

/* Layout ------------------------------------------------------------------ */
body > div { *zoom: 1; margin: auto; width: 61em; max-width: 100%; padding-left: 0; padding-right: 0; }
body > div:after { content: ""; display: table; clear: both; }

[role="banner"] { display: inline; float: left; width: 22.951%; margin-right: 1.639%; margin-left: 1.639%; }
[role="banner"] a:link, [role="banner"] a:visited { height: 1.778em; }

[role="main"] { margin: 0; clear: none; display: inline; float: left; width: 72.131%; margin-right: 1.639%; display: inline; float: right; margin-right: 1.639%; #margin-left: -1em; }

#colophon { clear: both; margin-left: 1.639%; margin-right: 1.639%; }

[role="contentinfo"] { clear: both; margin-left: 1.639%; margin-right: 1.639%; }

h1 { font-size: 3.375em; line-height: 1.333em; }

h2 { font-size: 2.25em; line-height: 1.333em; }

h3 { font-size: 1.5em; line-height: 1.5em; }
