// Banner
// ======

@include colors((
  banner: 'blue' (shade: 40%),
));

$angle: (
  size: size(logo),
  color: color(banner),
);

@mixin angle(
  $v: top,
  $h: left
) {
  @include background(
    linear-gradient(to $v $h,
      color(back) 50%,
      rgba(color(back), 0) 50%
    ) no-repeat scroll,
    linear-gradient(to $v $h,
      rgba(color('black'), .5),
      rgba(color('black'), 0) 62%
    ) map-get($angle, color)
  );
  @include background-size(100% map-get($angle, size), auto);
  background-position: opposite-position($v) opposite-position($h);
}

[role="banner"] {
  @include angle(top, left);
  padding: size(normal);
  text-align: center;

  [rel="home"] {
    #{$link} {
      @include font-size(logo);
      @include transition(all 150ms ease-in-out);
      @include transform-origin(top, center);
      color: color(back);
      display: inline-block;
    }

    #{$focus} {
      @include scale3d(1.25, 1.25, 1.25);
      text-decoration: none;
    }
  }

  [data-icon="oddbird"] {
    vertical-align: top;
  }
}
