// Birds
// =====


// H-Cards
// -------

.p-name { font-weight: bold; }

.bio-links {
  @extend %serif;
  @include font-size(small);
  font-style: italic;
}

[bio-link] {
  @include gutters(before);
  display: inline-block;

  &:first-child { margin-left: 0; }
}


// Birds
// -----

$birds: carl, jonny, eric, claudina, sondra;

[data-location="birds"] {
  .title { @extend %tagline; }
}

.bird {
  @include gutters;
  @include background(no-repeat scroll center size(gutter));
  @include background-size(size(face));
  padding-bottom: size(gutter);
  padding-top: size(face) + size(gutter);

  .birds & {
    border-top: 2px dashed color(border);
  }

  .archive & {
    border-bottom: 2px dashed color(border);
    margin-bottom: size(gutter);
  }

  @include breakpoint(30em) {
    @include background-size(span(1.75) auto);
    background-position: left center;
    min-height: span(1.75 static);
    padding-left: span(1.75 wide);
    padding-top: size(gutter);

    &:nth-child(even) {
      background-position: right center;
      padding-left: gutter();
      padding-right: span(1.75);
    }
  }

  @each $bird in $birds {
    &.#{$bird} {
      background-image: image-url('#{$bird}.png');
    }
  }

  .bio {
    margin-bottom: size(shim);
  }
}
