// Blog Styles
// ===========

[data-default-styles] {
  @extend %type;
}

.blog-index {
  .title {
    @extend %tagline;
  }
}

.post--list {
  & + & {
    @include before('+ + +') {
      color: color(fade);
      display: block;
      margin: size(gutter);
      text-align: center;
    }
  }
}

.byline {
  @include font-size(small);
  color: color(fade);
  margin-bottom: size(gutter);

}

.more-link {
  @extend %serif;
  @include after(' »');
  font-style: italic;
}

.comments {
  @include font-size(small);
  border-top: 2px dashed color(border);
  color: color(fade);
  margin-top: size(spacer);
  padding: size(shim);
  text-align: center;
}

.pagination {
  @extend %serif;
  @include font-size(small);
  color: color(fade);
  font-style: italic;
  text-align: center;

  .prev,
  .next {
    padding: 0 size(shim);

    #{$link} {
      color: color(action);
    }

    #{$focus} {
      color: color(focus);
    }
  }

  .location {
    @include wrap-content(' • ');
  }

  .now,
  .context {
    color: color(text);
    display: inline-block;
    font-style: normal;
    margin: 0 size(shim);
    vertical-align: middle;
  }

  .now {
    @include font-size(largest);
  }

  .context {
    @include font-size(larger);
  }
}
