// Demos
// =====

.subpixel-demo {
  @include with-layout(auto 12 show-columns after) {
    @include container;
    margin-bottom: size(rhythm);

    > * {
      background: rgba(#fff, .5);
      box-sizing: border-box;
      margin: size(shim) 0;
      outline: 1px solid #900;
      padding: size(shim) 0;
      text-align: center;
    }

    .span {
      @include span(6);
    }

    .isolate {
      @include span(6);
      @include isolate(3);
    }

    .first {
      @include span(3);
      @include isolate(2);
    }

    .second {
      @include span(4);
      @include isolate(9);
    }

    .third {
      @include span(6);
      @include isolate(4);
    }

    .gallery-item {
      @include gallery(1);
    }

    .gallery-item2 {
      @include gallery(3);
    }
  }
}

.bleed-demo {
  @include with-layout(auto 9 show-columns after) {
    @include container;
    margin: size(rhythm)*3 0;

    > * {
      background: rgba(#fff, .5);
      margin: size(shim) 0;
      outline: 1px solid #900;
      padding: size(shim) 0;
      text-align: center;
    }

    span {
      @include span(full);
      @include bleed(1);
    }
  }
}

.bleed-sides-demo {
  @include with-layout(auto 9 show-columns after) {
    @include container;
    margin: size(rhythm)*3 0;

    > * {
      background: rgba(#fff, .5);
      margin: size(shim) 0;
      outline: 1px solid #900;
      padding: size(shim) 0;
      text-align: center;
    }

    span {
      @include span(full);
      @include bleed(3em 6px  6px 3);
    }
  }
}
