// Org
// ===

$org-border: (
  width: 2px,
  color: rgba(color(banner), .25),
  style: dashed,
);


.company {
  margin-bottom: size(gutter);

  .h-card {
    @include display-flex;
    @include flex-direction(column-reverse);
  }

  .bio {
    @extend %h3;
    @include gutters;
    @include h-borders(map-get($org-border, width), 1);
    border: {
      color: map-get($org-border, color);
      style: map-get($org-border, style);
    }
    margin: 0;
  }

  .bio-links {
    @include gutters;
    text-align: center;
  }

  [bio-link='birds'] {
    @include background(image-url('birds.png') no-repeat scroll center);
    @include background-size(100% auto);
    display: block;
    height: 0;
    margin-bottom: 0 - size(gutter);
    padding-top: percentage(image-height('birds.png') / image-width('birds.png'));
    text-indent: -9999px;
    width: 100%;
  }
}

%odd-intro {
  @include font-size(small);

  h2 { @extend %is-hidden; }
}

[id="odd-projects"] {
  @extend %odd-intro;
  @include gutters;
  margin-bottom: size(gutter);
}

[id="odd-process"] {
  @extend %odd-intro;
  counter-reset: process;

  li {
    @include gutters;
    counter-increment: process;
    margin-bottom: size(shim);

    @include before(counter(process, decimal-leading-zero) '. ') {
      color: color(fade);
    }

    strong {
      text-transform: uppercase;
    }

    @include breakpoint(35em) {
      @include gallery(2);
    }
  }
}

