// Tagline
// =======

%tagline {
  @extend %h1;
  @include gutters;
  color: color(banner);
  margin-bottom: size(gutter);
  font-style: italic;
  text-align: center;
}

[data-location="home"] {
  .title { @extend %tagline; }
}
