// Color Configuration
// ===================



// Dependencies
// ------------

@import '../../node_modules/accoutrement-color/sass/color';
@import '../../node_modules/mathsass/dist/math';



// Brand Colors
// ------------
/// hello, brand colors!
$brand-colors: (
  'brand-blue': hsl(195, 85%, 62%),
  'brand-orange': hsl(24, 100%, 62%),
);



// UI Colors
// ---------

$ui-colors: (
  'contrast-light': 'brand-blue' ('tint': 90%),
  'contrast-dark': 'brand-blue' ('shade': 75%),
);



// Theme Colors
// ------------

$theme-colors: (
  'text': 'contrast-dark',
  'background': 'contrast-light',
  'border': 'text' ('tint': 60%),
  'action': 'brand-orange' ('darken': 25%),

  'callout': 'background' ('shade': 10%),
);



// Color Palette
// -------------

@function color-palette(
  $maps...
) {
  $return: ();

  @each $map in $maps {
    $return: map-merge($return, $map);
  }

  @return $return;
}

@mixin color-palette (
  $maps...
) {
  $colors: color-palette($maps...) !global;
}

@include color-palette(
  $brand-colors,
  $ui-colors,
  $theme-colors
  );
