// Color Configuration
// ===================

@import '../../node_modules/accoutrement-color/sass/color';
@import '../../node_modules/mathsass/dist/math';

$brand-colors: (
  'black': #333,
  'white': #fff,

  'blue': hsl(195, 85%, 62%),
  'orange': hsl(24, 100%, 62%),
  'yellow': hsl(45, 85%, 62%),
  'green': hsl(75, 65%, 62%),
  'pink': hsl(330, 85%, 62%),
  'red': hsl(0, 85%, 62%),
);

$theme-colors: (
  'text': 'black',
  'background': 'blue' ('tint': 95%),
  'border': 'text' ('tint': 60%),
  'action': 'orange' ('darken': 25%),

  'contrast-light': 'white',
  'contrast-dark': 'black',
);

$colors: map-merge($brand-colors, $theme-colors);
