{% import 'utility.macros.j2' as utility %}
{% import "birds/macros.j2" as birds %}

{% set posts = get_blog_entries_by_bird(author) %}

{% if module.show %}
  {% for author in module.show %}
    {% set page = all_pages|filter_pages('bird', 'eq', author)|first %}
    {# @@@ Moving OSS data into pages will help clean this up... #}
    {% set oss = config.oss_by_author[author] %}

    {{ birds.section(page, oss, posts) }}
  {% endfor %}
{% else %}
  {% for page in all_pages|filter_pages('bird') %}
    {% set author = page.config.bird %}
    {# @@@ Moving OSS data into pages will help clean this up... #}
    {% set oss = config.oss_by_author[author] %}

    {{ birds.section(page, oss, posts) }}
  {% endfor %}
{% endif %}
