{% import 'utility.macros.j2' as utility %}
{% import "birds/macros.j2" as birds %}


{% if config.birds %}
<section data-module="birds">
  {% set all_posts = get_recent_blog_entries(1000) %}

  {% for bird in config.birds %}
    {% set posts = all_posts|selectattr('author', 'equalto', bird.author)|list %}

    {{ birds.card(bird, posts) }}
  {% endfor %}

  {% if config.birds_former and module.show_former %}
    <h3 class="subtitle">Birds Emeritus</h3>
    <ul>
      {% for bird in config.birds_former %}
        {% set bird_url = link_to('author', author=bird.author) if bird.author else bird.url %}
        <li>{{ utility.link_if(bird.name, bird_url) }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</section>
{% endif %}
