{% import 'utility.macros.j2' as utility %}
{% import "birds/macros.j2" as birds %}


{# @@@ I'd rather filter this list down to `bird` pages before looping #}
{% set bird_pages = all_pages|filter_pages('bird') %}


{% for page in bird_pages %}
  {{ birds.section(page, config) }}
{% endfor %}
