{% import "utility.macros.j2" as utility %}
{% import "content.macros.j2" as content %}
{% import "blog/utility.macros.j2" as blog %}
{% import "birds/utility.macros.j2" as birds %}
{% import "community/events.macros.j2" as events %}


{% macro details(page) %}
  {% set author = page.config.bird %}
  {{ events.speaking(author) }}
  {{ feature_talks(author) }}
  {{ oss_list(author, page) }}
{% endmacro %}


{% macro list(author=none, page=none) %}
  {% set page = page or all_pages|filter_pages('bird', 'eq', author)|get_page %}
  {% set author = author or page.config.bird %}

  <div data-module="bird" class="h-card" id="bird-{{ author }}">
    <h2 class="name">
      {{ birds.name_link(author, page) }}
    </h2>

    {% call content.media_block(
      media=birds.face(author)
    ) %}
      {{ birds.social_list(
        data=page.config.social,
        bird_name=author|capitalize
        ) }}
    {% endcall %}

    <div class="bio">
      {{ page.render_summary() }}
    </div>

    {{ content.link_button(
      url=birds.get_bird_url(author, page),
      content="See %s's activity" % author|capitalize
      ) }}
  </div>
{% endmacro %}


{% macro feature_talks(author=none) %}
  {% set talks = all_pages|filter_pages('speakers')|filter_pages('brag') %}
  {% set talks = talks|filter_pages('speakers', 'has', author) if author else talks %}

  {% if talks|length %}
    <section data-module="feature-talks">
      {% for talk in talks %}
        <article class="feature-talk">
          <h3 class="feature-talk-title">
            {{ utility.link_if(
              url=content.page_link(talk),
              content=talk.title
              ) }}
          </h3>
          <div class="feature-talk-brag">
            {{ talk.config.brag|rst }}
          </div>
        </article>
      {% endfor %}
    </section>
  {% endif %}
{% endmacro %}


{% macro blog_list(posts) %}
  {% if posts|length %}
    <div class="bird-posts">
      <h3>Recent Articles</h3>
      <ul class="title-list">
        {% for post in posts %}
          {% if loop.index < 4 %}
            <li>
              {{ blog.link(post) }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}


{% macro oss_list(author, page) %}
  {% set oss = page.config.oss_by_author[author] %}

  {% if oss %}
    <div class="bird-posts">
      <h3>Open Source Contributions</h3>
      <ul class="title-list">
        {% for item in oss %}
          {% set project = item.config.project[0] %}
          {% set contrib = item.config.contributors|selectattr('author', 'equalto', author)|list %}
          <li>
            {{ utility.link_if(
              project.name or item.title,
              content.project_link(item, allow_external=true)
              ) }}
            [{{ contrib[0].role }}]
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
