{% import "utility.macros.j2" as utility %}
{% import "blog/utility.macros.j2" as blog %}
{% import "birds/utility.macros.j2" as birds %}


{% macro section(author=none, page=none) %}
  {% set page = page or all_pages|filter_pages('bird', 'eq', author)|get_page %}
  {% set author = author or page.config.bird %}

  <div data-module='bird' class="h-card" id="bird-{{ author }}">
    {{ birds.face(author) }}

    <header>
      <h2 class="h-card">
        {{ birds.name_link(author) }}
      </h2>

      <ul class="socials">
        {% set links = page.config.social[0] %}
        {% for link in links %}
          <li>{{ birds.get_social(link, links[link]) }}</li>
        {% endfor %}
      </ul>
    </header>

    <div class="bio">
      {{ page.render_contents() }}
    </div>

    {{ oss_list(author, page) }}
    {{ blog_list(posts=get_blog_entries_by_bird(author)) }}
  </div>
{% endmacro %}


{% macro blog_list(posts) %}
  {% if posts|length %}
    <div class="bird-posts">
      <h3>Recent Articles</h3>
      <ul class="title-list">
        {% for post in posts %}
          {% if loop.index < 4 %}
            <li>
              {{ blog.link(post) }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}


{% macro oss_list(author, page) %}
  {% set oss = page.config.oss_by_author[author] %}

  {% if oss %}
    <div class="bird-posts">
      <h3>Open Source</h3>
      <ul class="title-list">
        {% for item in oss %}
          {% set project = item.config.project[0] %}
          {% set contrib = item.config.contributors|selectattr('author', 'equalto', author)|list %}
          <li>
            {{ utility.link_if(
              project.name or item.title,
              project.url or ['/', item.slug, '/']|join('')
              ) }}
            [{{ contrib[0].role }}]
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
