{% import "utility.macros.j2" as utility %}


{% macro section(page, config) %}
  {% set author = page.config.bird %}
  {% set oss = config.oss_by_author[author] %}

  <div data-module='bird' class="h-card" id="bird-{{ author }}">
    {{ utility.icon(author, size='face') }}

    <header>
      {{ title(page.title, author) }}
      {{ link_list(page.config.social[0]) }}
    </header>

    {{ page.render_contents() }}

    {{ oss_list(author, oss) }}
  </div>
{% endmacro %}


{% macro card(page, details=false) %}
  {% if details %}
    <div class="h-card">
      {{ utility.icon(page.config.bird, size='face') }}

      {{ page.render_summary() }}

      <ul>
        {% for link in page.config.social[0] %}
          {% if link in ['twitter', 'github'] %}
            {{ get_link(link, page.config.social[0][link]) }}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <span class="h-card">
      <a href="/birds/#bird-{{ page.config.bird }}">
        {{ page.title }}
      </a>
    </span>
  {% endif %}
{% endmacro %}


{% macro get_card(author, details=false) %}
  {% for page in all_pages %}
    {% if page.config.bird == author %}
      {{ card(page, details=details) }}
    {% endif %}
  {% endfor %}
{% endmacro %}


{% macro title(name, author, no_posts=none) %}
  <h2>
    {% if no_posts %}
      {{ name }}
    {% else %}
      <a href="{{ link_to('author', author=author) }}" class="u-url">
        {{ name }}
      </a>
    {% endif %}
  </h2>
{% endmacro %}


{% macro link_list(links) %}
  {% if links %}
  <div>
    {% for link in links %}
      {{ get_link(link, links[link]) }}
    {% endfor %}
  </div>
  {% endif %}
{% endmacro %}


{% macro get_link(name, user) %}
  {% set locations = {
    'twitter': 'https://twitter.com/%s/',
    'github': 'https://github.com/%s/',
    'lanyrd': 'https://lanyrd.com/profile/%s/',
    'stackoverflow': 'https://stackoverflow.com/users/%s/',
    'dribbble': 'https://dribbble.com/%s/',
    'codepen': 'https://codepen.io/%s/'
  } %}

  {% set displays = {
    'twitter': '@%s',
    'github': '%s',
    'dribbble': '%s'
  } %}

  {% set url = locations[name]|format(user) if locations[name] else none %}
  {% set username = displays[name]|format(user) if displays[name] else name %}

  <a href="{{ url }}" rel="me">
    {{ utility.icon(name) }}
    {{ username or user }}
  </a>
{% endmacro %}


{% macro list_wrapper(title, slug, list) %}
  {% if list %}
    <div>
      <h3>{{ title }}</h3>
      <ul>
        {{ caller() }}
      </ul>
    </div>
  {% endif %}
{% endmacro %}


{% macro list_item(name, url, extra=none) %}
  <li>
    {{ utility.link_if(name, url) }}
    {% if exrta %}
      [{{ extra }}]
    {% endif %}
  </li>
{% endmacro %}


{% macro blog_list(posts) %}
  {% call list_wrapper('Blog Posts', 'blog', posts) %}
    {% for entry in posts %}
      {% if loop.index < 4 %}
        {{ list_item(
          name=entry.title,
          url=link_to('page', slug=entry.slug)
        ) }}
      {% endif %}
    {% endfor %}
  {% endcall %}
{% endmacro %}


{% macro oss_list(author, oss) %}
  {% call list_wrapper('Open-Source', 'oss', oss) %}
    {% for item in oss %}
      {% set oss_author = item.who|selectattr('author', 'equalto', author)|list %}

      {% if oss_author|length > 0 %}
        {% set oss_author = oss_author[0] %}

        {{ list_item(item.name, item.url or item.source, oss_author.role) }}
      {% endif %}
    {% endfor %}
  {% endcall %}
{% endmacro %}
