{% import "utility.macros.j2" as utility %}

{% macro card(page, details=false, class=none) %}
  {% if details == 'birdpage' %}
    <div class="h-card birdpage-social" data-media-block>
      {{ face(page.config.bird, 'media-image') }}

      <div class="media-content">
        {{ social_list(
          data=page.config.social,
          bird_name=page.config.bird|capitalize
        ) }}
      </div>
    </div>
  {% elif details %}
    <div class="h-card {{ [' ', class]|join if class else '' }}" data-media-block>
      {{ face(page.config.bird, 'media-image') }}

      <div class="bio-short media-content">
        {{ page.config.short_bio|rst if page.config.short_bio else page.render_summary() }}
        {{ social_list(
          data=page.config.social,
          filters=['twitter', 'github']
        ) }}
      </div>
    </div>
  {% else %}
    <span class="h-card">
      {{ name_link(page.config.bird, page) }}
    </span>
  {% endif %}
{% endmacro %}


{% macro face(author, class=none) %}
  <div class='bird-face' {{ utility.attr_if('class', class) }}>
    {{ utility.icon(author, size='face') }}
  </div>
{% endmacro %}


{% macro get_card(author, details=false) %}
  {{ card(
    page=all_pages|filter_pages('bird', 'eq', author)|get_page,
    details=details
  ) }}
{% endmacro %}


{% macro get_bird_name(
  author=none,
  page=none,
  full_name=true
) -%}
  {%- set page = page or all_pages|filter_pages('bird', 'eq', author)|get_page -%}
  {%- set author = author or page.config.bird -%}
  {%- set name = 'OddBird' if (author == 'oddbird') else author|capitalize -%}
  {%- set name = page.title if (full_name and page) else name -%}
  {{ name }}
{%- endmacro %}


{% macro get_bird_url(
  author=none,
  page=none,
  blog=true
) %}
  {%- set page = page or all_pages|filter_pages('bird', 'eq', author)|get_page -%}
  {%- set author = author or page.config.bird -%}
  {%- set former = page.config.former[0] if page.config.former else none -%}
  {%- set bio = former.url if former else ['/birds/#bird', author]|join('-') -%}

  {%- if blog -%}
    {%- set has_posts = get_blog_entries_by_bird(author)|length -%}
    {%- set blog_url = link_to('author', author=author) if has_posts else none -%}
    {{ blog_url or bio }}
  {%- else -%}
    {{ bio }}
  {%- endif -%}
{% endmacro %}


{% macro get_og_author(author) -%}
  {% set page = all_pages|filter_pages('bird', 'eq', author)|get_page %}
  {%- if page and page.config.og and page.config.og[0].facebook -%}
    <meta property="article:author" content="https://www.facebook.com/{{ page.config.og[0].facebook }}" />
  {%- endif -%}
{%- endmacro %}


{% macro get_og_twitter_creator(author) -%}
  {% set page = all_pages|filter_pages('bird', 'eq', author)|get_page %}
  {%- if page and page.config.og and page.config.og[0].twitter -%}
    <meta property="twitter:creator" content="@{{ page.config.og[0].twitter }}" />
  {%- endif -%}
{%- endmacro %}


{% macro name_link(
  author=none,
  page=none,
  blog=true,
  full_name=true
) %}
  {% set name = get_bird_name(author, page, full_name) %}
  {% set url = get_bird_url(author, page, blog) %}
  {% set url = none if ('None' in url) else url %}

  {{ utility.link_if(name, url, class='h-card') }}
{% endmacro %}


{% macro social_list(data, filters=none, bird_name=none) %}
  {% set data = data[0] if data else none %}

  {% if data %}
    <ul class="socials">
      {% for link in data %}
        {% if (not filters) or (link in filters) %}
          <li class="social-item">
            {{ get_social(link, data[link], bird_name) }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{% macro get_social(name, user, bird_name=none) %}
  {% set locations = {
    'twitter': 'https://twitter.com/%s/',
    'github': 'https://github.com/%s/',
    'stackoverflow': 'https://stackoverflow.com/users/%s/',
    'dribbble': 'https://dribbble.com/%s/',
    'codepen': 'https://codepen.io/%s/',
  } %}

  {% set displays = {
    'twitter': '@%s',
    'github': '%s',
    'dribbble': '%s',
    'codepen': '%s',
  } %}

  {% set display_names = {
    'codepen': 'CodePen',
    'stackoverflow': 'Stack Overflow',
  } %}

  {% set url = locations[name]|format(user) if locations[name] else none %}
  {% set username = displays[name]|format(user) if displays[name] else (bird_name or user) %}

  <span class="social-item">
    <a class="icon-link" href="{{ url }}" rel="me">
      {{ utility.icon(name) }}
      <span class="icon-text">{{ username }}</span></a>
    <span class="meta-preposition">on</span>
    {{ display_names[name] or name|capitalize }}
  </span>
{% endmacro %}
