{% import "utility.macros.j2" as utility %}

{% macro card(page, details=false) %}
  {% if details %}
    <div class="h-card">
      {{ utility.icon(page.config.bird, size='face') }}

      <div class="bio-short">
        {{ page.render_summary() }}
      </div>

      <ul class="socials">
        {% for link in page.config.social[0] %}
          {% if link in ['twitter', 'github'] %}
            <li>{{ get_social(link, page.config.social[0][link]) }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <span class="h-card">
      {{ name_link(page.config.bird, page) }}
    </span>
  {% endif %}
{% endmacro %}


{% macro face(author) %}
  <div class="bird-face">
    {{ utility.icon(author, size='face') }}
  </div>
{% endmacro %}


{% macro get_card(author, details=false) %}
  {{ card(
    page=all_pages|filter_pages('bird', 'eq', author)|get_page,
    details=details
  ) }}
{% endmacro %}


{% macro get_bird_name(name) -%}
  {%- set page = all_pages|filter_pages('bird', 'eq', name)|get_page -%}
  {{ page.title or name }}
{%- endmacro %}


{% macro get_og_author(author) -%}
  {% set page = all_pages|filter_pages('bird', 'eq', author)|get_page %}
  {%- if page and page.config.og and page.config.og[0].facebook -%}
    <meta property="article:author" content="https://www.facebook.com/{{ page.config.og[0].facebook }}" />
  {%- endif -%}
{%- endmacro %}


{% macro get_og_twitter_creator(author) -%}
  {% set page = all_pages|filter_pages('bird', 'eq', author)|get_page %}
  {%- if page and page.config.og and page.config.og[0].twitter -%}
    <meta property="twitter:creator" content="@{{ page.config.og[0].twitter }}" />
  {%- endif -%}
{%- endmacro %}


{% macro name_link(author, page=none, fallback=none) %}
  {# Get the birds's page #}
  {% set page = page if page else all_pages|filter_pages('bird', 'eq', author)|get_page %}
  {# Set their name, if it's available #}
  {% set name = page.title or author %}
  {# Find out if they've written any posts #}
  {% set has_posts = get_blog_entries_by_bird(author)|length %}
  {# Get their author-url, if it's available #}
  {% set blog_url = link_to('author', author=author) if has_posts else none %}
  {# Link to blog-archive, birds-section, or none #}
  {% set url = blog_url or fallback or (['/birds/#bird', author]|join('-') if page else none) %}

  {{ utility.link_if(name, url) }}
{% endmacro %}


{% macro get_social(name, user) %}
  {% set locations = {
    'twitter': 'https://twitter.com/%s/',
    'github': 'https://github.com/%s/',
    'lanyrd': 'https://lanyrd.com/profile/%s/',
    'stackoverflow': 'https://stackoverflow.com/users/%s/',
    'dribbble': 'https://dribbble.com/%s/',
    'codepen': 'https://codepen.io/%s/'
  } %}

  {% set displays = {
    'twitter': '@%s',
    'github': '%s',
    'dribbble': '%s'
  } %}

  {% set url = locations[name]|format(user) if locations[name] else none %}
  {% set username = displays[name]|format(user) if displays[name] else name %}

  <a class="icon-link" href="{{ url }}" rel="me">
    {{ utility.icon(name) }}
    <span class="icon-text">{{ username or user }}</span>
  </a>
{% endmacro %}
