// Fonts Config
// ============



// Dependencies
// ------------

@import '~accoutrement-type/sass/type';



// Title Font
// ----------
/// hello title font...
/// @preview font-specimen; key: title
$title-font: (
  'name': 'BaskervilleFS',
  'stack': (Baskerville, Palatino, Cambria, Georgia, serif),
  'regular': 'serif/baskerville-regular-webfont',
  'italic': 'serif/baskerville-italic-webfont',
  'bold': 'serif/baskerville-bold-webfont',
  'bold' 'italic': 'serif/baskerville-bolditalic-webfont',
);



// Body Font
// ---------
/// hello body font...
/// @preview font-specimen; key: body
$body-font: (
  'name': 'SourceSansPro',
  'stack': ('Helvetica Neue', Helvetica, Arial, sans-serif),
  'regular': 'sans/sourcesanspro-regular-webfont',
  'italic': 'sans/sourcesanspro-italic-webfont',
  'bold': 'sans/sourcesanspro-bold-webfont',
  'bold' 'italic': 'sans/sourcesanspro-bolditalic-webfont',
);



// Code Font
// ---------
/// hello code font...
/// @preview font-specimen; key: code
$code-font: (
  'name': 'SourceCodePro',
  'stack': (Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace),
  'regular': 'code/sourcecodepro-regular-webfont',
  'bold': 'code/sourcecodepro-bold-webfont',
);



// Font Palette
// ------------

@include set-fonts(
  (
    'title': $title-font,
    'body': $body-font,
    'code': $code-font,
  )
);
