// Buttons
// =======

@mixin button(
  $bg: color(back),
  $reset: true
) {
  $color: contrast-color($bg);

  @if $reset {
    @extend %button-reset;
  }

  background: $bg;
  border-radius: size(radius);
  color: $color;

  #{$focus} {
    background: shade($bg, 15%);
  }

  &:disabled {
    background: desaturate($bg, 100%);
    color: rgba($color, .5);
    cursor: default;
  }
}


// Reset
// -----

%button-reset {
  @include reset-box-model;
  width: auto;
  background: none;
  color: color(text);
  font: inherit;
  cursor: pointer;
  overflow: visible;

  #{$focus} { outline: 0; }
}


// Defaults
// --------

%button {
  @extend %button-reset;

  &--default {
    @include button($reset: false);
  }

  &--primary {
    @include button(color(action), $reset: false);
  }
}
