// ----------------------------------------------------------------------------
// Colors

$mid              : hsl(0,0%,50%);
$blue             : hsl(195,100%,50%);
$orange           : hsl(24,100%,50%);
$green            : hsl(75,100%,50%);
$pink             : hsl(330,100%,50%);

$dark             : darken($mid,15);
$darker           : darken($mid,25);
$darkest          : darken($mid,50);
$light            : lighten($mid,15);
$lighter          : lighten($mid,30);
$lightest         : lighten($mid,40);
$hint             : lighten($mid,45);

$blue-dark        : darken($blue,10);
$blue-darker      : darken($blue,20);
$blue-darkest     : darken($blue,30);
$blue-light       : lighten($blue,15);
$blue-lighter     : lighten($blue,30);
$blue-lightest    : lighten($blue,40);
$blue-hint        : lighten($blue,45);

$orange-dark      : darken($orange,10);
$orange-darker    : darken($orange,20);
$orange-darkest   : darken($orange,30);
$orange-light     : lighten($orange,15);
$orange-lighter   : lighten($orange,30);
$orange-lightest  : lighten($orange,40);
$orange-hint      : lighten($orange,45);

$green-dark       : darken($green,10);
$green-darker     : darken($green,20);
$green-darkest    : darken($green,30);
$green-light      : lighten($green,15);
$green-lighter    : lighten($green,30);
$green-lightest   : lighten($green,40);
$green-hint       : lighten($green,45);

$pink-dark        : darken($pink,15);
$pink-darker      : darken($pink,30);
$pink-darkest     : darken($pink,40);
$pink-light       : lighten($pink,15);
$pink-lighter     : lighten($pink,30);
$pink-lightest    : lighten($pink,40);
$pink-hint        : lighten($pink,45);

// ----------------------------------------------------------------------------
// Defaults

$base             : $darker;
$alt              : $orange;
$accent           : $pink-dark;
