// ----------------------------------------------------------------------------
// Grid

$total-columns      : 12;
$column-width       : 2.5em;
$gutter-width       : 1.5em;
$grid-padding       : 1em;

$break: 30em;

// ----------------------------------------------------------------------------
// Background

$grid-background-baseline-color   : rgba($lighter,.25);
$grid-background-baseline-height  : $base-line-height;
$grid-background-column-color     : rgba($blue-lightest,.25);

$show-column-grid-backgrounds     : true;
$show-baseline-grid-backgrounds   : true;
$show-grid-backgrounds            : true;
