// Icons
// =====

$icon-font: 'oddsite';

$icons: (
  home: "\e004",
  tag: "\e076",
  email: "\e0a1",
  bubbles: "\e0e4",
  twitter: "\e32f",
  github: "\e34c",
  stackoverflow: "\e367",
  egg: "\e601",
  oddbird: "\e600",
);

