// Scale
// =====

$base-font-size: 21px;

$ratio: major-third;

$font-sizes: (
  largest   : make-size(6),
  larger    : make-size(4),
  large     : make-size(2),
  medium    : make-size(1),
  normal    : make-size(0),
  small     : make-size(-1),
  smaller   : make-size(-2),
  smallest  : make-size(-3),
);

$sizes: (
  column: make-size(6),
  gutter: make-size(2),
  spacer: make-size(4),
  shim: make-size(-2),

  logo: make-size(8),
  face: make-size(10),

  radius: maek-size(-3),
);
