// ----------------------------------------------------------------------------
// Imports

@import "compass";
@import "compass/layout";
@import "modular-scale";
@import "susy";
@import "breakpoint";

// ----------------------------------------------------------------------------
// Modules

@import "sizes";
@import "colors";
@import "grids";

// ----------------------------------------------------------------------------
// Browser Support

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : false;
$legacy-support-for-ie8         : true;

// ----------------------------------------------------------------------------
// Variables

$link   : "&:link, &:visited";
$focus  : "&:focus, &:hover, &:active";

$default-text-shadow-color      : rgba($blue-hint,.5);
$default-text-shadow-h-offset   : 0px;
$default-text-shadow-v-offset   : 1px;
$default-text-shadow-blur       : 0px;
$default-text-shadow-spread     : false ;

$default-border-radius          : .125em;

$round-to-nearest-half-line     : true;