// ----------------------------------------------------------------------------
// Imports

@import "compass";
@import "compass/layout";
@import "modular-scale";
@import "susy";

// ----------------------------------------------------------------------------
// Modules

@import "sizes";
@import "colors";
@import "grids";

// ----------------------------------------------------------------------------
// Browser Support

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : false;
$legacy-support-for-ie8         : true;
