// Typography
// ==========


// Fonts
// -----

$fonts: (
  serif: (
    name: BaskervilleFS,
    type: serif,
    path: 'serif/baskerville-%s%s-webfont',
    styles: (regular, italic, bold, bold italic),
    stack: (Baskerville, Palatino, Cambria, Georgia),
  ),

  sans: (
    name: SourceSansPro,
    type: sans-serif,
    path: 'sans/sourcesanspro-%s%s-webfont',
    styles: (regular, italic, bold, bold italic),
    stack: ('Helvetica Neue', Helvetica, Arial),
  ),

  mono: (
    name: SourceCodePro,
    type: monospace,
    path: 'code/sourcecodepro-%s%s-webfont',
    styles: (regular, bold),
    stack: (Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New'),
  ),

  oddsite: (
    files: (normal: 'icons/oddsite'),
  )
);


// Links
// -----

$link: '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';

%link {
  color: color(action);
  text-decoration: none;
  cursor: pointer;
}

%link-focus {
  text-decoration: underline;
}


// Headers
// -------

%h1,
%h2,
%h3,
%h4,
%h5 {
  @extend %serif;
}

%h1 {
  @include font-size(larger);
}

%h2 {
  @include font-size(large, 1.5);
}

%h3 {
  @include font-size(medium, 1);
}

%h4, %h5 { font-weight: bold; }

%headers {
  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }
}


// Body
// ----

%block {
  p,
  ol,
  ul {
    margin-bottom: size(gutter);
  }

  ol,
  ul {
    ol,
    ul {
      margin-left: size(gutter);
    }
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  li { margin-bottom: size(shim); }

  tt, code, pre {
    @extend %mono;
    @include font-size(small);
  }

  tt, code {
    font-weight: bold;
  }

  pre {
    border-left: 3px solid color(border);
    margin-bottom: size(gutter);
    margin-left: 0 - size(shim);
    padding: size(shim);
    white-space: pre-wrap;
  }

  strong { font-weight: bold; }

  .strike { text-decoration: line-through; }
}


// Type
// ----

%type {
  @extend %headers;
  @extend %block;
}
