{% import 'utility.macros.j2' as utility %}

{% macro show_talk(who) %}
  {% set bird_list = config.birds|selectattr('author', 'equalto', who.author)|list or config.birds_former|selectattr('author', 'equalto', who.author)|list %}
  {% set bird = bird_list[0] if bird_list else who.author %}

  <li>
    {{ utility.link_if(bird.name, ['/birds/#bird', who.author]|join('-')) }}
    {% if who.role %}[{{ who.role }}]{% endif %}
    {% if who.title or who.slides %}
      » {{ utility.link_if(who.title|safe or 'slides', who.slides or who.video) }}
    {% endif %}
    {% if who.slides and who.video %}
      ({{ utility.link_if('video', who.video) }})
    {% endif %}
  </li>
{% endmacro %}

<section data-module="conferences" {{ utility.attr_if('id', module.id) }}>
  <h2>
    {% set title = module.title or 'Conferences and Events' %}
    {{ utility.link_if(title|safe, module.title_url) }}
  </h2>

  {% for event in config[module.data or 'events'] %}
    <div>
      <h3>
        {{ utility.link_if(event.venue, event.url) }}
      </h3>

      {{ event.date|join('/') }}

      <ul>
        {% for who in event.who %}
          {{ show_talk(who) }}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>
