{% import 'utility.macros.j2' as utility %}

<section data-module="oss-projects" {{ utility.attr_if('id', module.id) }}>
  <h2>
    {{ module.title or 'Open Source Software'}}
  </h2>

  {% for project in config.oss %}
    <div>
      <h3>
        {{ utility.link_if(project.name, project.url) }}
      </h3>

      <p>{{ project.tagline }}</p>

      <ul>
        {% for bird_rel in project.who %}
          {% set bird_list = config.birds|selectattr('author', 'equalto', bird_rel.name)|list %}
          {% set bird = bird_list[0] %}

          <li>
            {{ utility.link_if(bird.name, ['/birds/#bird', bird.author]|join('-')) }}
            [{{ bird_rel.role }}]
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>
