{% import 'utility.macros.j2' as utility %}

{% macro show_talk(who) %}
  {% set bird_list = config.birds|selectattr('author', 'equalto', who.author)|list %}
  {% set bird = bird_list[0] %}
  <li>
    {{ utility.link_if(bird.name, ['/birds/#bird', who.author]|join('-')) }}
    {% if who.role %}[{{ who.role }}]{% endif %}
    {% if who.talk %}
      <div>{{ utility.link_if(who.talk, who.url) }}</div>
    {% endif %}
  </li>
{% endmacro %}

<section data-module="conferences" {{ utility.attr_if('id', module.id) }}>
  <h2>
    {{ module.title or 'Conferences and Events' }}
  </h2>

  {% for event in config.events %}
    <div>
      <h3>
        {{ utility.link_if(event.venue, event.url) }}
      </h3>

      {{ event.date|join('/') }}

      <ul>
        {% for who in event.who %}
          {{ show_talk(who) }}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>
