{% import 'utility.macros.j2' as utility %}
{% import 'birds/utility.macros.j2' as birds %}


{% macro talk(who) %}
  {% set page = all_pages|filter_pages('bird', 'eq', who.author)|get_page %}
  {% set colon = '::' if (who.title or who.slides or who.video) else '' %}

  <li>
    {{ birds.name_link(who.author, page) }}{{ colon }}
    {% if who.role %}[{{ who.role }}]{% endif %}
    {% if who.title or who.slides %}
      {{ utility.link_if(who.title|safe or 'slides', who.slides or who.video) }}
    {% endif %}
    {% if who.slides and who.video %}
      ({{ utility.link_if('video', who.video) }})
    {% endif %}
  </li>
{% endmacro %}
