// Color Configuration
// ===================


// Brand Colors
// ------------
/// The brand is defined by our primary brand blue,
/// along with secondary pink and orange base colors.
/// @group color
/// @preview color-palette
/// @type Map
$brand-colors: (
  'brand-blue': hsl(195, 52%, 31%),
  'brand-orange': hsl(24, 100%, 62%),
  'brand-pink': hsl(330, 100%, 45%),
);

@include herman-add-colors('brand-colors', $brand-colors);


// Contrast Colors
// ---------------
/// The light and dark contrast colors act as
/// the high and low range of our palette.
/// @group color
/// @preview color-palette
/// @type Map
/// @link http://oddbird.net/accoutrement-color/sassdoc/
///   Accoutrement Colors
$contrast-colors: (
  'contrast-light': #fff,
  'contrast-dark': 'brand-blue' ('shade': 50%),
);

@include herman-add-colors('contrast-colors', $contrast-colors);


// Patterm Colors
// ------------
/// Re-usable color patterns for application in different components.
/// @group color
/// @preview color-palette
/// @type Map
$pattern-colors: (
  'text': 'contrast-dark',
  'background': 'contrast-light',
  'border': 'brand-blue',
  'border-light': 'border' ('tint': 50%),
  'border-img': rgb(238, 238, 238),
  'select': 'brand-orange' ('rgba': 0.5),

  'action': 'brand-pink',
  'action-hover': 'brand-pink' ('shade': 25%),
  'action-alt': 'brand-blue',
  'tag': 'brand-orange' ('rgba': 0.1),

  'callout': 'brand-blue' ('tint': 80%),
  'invert': 'brand-blue',
  'invert-link-hover': 'brand-blue' ('lighten': 55%, 'saturate': 100%),
);

@include herman-add-colors('pattern-colors', $pattern-colors);
