// Color Configuration
// ===================


// Brand Colors
// ------------
/// The brand is defined by our primary brand blue,
/// along with secondary pink and orange base colors.
/// @group color
/// @preview color-palette
/// @type Map
$brand-colors: (
  'brand-primary': hsl(195, 52%, 31%),
  'brand-orange': hsl(24, 100%, 62%),
  'brand-pink': hsl(330, 100%, 45%),
);

@include herman-add-colors('brand-colors', $brand-colors);


// UI Colors
// ---------
/// The light and dark contrast colors act as
/// the high and low range of our palette.
/// @group color
/// @preview color-palette
/// @type Map
$ui-colors: (
  'contrast-light': #fff,
  'contrast-dark': 'brand-primary' ('shade': 75%),
);

@include herman-add-colors('ui-colors', $ui-colors);


// Theme Colors
// ------------
/// Theme colors define broad patterns for
/// how our colors will be adjusted and applied.
/// @group color
/// @preview color-palette
/// @type Map
$theme-colors: (
  'text': 'contrast-dark',
  'background': 'contrast-light',
  'border': 'brand-primary',

  'action': 'brand-pink',
  'action-alt': 'brand-primary',

  'callout': 'brand-primary' ('tint': 80%),
  'invert': 'brand-primary',
);

@include herman-add-colors('theme-colors', $theme-colors);
