// Fonts Config
// ============


// Body Font
// ---------
/// Freight Text Pro is the primary font of the OddBird brand.
/// @group config-fonts
/// @font body (regular, italic, bold, bold italic)
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
/// @link http://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$body-font: (
  'name': 'freight-text-pro',
  'stack': (Baskerville, Palatino, Cambria, Georgia, serif),
  'source': 'https://typekit.com/fonts/freight-text',
);

@include add-font('body', $body-font);
@include herman-add('font', 'body', $body-font);


// Alt Font
// --------
/// Freight Sans Pro provides a sans-serif alternative,
/// still in the same family as our primary font.
/// @group config-fonts
/// @font alt (regular, italic, bold, bold italic)
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
/// @link http://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$alt-font: (
  'name': 'freight-sans-pro',
  'stack': ('Helvetica Neue', Helvetica, Arial, sans-serif),
  'source': 'https://typekit.com/fonts/freight-sans',
);

@include add-font('alt', $alt-font);
@include herman-add('font', 'alt', $alt-font);


// Code Font
// ---------
/// Source Code Pro provides a nice-looking monospace option
/// for code samples across the site.
/// @group config-fonts
/// @font code (regular, italic, bold, bold italic)
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
/// @link http://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$code-font: (
  'name': 'SourceCodePro',
  'stack': (Consolas, Menlo, Monaco, 'Courier New', monospace),
  'source': 'https://typekit.com/fonts/source-code-pro',
);

@include add-font('code', $code-font);
@include herman-add('font', 'code', $code-font);
