// Fonts Config
// ============

// Body Font
// ---------
/// Freight Text Pro is the primary font of the OddBird brand.
/// @group config-fonts
/// @font body (normal, italic, bold, bold italic)
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
/// @link https://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$body-font: (
  'name': 'freight-text-pro',
  'stack': (
    'Baskerville',
    'Palatino',
    'Cambria',
    'Georgia',
    'serif',
  ),
  'source': 'https://typekit.com/fonts/freight-text',
);

@include add-font('body', $body-font);
@include herman-add('font', 'body', $body-font);

// Alt Font
// --------
/// Freight Sans Pro provides a sans-serif alternative,
/// still in the same family as our primary font.
/// @group config-fonts
/// @font alt (normal, italic, bold, bold italic)
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
/// @link https://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$alt-font: (
  'name': 'freight-sans-pro',
  'stack': (
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    'sans-serif',
  ),
  'source': 'https://typekit.com/fonts/freight-sans',
);

@include add-font('alt', $alt-font);
@include herman-add('font', 'alt', $alt-font);

// Code Font
// ---------
/// Source Code Pro provides a nice-looking monospace option
/// for code samples across the site.
/// @group config-fonts
/// @font code (normal, italic, bold, bold italic)
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
/// @link https://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$code-font: (
  'name': 'SourceCodePro',
  'stack': (
    'Consolas',
    'Menlo',
    'Monaco',
    'Courier New',
    'monospace',
  ),
  'source': 'https://typekit.com/fonts/source-code-pro',
);

@include add-font('code', $code-font);
@include herman-add('font', 'code', $code-font);

// Amp Font
// --------
/// Ampersands all use Baskerville Italic,
/// embedded as a base-64 data-uri.
/// @group config-fonts
/// @font amp
/// @link https://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$amp-font: (
  'name': 'BaskervilleAmp',
  'stack': (
    'Baskerville',
    'Goudy Old Style',
    'Palatino',
    'Book Antiqua',
    'serif',
  ),
  'italic': (
    'woff':
      'data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAA2gABMAAAAAGggAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABqAAAABwAAAAcbrhSTEdERUYAAAHEAAAAHAAAAB4AJwAMR1BPUwAAAeAAAAHuAAAGetWH5yRHU1VCAAAD0AAAAP0AAAQKQc4wQE9TLzIAAATQAAAAXgAAAGCqf4zCY21hcAAABTAAAABKAAABUgQ/LPBjdnQgAAAFfAAAAFIAAABSFD4OPGZwZ20AAAXQAAABsQAAAmVTtC+nZ2FzcAAAB4QAAAAIAAAACAAAABBnbHlmAAAHjAAAAtoAAANUV+1aGGhlYWQAAApoAAAANgAAADYA3fcTaGhlYQAACqAAAAAgAAAAJA5/BL5obXR4AAAKwAAAABgAAAAYEjsA6GxvY2EAAArYAAAADgAAAA4CAgHibWF4cAAACugAAAAgAAAAIAEgAgFuYW1lAAALCAAAAbcAAAQ+TSOdlnBvc3QAAAzAAAAANQAAAERQBfyLcHJlcAAADPgAAACfAAABDAlgX8V3ZWJmAAANmAAAAAYAAAAGSatZ7QAAAAEAAAAA1FG1agAAAADEU6K5AAAAANYS+ih42mNgZGBg4AFiMSBmYmAEQlYgZgHzGAAD1QA0eNqdVc1LQkEQHyVERELEi8QrIqJDX4egW/0FnTsGHToVBVF06NRBOnbwEh07dYzo5E0iJCJEQiREJCQkiBAR8fZrdt+67r5e1muWndmZndn5fEohIorROM1RaGfzYJeiNMISAkjchLa39oWMXI7vwpJGKRxZFZqRhcgyjZHDUgc5ZHCELOqookExlFBGjv4CMZ8T0SzFpe+hgALvE0s0gzyNUgpFvPB2cdvH8hFlJnFKMB5TwhXm4h69Ht4tvsZoiim/zLjDuyLlVcEbeg3Ov+WR3GAPGZVnWtrWZAyePDnmphlH/x284kPSN4mbaLm81vtkO0GNiPHAnTlzK8N+UsZNiWMuKSxiEfVIcwUc4Yn3pdS6tjxsII+iPF3hSuLyt8p2UeDIemJpWVXkg67Or+5qeiybilZ4tVFS3K1R2aiqQ012sK4qOHjh0OLWeCYzHh9Puou/zda6n6UlubM4t0uL37Q6XOEqU2MKcY9znHI3RD+WRJ36uf8LEvrduj61+94H0eJCHR1Zx6Rnqo2qqM7FrDyeBx1QXXj3iSUd6Is3we9rd2hC+xNTP2lO8FBIeTTTP3i1+oms7llnML2+ug0Pf4FjZSHqOs2/X0FglBfRvOaTwQagH+vwmH0tO4G07wN2mvS/h7W/AF28CLQAAHja7ZIxSgNBFIa//81G1CKEICJhkRQWwcpCJEWOEKxDKpeEVCHCuifICVJ4jNSeIUfwADmCfZyZXUXNKtiKxbx583/v/fMGBgHHXDBG86xYcEjiFXa7uAvDkWSzfEJnlmcTuvf5dMHlQzYvuIoVzkdX1YbYiDHhgCZn9LhmyNSf8PyOZcwaPPLEMy9qxbNTqr5uY36kkQqttNZGW8NS65e6DWxkha1sbRvbOlxaurquu4kTJLQ5pcN5eAH6sso5W5z4qahh8t3uvX+/+42Fuu/85f2tuuEzK9XA9++WZ4Gopu8nz7A3q3k+urWjzi/e/s/+Kqv/DTXqK9OlImIAAAB42mNgZjFnnMDAysDCasxy9v9lhlkgmuEs01mGNCZVJkYmZlZmdlY2TmaWBgaG9QEMCtEMUBCcmpjHwMigoPqH9e7fuwwM7PJMTQoMQBEgYFzNNBtIKTCwAAB9ORFpAAB42mNgYGBmgGAZBkYGEPAB8hjBfBYGAyDNAYRMQFqBQU31z///CNb/x//v3eKE6gIDRjYGOJcRpIeJARUwQqxiABo9XAEArXwMWAAAAAADhQVWAD8ARABMAFIA0QDXAIMAigCRAJUAmgCeAKQAuADRAGgArwC6ALwAtAC/AFUAXwDIAI0AlwCcAKYAkwChAKkAfABOAEIAtgBmAEYFEQAAeNpdUbtOW0EQ3Q0PA4HE2CA52hSzmZDGe6EFCcTVjWJkO4XlCGk3cpGLcQEfQIFEDdqvGaChpEibBiEXSHxCPiESM2uIojQ7O7NzzpkzS8qRqnfpa89T5ySQwt0GzTb9Tki1swD3pOvrjYy0gwdabGb0ynX7/gsGm9GUO2oA5T1vKQ8ZTTuBWrSn/tH8Cob7/B/zOxi0NNP01DoJ6SEE5ptxS4PvGc26yw/6gtXhYjAwpJim4i4/plL+tzTnasuwtZHRvIMzEfnJNEBTa20Emv7UIdXzcRRLkMumsTaYmLL+JBPBhcl0VVO1zPjawV2ys+hggyrNgQfYw1Z5DB4ODyYU0rckyiwNEfZiq8QIEZMcCjnl3Mn+pED5SBLGvElKO+OGtQbGkdfAoDZPs/88m01tbx3C+FkcwXe/GUs6+MiG2hgRYjtiKYAJREJGVfmGGs+9LAbkUvvPQJSA5fGPf50ItO7YRDyXtXUOMVYIen7b3PLLirtWuc6LQndvqmqo0inN+17OvscDnh4Lw0FjwZvP+/5Kgfo8LK40aA4EQ3o3ev+iteqIq7wXPrIn07+xWgAAAAABAAH//wAPeNpVk01ME0EcxWfa3W1L+dhdYGkaDN12oYXBlu0WyvJRhSzBSKog0ICiqYKIio0UNCQmcuCAxo9o9KCQeDAkHjw4s6yRROLBq/Fm8OKFk+nBkxdjCDoLqHEu83/v/d5kDjPAAQwAHBPsMHACF4gSCGIdpothvsUJx37pMJ0OOgLitG3Wtk0XF9nuMKHta4Is1MqCbDgCOwp8sjPFDv98aTAfAQAQrP767OpmF8AcvAXMPADIinDAzyDT7QAIj2tWOQcC+5IMsgXLSOTdJcgyONBI7YRRhNZAIuVBVjpqB/iyZqV3K2tyOupG+JJGfFzBlH0UPCwf8KC103k39Us0iK/FMNwkSnEBKzxhIbIkEVTQUyXWhiW/B2GJJ700UHcDrPIkCRFuj5OusgLmA5sC8XoKuIsniEK5PSjH44ydZCmSjZFMWcHMZO1rZk567JQMUHZylyXXISISK4jEKes67hVwjY5V0XSX53WqeWGtpDSSUKp07BVJytB10pUURBzVcVbAaR1nRDytkxyi3jEdDwjm8cFxWgTEiFAL6CSaEMTXsEZBvTn7lLRgOv3TlCCnfYJosaVS/6TtlwsW7x0YydK5SRX5lmRdc6JFi0uVFa5wS3OiLhTkKiuqqORCwfCekhgtrvyJJC1OsfDfFsXsOZmCh2AK/t//B7lKYcjemVBQWV1+FPr+4sL9xSDqN+ZI+Xpj9UE1XHvk3FPofb4FtdXb84+1WsHnYOKBSNvFvtF8rD5FVgr3FvMjgYbSqmR9rHtpYvHV2Uzn1ZmFjZ13b9d3PsFR2LBRc/TEs6+zQ7OD/vbWtp4381qKG6tuUMMLZ258mNtanb1zZaQx5ROKuGpWklvrOodmTiWnI+1JV7E7+/6mVMZU+JVIS0+877y5NLUSkMrGzAc/Ht6lb5cu57Jzmf6JMDCpQCaEAEHMxDDYtJxu4GLQ/ma/LtCkqvQr2JXtSfAbHvbiDQAAAAEAAAABD99cuPl5Xw889QAfCAAAAAAAxFOiuQAAAADWEvooAAD/1wdCBX8AAgAIAAIAAAAAAAB42mNgZGBgl/9bByR5GBj+n2J3YkhhkGZABmwAZuMETQLsAEQAAAAAAqoAAAIAAAAHDACkA5kAAAAAACwALAAsACwBigGqAAAAAQAAAAYAdQACAAAAAAACAAEAAgAWAAABAAGIAAAAAHjatZO7TgJREIb/3cULSggmhoJQbGFhjCyXIComJFoQtTERoo2FCIsSQBQWje/hQ2jnA1gZCy+NsfMFfAQLK/89jESMooVmcs5+Zy5nZmd2AYzjBQY0jxfAKVeHNYR56rAOHy6EDWRwKezBFF6FBxDSJoQHMallhIewpZWFhxHQroS9SGiPwqOwdI+wj5wQ9mNZ3xYOIKyfCY/Bp18L3yCoPwjfIqY/C9/BbwSF7zFiSG1PBkKGhTxOcAAbZRRQ5NPEOVcWDezDQQ4V7q52heciLEyT45inpBBBAjHKHPUmFlGjmFhnzC72GNdSJ5tPG00ccS8pz2MlFnN2srQki8UMDdSxxFpaqEpURd1rq6pyrMOhtUZtkXVYzJ5iFQtiy5O+jnbtkZ7oflnMHs8N5eNW6dZrfsj7N7kqqlMFLof2ArtkswsFcpW6BvvUbyKfLas876k6v8tapN5S7zGLGb6FOyuHX0EaUcpP0/lP76j0y6a1pfRufJ3a334Tm9TudO9/n1UObdWRNXq42gTF3eOsK8kepElJpYmprpTkj2jzVod3NWX22e69ORzSWqGlSd/aGzfgpv8AeNpjYGJg+P+RgeFvJkMaAzbAxsDAyMTIzMDMwMnIwpaeU1mQYQihjNhL8zKNTN2cATuqCtcAAAB42j3MOwrCQBgE4Gw273ckICpCbN0T2Js020SrXfAc1jaWepY/guA9PJAOGv5uvmGYl/hcSdwcTdFgRiHuduwDZTZUWU3NEeFi1xSok3FIth1JtSev7R7y7aoffMA7TAgAX/8hKJz2Edrw6apR9mcwBqOSmYCxZaZgsmNmYLpl5mC2YhZgvmSWYLFgVmA5Z9Zg1TBnYM1Xlhr1BaRmTFUAAAFZ7UmqAAA=',
  ),
  'unicode-range': 'U+26',
);

@include add-font('amp', $amp-font);
@include herman-add('font', 'amp', $amp-font);
