// Fonts Config
// ============


// Body Font
// ---------
/// Freight Text Pro is the primary font of the OddBird brand.
/// @group fonts
/// @preview font-specimen; key: body; show: regular, italic, bold, bold italic
/// @link http://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$body-font: (
  'name': 'freight-text-pro',
  'stack': (Baskerville, Palatino, Cambria, Georgia, serif),
  'source': 'https://typekit.com/fonts/freight-text',
);

@include accoutrement-add('font', 'body', $body-font);


// Alt Font
// --------
/// Freight Sans Pro provides a sans-serif alternative,
/// still in the same family as our primary font.
/// @group fonts
/// @preview font-specimen; key: alt; show: regular, italic, bold, bold italic
/// @link http://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$alt-font: (
  'name': 'freight-sans-pro',
  'stack': ('Helvetica Neue', Helvetica, Arial, sans-serif),
  'source': 'https://typekit.com/fonts/freight-sans',
);

@include accoutrement-add('font', 'alt', $alt-font);


// Code Font
// ---------
/// Source Code Pro provides a nice-looking monospace option
/// for code samples across the site.
/// @group fonts
/// @preview font-specimen; key: code; show: regular, italic, bold, bold italic
/// @link http://oddbird.net/accoutrement-type/docs/
///   Accoutrement Type
$code-font: (
  'name': 'SourceCodePro',
  'stack': (Consolas, Menlo, Monaco, 'Courier New', monospace),
  'source': 'https://typekit.com/fonts/source-code-pro',
);

@include accoutrement-add('font', 'code', $code-font);
