// Layout Config
// =============


// Variables
// Reusable CSS Grid Template Columns definition
// ---------------------------------------------
$grid-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] minmax(auto, size('full-content')) [col3-end col4-start] 1fr [col4-end col5-start] 1fr [col5-end];
$grid-columns-large: [col1-start] minmax(10vw, 1fr) [col1-end col2-start] minmax(10vw, 1fr) [col2-end col3-start] size('full-content') [col3-end col4-start] minmax(10vw, 1fr) [col4-end col5-start] minmax(10vw, 1fr) [col5-end];

// When you need a % and not a rem, like on blockquote and intro
// -------------------------------------------------------------
$wide-column: 90%;


// Center it (horizontally)
// ------------------------
/// Shortcut for l/r auto margins with optional max-width
/// @group layout
/// @parameter $max-width -
///   Optional max-width for centered item
/// @example scss -
///   .foo {
///     @include center('full-content');
///   }
/// @example css -
///   .foo {
///     margin-left: auto;
///     margin-right: auto;
///   }
@mixin center(
  $max-width: null
) {
  margin-left: auto;
  margin-right: auto;

  @if ($max-width) {
    max-width: size($max-width);
    width: 100%;
  }
}


// Grid Container
// --------------
/// Shortcut for declaring shared grid container styles
/// @group layout
/// @parameter $max-width -
///   Optional max-width for centered item
/// @example scss -
///   .foo {
///     @include grid('full-content');
///   }
///   .bar {
///     @include grid;
///   }
/// @example css -
///   .foo {
///     margin-left: auto;
///     margin-right: auto;
///     max-width: 40rem;
///     width: 100%;
///
///     @supports (display: grid) {
///       display: grid;
///       grid-template-columns: $grid-columns;
///     }
///   }
///
///   .bar {
///     @supports (display: grid) {
///       display: grid;
///       grid-template-columns: $grid-columns;
///     }
///   }
@mixin grid(
  $max-width: 'medium-page'
) {
  @include center($max-width);

  @supports (display: grid) {
    display: grid;
    grid-template-columns: $grid-columns;
  }
}
