// Layout Config
// =============


// Variables
// Reusable CSS Grid Template Columns definition
// ---------------------------------------------
$grid-columns-small: [col1-start] minmax(5vw, 1fr) [col1-end col2-start] minmax(auto, 1fr) [col2-end col3-start] minmax(auto, 1fr) [col3-end col4-start] minmax(auto, 1fr) [col4-end col5-start] minmax(auto, 1fr) [col5-end];
$grid-columns-large: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] minmax(auto, size('full-content')) [col3-end col4-start] 1fr [col4-end col5-start] 1fr [col5-end];

// When you need a % and not a rem, like on blockquote and intro
// -------------------------------------------------------------
$wide-column: 90%;


// Center it (horizontally)
// ------------------------
/// Shortcut for l/r auto margins with optional max-width
/// @group layout
/// @parameter $max-width -
///   Optional max-width for centered item
/// @example scss -
///   .foo {
///     @include center('full-content');
///   }
/// @example css -
///   .foo {
///     margin-left: auto;
///     margin-right: auto;
///   }
@mixin center(
  $max-width: null
) {
  margin-left: auto;
  margin-right: auto;

  @if ($max-width) {
    max-width: size($max-width);
    width: 100%;
  }
}


// Grid Container
// --------------
/// Shortcut for declaring shared grid container styles
/// @group layout
/// @example scss -
///   .foo {
///     @include grid;
///   }
/// @example css -
///   .foo {
///     @supports (display: grid) {
///       display: grid;
///       grid-template-columns: $grid-columns;
///     }
///   }
@mixin grid {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: $grid-columns-small;

    @include above('medium-page') {
      grid-template-columns: $grid-columns-large;
    }
  }
}


// Margin/Size Extension Variables will move to scale map
// when Accountrement Scale is updated
$full-content: 40rem;
$extend-small: 70vw;
$extend-medium: 80vw;
$extend-large: 90vw;
$extend-full: 100vw;


// Extend thing outside its container on both sides
// ================================================
// viewport, minus the main content width, divided by 2, then make negative
/// @group layout
/// @link http://codepen.io/mirisuzanne/pen/ded4ae1f55f9b24b2aa0ea4aaac71e47?editors=0100
/// @link http://www.sassmeister.com/gist/8374287846277fdf3361537dfaac27a8
/// @parameter {Size} $extend-base-size

@mixin extend(
  $extend-base-size
) {

  $extend-large-size: $extend-base-size - 10vw;

  @include above('medium-page') {
    margin-left: calc((#{$extend-base-size} - #{$full-content}) / 2 * -1);
    margin-right: calc((#{$extend-base-size} - #{$full-content}) / 2 * -1);
    max-width: $extend-base-size;
    width: $extend-base-size;
  }

  @if ($extend-base-size != $extend-full) {
    @include above('large-page') {
      margin-left: calc((#{$extend-large-size} - #{$full-content}) / 2 * -1);
      margin-right: calc((#{$extend-large-size} - #{$full-content}) / 2 * -1);
      max-width: $extend-large-size;
      width: $extend-large-size;
    }
  }
}


// Extend thing outside its container on one side only
// ===================================================
// viewport, minus the main content width, divided by 2, then make negative
/// @group layout
/// @link http://codepen.io/mirisuzanne/pen/ded4ae1f55f9b24b2aa0ea4aaac71e47?editors=0100
/// @link http://www.sassmeister.com/gist/8374287846277fdf3361537dfaac27a8 - 
/// @link http://www.sassmeister.com/gist/705b458628ee9ac28b415166e1a09f7c - With Accoutrement
/// @parameter {Side | String} $side - Choose Right or Left
@mixin extend-side(
  $side
) {

  margin-bottom: size('pad');
  
  @include above('small-page') {
    float: $side;
    
    @if ($side == left) {
      padding-right: size('pad');
    } @elseif ($side == right) {
      padding-left: size('pad');
    } @else {
      @error 'Choose left or right silly. How many sides do you have?';
    }
  }

  @include above('medium-page') {
    margin-#{$side}: calc((#{$extend-medium} - #{$full-content}) / 2 * -1);
  }

  @include above('large-page') {
    margin-#{$side}: calc((#{$extend-small} - #{$full-content}) / 2 * -1);
  }
}
