// Links Config
// ============


// Link
// ----
/// Shortcut for `link` and `visited` pseudo-classes.
/// @group utilities
/// @example scss -
///   a {
///     #{$link} {
///       color: blue;
///     }
///   }
$link: '&:link, &:visited';


// Focus
// -----
/// Shortcut for `hover`, `focus`, and `active` pseudo-classes.
/// @group utilities
/// @example scss -
///   a {
///     #{$focus} {
///       color: red;
///     }
///   }
$focus: '&:hover, &:focus, &:active';


// Link Underline
// --------------
@mixin link-underline(
  $color: 'action',
  $background: 'background',
  $offset: -0.15em,
  $size: 0.05em
) {
  $start: color($color) $size;
  $end: transparent $size;

  @include text-outline($background);
  background-image: linear-gradient(to top, $start, $end);
  background-position: 0 $offset;
}
