// Links Config
// ============


// Link
// ----
/// Shortcut for `link` and `visited` pseudo-classes.
/// @group typography
/// @example scss -
///   a {
///     #{$link} {
///       color: blue;
///     }
///   }
$link: '&:link, &:visited';


// Focus
// -----
/// Shortcut for `hover`, `focus`, and `active` pseudo-classes.
/// @group typography
/// @example scss -
///   a {
///     #{$focus} {
///       color: red;
///     }
///   }
$focus: '&:hover, &:focus, &:active';


//
// @TODO: Add docs to link-color!
//
@mixin link-color-for(
  $background
) {
  $contrast: contrast($background, 'contrast-light', 'action');
  $hover: color($background ('lighten': 55%, 'saturate': 100%));
  $hover: if($contrast == color('action'), color('action-hover'), $hover);

  a {
    &:not(.btn) {
      &,
      #{$link}  {
        @include text-underline($contrast, $background);
      }

      #{$focus} {
        @include text-underline-color($hover);
      }
    }

    &.icon-link {
      // no underline on whole link. Going to target text only.
      #{$link} {
        background-image: none;
      }

      // change underline color when hover over icon too
      #{$focus} {
        .icon-text {
          @include text-underline-color($hover);
        }
      }

      // target only text within these svg icon links
      .icon-text {
        @include text-underline($contrast, $background);
      }
    }
  }
}
