// Scale Settings
// ==============


// Ratios
// ------
/// @group scale
/// @preview ratios
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$modular-scale: (
  'multiple': 'linear',
  'text-ratio': 1.4,
);

@include herman-add-ratios('modular-scale', $modular-scale);


// Text Sizes
// ----------
/// @group scale
/// @preview sizes;
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$text-sizes: (
  'root': 18px,
  'small': 'root' ('text-ratio': -1),
  'medium': 'root' ('text-ratio': 0.7),
  'caption': 'root',
  'task': 'root' ('text-ratio': -0.125),
  'social': 'root' ('text-ratio': -0.25),
);

@include herman-add-sizes('text-sizes', $text-sizes);


// Spacing Sizes
// -------------
/// @group scale
/// @preview sizes; style: ruler
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$spacing-sizes: (
  'rhythm': 'root' ('text-ratio': 1, 'convert-units': 'rem'),
  'gutter': 'rhythm',
  'double-gutter': 'gutter' ('multiple': 2),
  'spacer': 'gutter' ('multiple': 3),
  'shim': 'gutter' ('multiple': 0.5),
  'half-shim': 'shim' ('multiple': 0.5),
  'quarter-shim': 'shim' ('multiple': 0.25),
  'pad': 1rem,
  'pixel': 1px,
);

@include herman-add-sizes('spacing-sizes', $spacing-sizes);


// Pattern Sizes
// -------------
/// @group scale
/// @preview sizes; style: output-only
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$pattern-sizes: (
  'border': 8px,
  'border-thin': 1px,
  'border-radius': 2rem,
  'bird-face-tall': 8rem,
  'bird-face': 6rem,
  'half-bird-face': 'bird-face' ('multiple': 0.5),
  'intro-text': 'medium' ('convert-units': 'rem'),
  'nav-small': 20rem,
  'nav-medium': 35rem,
  'nav-wide': 50rem,
  'dropdown-narrow': 9rem,
  'dropdown-wide': 14rem,
  'menu-more': 12px,
  'menu-more-space': 'menu-more' ('multiple': 0.25),
);

@include herman-add-sizes('pattern-sizes', $pattern-sizes);


// Page Sizes
// ----------
// Mostly used as breakpoints when content is asking for css edits
/// @group scale
/// @preview sizes; style: output-only
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$page-sizes: (
  'small-page': 34rem,
  'medium-page': 55rem,
  'large-page': 75rem,
);

@include herman-add-sizes('page-sizes', $page-sizes);


// Column Sizes
// ------------
// Columns are used mostly in extend mixin and to declare size of content containers
/// @group scale
/// @preview sizes; style: output-only
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$column-sizes: (
  'full-content': 40rem,
  'extend-xsmall': 70vw,
  'extend-small': 80vw,
  'extend-large': 90vw,
  'extend-full': 100vw,
  'wide-column': 90%,
);

@include herman-add-sizes('column-sizes', $column-sizes);
