// Scale Settings
// ==============


// Ratios
// ------
/// @group config-scale
/// @ratios
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$modular-scale: (
  'multiple': 'linear',
  'text-ratio': 1.4,
);

$ratios: map-merge($ratios, $modular-scale);
@include herman-add('ratios', 'modular-scale', $modular-scale, 'ratio');


// Text Sizes
// ----------
/// @group config-scale
/// @sizes
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$text-sizes: (
  'root': 18px,
  'h2': calc(1rem + 1vw),
  'h3': calc(1rem + 0.5vw),
  'small': 'root' ('text-ratio': -0.5),
  'xsmall': 'root' ('text-ratio': -1),
  'rel-small': 1em ('text-ratio': -0.5),
  'medium': 'root' ('text-ratio': 0.7),
  'caption': 'root',
  'task': 'root' ('text-ratio': -0.125),
  'social': 'root' ('text-ratio': -0.25),
);

$sizes: map-merge($sizes, $text-sizes);
@include herman-add('sizes', 'text-sizes', $text-sizes, 'size');


// Spacing Sizes
// -------------
/// @group config-scale
/// @sizes {ruler}
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$spacing-sizes: (
  'rhythm': 'root' ('text-ratio': 1, 'convert-units': 'rem'),
  'gutter': 'rhythm',
  'double-gutter': 'gutter' ('multiple': 2),
  'triple-gutter': 'gutter' ('multiple': 3),
  'shim-plus': 'gutter' ('multiple': 0.75),
  'shim': 'gutter' ('multiple': 0.5),
  'half-shim': 'shim' ('multiple': 0.5),
  'quarter-shim': 'shim' ('multiple': 0.25),
  'pad': 1rem,
  'pixel': 1px,

  // responsive spacing
  'spacer': calc(%s + %s) ('double-gutter', 3vw),
);

$sizes: map-merge($sizes, $spacing-sizes);
@include herman-add('sizes', 'spacing-sizes', $spacing-sizes, 'size');


// Pattern Sizes
// -------------
/// @group config-scale
/// @sizes {output-only}
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$pattern-sizes: (
  'background': calc(%s + %s) ('rhythm' ('times': 6), 16vw),
  'border': 8px,
  'border-thin': 1px,
  'border-radius': 2rem,

  'bird-face': 6rem,
  'half-bird-face': 'bird-face' ('multiple': 0.5),

  'intro-text': 'medium' ('convert-units': 'rem'),

  'nav-small': 20rem,
  'nav-medium': 35rem,
  'nav-wide': 50rem,

  'dropdown-narrow': 9rem,
  'dropdown-wide': 14rem,
  'menu-more': 12px,
  'menu-more-space': 'menu-more' ('multiple': 0.25),

  'splash-items': 18rem,
  'splash-items-max': 24rem,
  'splash-logo-x': 14rem,
  'splash-logo-y': 'spacer',
  'imageblock-image': 'splash-logo-x',
);

$sizes: map-merge($sizes, $pattern-sizes);
@include herman-add('sizes', 'pattern-sizes', $pattern-sizes, 'size');


// Page Sizes
// ----------
// Mostly used as breakpoints when content is asking for css edits
/// @group config-scale
/// @sizes {output-only}
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$page-sizes: (
  'small-page': 34rem,
  'medium-page': 55rem,
  'large-page': 75rem,
);

$sizes: map-merge($sizes, $page-sizes);
@include herman-add('sizes', 'page-sizes', $page-sizes, 'size');


// Column Sizes
// ------------
// Columns are used mostly in extend mixin and to declare size of content containers
/// @group config-scale
/// @sizes {output-only}
/// @link http://oddbird.net/accoutrement-scale/docs/
///   Accoutrement Scale
$column-sizes: (
  'full-content': 40rem,
  'extend-xsmall': 70vw,
  'extend-small': 80vw,
  'extend-large': 90vw,
  'extend-full': 100vw,
  'wide-column': 90%,
);

$sizes: map-merge($sizes, $column-sizes);
@include herman-add('sizes', 'column-sizes', $column-sizes, 'size');
