// Section Config
// ==============

// Section Arrow
// -------------
/// Apply a top-border with centered down-arrow triangle,
/// for use as a section-divider.
/// @group sections
/// @parameter $color ['border'] -
///   The color of the border/arrow line
/// @parameter $background ['background'] -
///   The background color above the border/arrow,
///   used to make it an arrow-outline rather than a solid triangle
/// @example scss
///   hr {
///     @include section-arrow;
///   }
/// @example html
///   <hr divider-line="large" />
@mixin section-arrow($color: 'border', $background: 'background') {
  border-bottom: size('border') solid color($color);
  display: block;
  position: relative;

  @include wrap-content(' ') {
    border: size('shim') solid transparent;
    border-top-color: color($color);
    border-width: size('shim') size('shim-plus') 0;
    left: 50%;
    position: absolute;
    top: 100%;
    transition: border-width time('slow');

    @include above('small-page') {
      border-width: size('gutter') size('gutter') 0;
    }
  }

  @include before(null) {
    margin-top: size('border');
    transform: translateX(-50%) translateY(-2px);
  }

  @include after(null) {
    border-top-color: color($background);
    transform: translateX(-50%) translateY(-4px);
  }
}

/// @group sections
/// @todo document small-divider
@mixin small-divider($color: 'border') {
  background-image: linear-gradient(
    to right,
    color(
      $color,
      (
        'rgba': 0,
      )
    ),
    color($color),
    color(
      $color,
      (
        'rgba': 0,
      )
    )
  );
  display: block;
  height: size('border-thin');
  margin: 0 auto;
  max-width: size('full-content');

  &:last-child {
    @include before('• • •') {
      @include position(null);
      background: color('background');
      color: color($color);
      font-size: size('small');
      padding: 0 size('half-shim');
      transform: translate3d(-50%, -50%, 0);
    }
  }
}
