// Section Config
// ==============


@mixin section-arrow(
  $color: 'border',
  $background: 'background'
) {
  border-top: size('border') solid color($color);
  position: relative;

  @include wrap-content(' ') {
    border: size('gutter') solid transparent;
    border-bottom-width: 0;
    border-top-color: color($color);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
  }

  @include after(' ') {
    border-top-color: color($background);
    margin-top: negative('border');
    transform: translateX(-50%) translateY(-2px);
  }
}
