// Section Config
// ==============


// Section Arrow
// -------------
/// Apply a top-border with centered down-arrow triangle,
/// for use as a section-divider.
/// @group sections
/// @parameter $color ['border'] -
///   The color of the border/arrow line
/// @parameter $background ['background'] -
///   The background color above the border/arrow,
///   used to make it an arrow-outline rather than a solid triangle
/// @example scss -
///   [data-styleguide='section-arrow'] {
///     @include section-arrow;
///   }
/// @example njk -
///   <div data-styleguide="section-arrow">Section Arrow</div>
@mixin section-arrow(
  $color: 'border',
  $background: 'background'
) {
  @include extend('extend-full');
  border-bottom: size('border') solid color($color);
  display: block;
  position: relative;

  @include wrap-content(' ') {
    border: size('shim') solid transparent;
    border-top-color: color($color);
    border-width: size('shim') size('shim-plus') 0;
    left: 50%;
    position: absolute;
    top: 100%;
    transition: border-width 300ms;

    @include above('small-page') {
      border-width: size('gutter') size('gutter') 0;
    }
  }

  @include before(null) {
    margin-top: size('border');
    transform: translateX(-50%) translateY(-2px);
  }

  @include after(null) {
    border-top-color: color($background);
    transform: translateX(-50%) translateY(-4px);
  }
}


/// @todo document small-divider
@mixin small-divider(
  $color: 'border'
) {
  background-image: linear-gradient(
    to right,
    color($color ('rgba': 0)),
    color($color),
    color($color ('rgba': 0))
  );
  display: block;
  height: size('border-thin');
  margin: 0 auto;
  max-width: size('full-content');
}
