// Typography Config
// =================

/// Base styles used on page-title H elements
/// @group typography
/// @example scss
///   .page-title {
///     @include title;
///   }
@mixin title {
  @include font-family('alt');
  font-size: calc(1.5rem + 1.75vw);
  line-height: 1.25;
}

/// Base styles for rst-summary and othr featured text-blocks
/// @group typography
/// @example scss
///   .rst-summary {
///     @include feature;
///   }
@mixin feature {
  font-size: size('intro-text');
  line-height: 1.5;
  margin: 0 auto size('spacer');
  max-width: size('feature-width');
  padding: 0 size('gutter');
}
