// Archives
// ========

.project-cover-image {
  @include extend('extend-full');
  display: block;
  margin-bottom: size('gutter');

  @include above('medium-page') {
    margin-bottom: size('double-gutter');
  }
}

.project-list-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .content-block & {
    @include above('medium-page') {
      grid-column: col3-start / -1;
      max-width: 100%;
    }
  }
}

.project-list-links {
  flex: 0 0 auto;
  margin-bottom: size('half-shim');
  margin-top: size('half-shim');
}

.project-headlines {
  flex: 0 0 1;
}

.project-list-title,
.project-list-tagline {
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}
