// Archives
// ========


.project-feature {
  margin: 0 auto;
  max-width: size('full-content');
  padding: 0 size('gutter');
}


.project-cover-image {
  @include extend('extend-small');
  display: block;
  margin-bottom: size('gutter');
  margin-top: size('gutter');
}


.project-list-links {
  margin-bottom: size('half-shim');
  margin-top: size('half-shim');
}


.project-list-title,
.project-list-tagline {
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}
