// Author Box
// ==========

.author-summary {
  margin-top: size('bird-face') + size('shim');
  max-width: 100%;
  padding-bottom: size('shim');

  .h-card {
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    max-width: size('full-content');
    padding: 0;

    @include above('full-content') {
      padding: 0 size('gutter');
      transform: translateX(negative('half-bird-face'));
    }
  }

  .bird-face {
    margin-right: negative('half-bird-face');
    position: relative;
    transform: translateY(-90%);

    @include before('') {
      @include position(85% 0 null);
      background-color: color('background');
      clip-path: polygon(0 0, 50% 100%, 100% 0);
      height: size('half-bird-face');
      z-index: -1;
    }
  }

  .bio-short {
    @include before('') {
      @include square('half-bird-face');
      float: left;
      shape-outside: polygon(0 0, 0% 100%, 100% 0);
    }
  }
}

.bird-face {
  color: color('text');

  svg {
    @include z-index('bump');
    position: relative;
  }
}

.bio {
  clear: both;
}

[data-size='face'] {
  @include square('bird-face');
}

[data-size='face-small'] {
  @include square('bird-face-small');
}

[data-size='sig'] {
  height: size('bird-sig-height');
  width: size('bird-sig-width');
}
