// Byline
// ======

.meta {
  margin-bottom: size('gutter');
  margin-top: 0;
  padding-top: size('gutter');
}

.byline {
  margin-bottom: size('half-shim');
  margin-top: 0;
}

.meta-preposition {
  font-style: italic;
  font-weight: 300;
}
