// SVG Charts
// ==========

[data-size='chart'] {
  height: 20rem;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}

.chart-line {
  fill: none;
  stroke: color('border');
  stroke-width: 2;
}

.chart-highlight {
  fill: color('brand-orange');
  stroke: color('brand-orange');
}

.chart-text {
  font-size: 0.65rem;
}

.chart-dashed {
  fill: none;
  stroke: color('brand-orange');
  stroke-dasharray: 16, 15;
  stroke-miterlimit: 10;
  stroke-width: 5;
}
