// Contact
// =======

.contact-intro {
  align-items: center;
  display: flex;

  .bird-face {
    display: none;
    flex: 0 0 auto;

    @include above('small-page') {
      display: block;
    }
  }

  p {
    flex: 1 1 auto;
    margin: 0;
  }
}
