// Contact
// =======

.contact-intro {
  align-items: center;
  display: flex;

  .bird-face {
    display: none;
    flex: 0 0 auto;

    @include above('small-page') {
      display: block;
    }
  }

  p {
    flex: 1 1 auto;
    margin: 0;
  }
}

// Running Footer
// --------------

.cta-block {
  $opaque: color(
    'contact-bg',
    (
      'rgba': 1,
      'tint': 50%,
    )
  );
  @include link-color-for($opaque);
  background: color('contact-bg');
  padding: size('gutter') 0;

  [data-media-block] {
    margin-top: size('gutter');
  }
}

[data-module='cta-content'] {
  @include before(null) {
    display: none;
  }
}

.cta-header {
  display: grid;
  grid: auto / 1fr min-content;
}

.cta-img {
  grid-area: 1 / 1 / -1 / -1;
}

.cta-img + .cta-title {
  align-self: end;
  grid-area: 1 / 2 / -1 / -1;
  justify-self: end;
  margin: size('shim');
  text-align: right;

  .cta-span {
    background: color('text');
    color: color('background');
    padding: 0 size('half-shim');
  }
}
