// Event Styles
// ============

// Components
// ----------

.event {
  margin: size('shim') 0;
}

.event-title,
.event-venue {
  margin: 0;
}

.event-meta {
  font-size: size('rel-small');

  time,
  .adr {
    font-weight: bold;
  }
}

// Feature
// -------

.feature-event {
  @include feature;

  .event-meta {
    margin-bottom: size('shim');
  }
}

// List
// ----

[data-module='events-list'] {
  & + & {
    margin-top: size('double-gutter');
  }

  .event-venue,
  .event-meta {
    display: inline-block;
  }
}

.event-list-links {
  @include before('»');
}

.more-events {
  &[aria-pressed='true'] {
    display: none;
  }
}
