// Event Styles
// ============


// Components
// ----------

.event {
  clear: both;
  margin: size('shim') 0;
}


.event-title,
.event-venue {
  margin: 0;
}


.event-meta {
  font-size: size('rel-small');

  time,
  .adr {
    font-weight: bold;
  }
}


// Feature
// -------

.feature-event {
  @include feature;

  .event-meta {
    margin-bottom: size('shim');
  }
}


// List
// ----

[data-module='events-list'] {
  .event-venue,
  .event-meta {
    display: inline-block;
  }

  & + & {
    margin-top: size('double-gutter');
  }
}


.events-list-title {
  float: left;
  margin-top: 0;

  &.no-events {
    float: none;
  }
}

.more-events {
  float: right;
}
