// Event Styles
// ============


// Components
// ----------

.event {
  margin: size('shim') 0;
}


.event-venue {
  margin: 0;
}


.event-talk {
  @include font-family('alt');
}


.event-meta {
  font-size: size('rel-small');

  time,
  .adr {
    font-weight: bold;
  }
}


// Feature
// -------

.feature-event {
  @include feature;

  .event-meta {
    margin-bottom: size('shim');
  }

  .event-talk {
    float: left;
    margin-right: size('half-shim');
  }

  .event-summary {
    :first-child {
      margin-top: 0;
    }
  }
}


// List
// ----

[data-module='events-list'] {
  .event-venue,
  .event-meta {
    display: inline-block;
  }
}
