// Watercolors
// ===========

// Watercolor backgrounds on main region
// -------------------------------------
@keyframes draw-logo {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-logo {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

@keyframes fade-logo-outline {
  to {
    stroke-width: 0;
  }
}

.no-hero {
  background-image: url('../images/multicolor_wash.jpg');
  background-position: top center;
  background-repeat: repeat-x;
  background-size: auto 120%;
  padding: size('gutter') size('shim');
  text-align: center;

  [data-icon='logo'] {
    animation: draw-logo 3s 1 ease-out both, fill-logo 3s 2s 1 ease-in-out both,
      fade-logo-outline 2s 2.5s 1 ease-in-out both;
    fill: color('background');
    height: size('hero-logo');
    stroke: color('background');
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-width: 1;
    width: auto;
  }

  [rel='home'] {
    #{$link} {
      display: inline-block;
      transition: transform time('fast') ease-in;
    }

    #{$focus} {
      transform: scale(1.075);
    }
  }
}

// Hero Images
// ===========

.hero {
  max-height: 55vh;
  overflow: hidden;
  position: relative;

  + .title {
    @include z-index('bump');
    background-image: linear-gradient(
      50deg,
      color('background') 80%,
      transparent 80%
    );
    margin-bottom: 0;
    margin-top: negative('gutter');
    padding-right: size(
      'calc(20% + #shim)'
    ); // 100% - 80% (angle) = 20% then add padding
    position: relative;

    @include above('small-page') {
      margin-top: negative('double-gutter');
    }

    @include above('medium-page') {
      background-image: linear-gradient(
        50deg,
        color('background') 60%,
        transparent 60%
      );
      margin-top: negative('triple-gutter');
      padding-bottom: size('gutter');
      padding-right: size(
        'calc(40% + #double-gutter)'
      ); // 100% - 60% (angle) = 40% then add padding
      padding-top: size('gutter');
    }
  }
}

.hero-image {
  width: 100%;
}
