// Watercolors
// ===========

// Watercolor backgrounds on main region
// -------------------------------------

.no-image {
  background-image: url('../images/multicolor-wash-05x.png');
  background-position: 60% 0;
  background-repeat: repeat-x;
  background-size: auto 33vh;

  @include above('full-content') {
    background-image: url('../images/multicolor-wash.png');
  }


  // Text shadow to first <p> in body so it is more readable above watercolors
  // -------------------------------------------------------------------------
  [data-module='rst-body'] {
    > p {
      &:first-child {
        @include text-shadow;
      }
    }
  }
}

// Hero Images
// ===========


.hero {
  max-height: 35vh;
  overflow: hidden;
  position: relative;

  @include above('medium-page') {
    max-height: 45vh;
  }

  + .title {
    background-image: linear-gradient(50deg, color('background') 80%, transparent 80%);
    margin-bottom: 0;
    margin-top: negative('double-gutter');
    padding-bottom: size('shim');
    padding-right: 20%;
    padding-top: size('shim');
    position: relative;
    z-index: 1;

    @include above('medium-page') {
      background-image: linear-gradient(50deg, color('background') 75%, transparent 75%);
      margin-top: negative('spacer');
      padding-bottom: size('gutter');
      padding-right: calc(23% - 3vw);
      padding-top: size('gutter');
    }

    @include above('large-page') {
      padding-right: calc(24% - 7vw);
    }
  
    @include before('') {
      background: color('background');
      bottom: 0;
      display: block;
      position: absolute;
      right: 100%;
      top: 0;
      width: calc((100vw - #{size('small-page')}) / 2);
    }
  }
}

.hero-image {
  width: 100%;
}
