// Watercolors
// ===========

// Watercolor backgrounds on main region
// -------------------------------------

.no-image {
  background-image: url('../images/multicolor-wash-05x.png');
  background-position: 60% 0;
  background-repeat: repeat-x;
  background-size: auto 33vh;

  @include above('full-content') {
    background-image: url('../images/multicolor-wash.png');
  }


  // Text shadow to first <p> in body so it is more readable above watercolors
  // -------------------------------------------------------------------------
  [data-module='rst-body'] {
    > p {
      &:first-child {
        @include text-shadow;
      }
    }
  }
}

// Hero Images
// ===========

.hero {
  max-height: 55vh;
  overflow: hidden;
  position: relative;

  + .title {
    background-image: linear-gradient(50deg, color('background') 80%, transparent 80%);
    margin-bottom: 0;
    margin-top: negative('double-gutter');
    max-width: none;
    padding-right: calc(20% + #{size('shim')}); // 100% - 80% (angle) = 20% then add padding
    position: relative;
    z-index: 1;

    @include above('medium-page') {
      background-image: linear-gradient(50deg, color('background') 60%, transparent 60%);
      margin-top: negative('spacer');
      padding-bottom: size('gutter');
      padding-right: calc(40% + #{size('double-gutter')}); // 100% - 60% (angle) = 40% then add padding
      padding-top: size('gutter');
    }
  }
}

.hero-image {
  width: 100%;
}
