// Intro Blocks
// ============
// Two column (on wide screens) intro and aside
// Can be seen on case studies

// wrapping container for intro
.intro-block {
  display: flex;
  flex-direction: column;

  @include above('full-content') {
    @include center('medium-page');

    @supports not (display: grid) {
      flex-direction: row;
      justify-content: flex-end;
    }

    @include grid;
  }
}

// intro inner wrapper text block and task info
// using this as a container to use flexbox inside and grid outside
.intro {
  @include above('full-content') {
    display: flex;

    @supports not (display: grid) {
      margin-left: 10vw;
    }

    @supports (display: grid) {
      // grid-column: [col2-start] / [col3-end];
      grid-column: 2 / -1;
    }
  }

  p {
    font-style: italic;

    @include above('full-content') {
      flex: 1 0 0;
      padding-right: size('gutter');
    }
  }
}

// intro side panel
.project-tasks {
  @include above('full-content') {
    border-left: 1px solid color('icon-block');
    flex: 0 1 25%;
    padding: size('shim') size('gutter');
  }
}

// headline in aside should line up with text block
.list-title {
  font-size: size('medium');
  margin-top: 0;
}
