// Post Header
// ===========

.title {
  @include text-shadow;
  margin-bottom: size('gutter');
  margin-top: size('gutter');
  padding: size('shim') size('gutter');

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .no-hero + & {
    @include center;
    max-width: size('medium-page');

    .title-post-type {
      $bleed: get-extend-calc('extend-full');
      margin-left: $bleed;
      padding-left: calc(#{$bleed} * -1);
    }
  }
}

.header-actions {
  font-size: 1rem;
  margin-top: size('gutter');
  text-align: right;
}

.title-post-type {
  background-color: color('invert');
  clip-path: polygon(
    100% 0%,
    calc(100% - #{size('shim-plus')}) 50%,
    100% 100%,
    0 100%,
    0 0
  );
  color: color('background');
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-left: negative('gutter');
  padding: size('half-shim') size('double-gutter') size('half-shim')
    size('gutter');
  text-shadow: none;
}

.title-main {
  @include title;
}

.title-sub {
  @include clearfix;
  display: block;
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: normal;
}

.rst-meta {
  margin-bottom: size('gutter');
  margin-top: 0;
  max-width: none;
  padding: 0 size('gutter');

  [data-module] & {
    padding: 0;
  }
}

.byline {
  margin-top: 0;
}

.meta-preposition {
  font-style: italic;
  font-weight: 300;
}

.rst-summary {
  @include feature;
  padding-top: size('shim');

  .h-card {
    margin-bottom: size('gutter');
  }
}

// Dynamic Titles
// --------------

.title-select {
  display: inline-block;

  .is-dropdown {
    transform: translateY(size('border-thin'));
    width: size('dropdown-narrow');

    @include above('nav-wide') {
      width: size('dropdown-wide');
    }
  }
}

.title-current {
  color: color('action');
  transition: all time('slow') ease-in-out;

  #{$focus} {
    color: color('action-hover');
  }
}

[name='title-option'] {
  @include is-hidden;

  &:checked {
    ~ .dropdown-item {
      font-style: italic;
    }
  }

  &:focus {
    ~ .dropdown-item {
      color: color('action');
    }
  }
}

.tagline-option {
  // float "isolation" keeps container height consistent…
  float: left;
  margin-right: -200%;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transform: translate3d(0, -100%, 0);
  transition: change('fade'), change('move-smooth');
  width: 100%;

  &.is-active {
    opacity: 1;
    pointer-events: initial;
    transform: translate3d(0, 0, 0);
    transition: change('fade') time('fast'), change('move-smooth');

    ~ .tagline-option {
      transform: translate3d(0, 100%, 0);
    }
  }
}
