// Post Header
// ===========

.title {
  @include text-shadow;
  margin-bottom: size('gutter');
  margin-top: size('gutter');
  padding: size('shim') size('gutter');

  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.header-actions {
  font-size: 1rem;
  margin-top: size('gutter');
  text-align: right;
}

.title-post-type {
  background-color: color('invert');
  clip-path: polygon(100% 0%, calc(100% - 0.5rem) 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  color: color('background');
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-left: negative('gutter');
  padding: size('quarter-shim') size('gutter');
  text-shadow: none;
}

.title-main {
  @include title;
}

.title-sub {
  @include clearfix;
  display: block;
  font-size: calc(1rem + 1vw);
  font-style: italic;
  font-weight: 400;
}

.rst-meta {
  margin-bottom: size('gutter');
  margin-top: 0;
  max-width: none;
  padding: 0 size('gutter');

  [data-module] & {
    padding: 0;
  }
}

.byline {
  margin-top: 0;
}

.meta-preposition {
  font-style: italic;
  font-weight: 300;
}

.rst-summary {
  @include feature;
  padding-top: size('shim');

  .h-card {
    margin-bottom: size('gutter');
  }
}
