// Post Lists
// ==========


[data-module='blog-post'] {
  & + & {
    @include before('') {
      @include extend('extend-small');
      @include small-divider;
      display: block;
    }
  }
}


.post-title {
  margin-bottom: 0;
}


.post-subtitle {
  font-size: size('h3');
  font-style: italic;

  p {
    margin-top: 0;
  }
}
