// Post Content
// ============


.post-container {
  background-color: color('background');
  position: relative;
}

.section-title {
  margin-top: 0;
}

.title {
  @include font-family('alt');
  font-size: calc(1.5rem + 1.75vw);
  line-height: 1.15;
  margin: size('gutter') auto;
  max-width: size('full-content');
  padding: 0 size('gutter');

  &:first-child {
    @include text-shadow;
  }
}

.intro {
  font-style: italic;
}

.linked-post-title {
  &,
  #{$link} {
    background-image: none; // no underlines on related post title links
  }
}
