// Post Content
// ============

.section-title {
  margin-top: 0;
}

.content-block {
  @include center('medium-page');
  @include grid;

  @supports not (display: grid) {
    max-width: size('full-content');
  }

  > * {
    @supports (display: grid) {
      grid-column: col1-start / -1;

      @include above('medium-page') {
        grid-column: col3-start / span 1;
        max-width: size('full-content');
      }
    }
  }
}

.linked-post-title {
  &,
  #{$link} {
    background-image: none; // no underlines on related post title links
  }
}
