// Post Content
// ============


.section-title {
  margin-top: 0;
}

@mixin title {
  @include font-family('alt');
  font-size: calc(1.5rem + 1.75vw);
  line-height: 1.25;
}

.title {
  @include title;
  margin: size('gutter') auto;
  max-width: size('full-content');
  padding: 0 size('gutter');

  [data-location='work'] & {
    font-size: calc(1.5rem + 15vw);
  }
}

.project-meta {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: size('gutter');

  @include above('full-content') {
    justify-content: space-between;
  }
}

.project-title {
  @include title;

  @include above('full-content') {
    max-width: 40vw;
  }

  em {
    @include font-family('body');
    display: block;
    font-size: calc(1.25rem + 1.75vw);
    font-style: italic;
  }
}

.project-links {
  text-align: right;
}

.default-block {
  @supports not (display: grid) {
    @include above('full-content') {
      margin-left: auto;
      margin-right: auto;
      max-width: size('full-content');
      width: 100%;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: $grid-columns;

    > * {
      grid-column: [col3-start] / [col3-end];
    }
  }
}

.intro-block {
  @supports not (display: grid) {
    display: flex;
    flex-direction: column;

    @include above('full-content') {
      flex-direction: row;
      justify-content: flex-end;
      margin-left: auto;
      max-width: 90%;
    }
  }

  @supports (display: grid) {
    @include above('full-content') {
      display: grid;
      grid-template-columns: $grid-columns;
    }
  }
}

.intro {
  font-style: italic;

  @supports not (display: grid) {
    flex: 1 0 0;
  }

  @supports (display: grid) {
    grid-column: [col2-start] / [col3-end];
  }
}

.aside {
  @include above('full-content') {
    border-left: 1px solid color('icon-block');
    margin-left: size('gutter');
    padding: size('shim') size('gutter');

    @supports (display: grid) {
      grid-column: [col4-start] / [col5-end];
    }
  }
}

.list-title {
  font-size: size('medium');
  margin-top: 0;
}

.linked-post-title {
  &,
  #{$link} {
    background-image: none; // no underlines on related post title links
  }
}
