// Services Content
// ================

.services-layout {
  .content-block {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.services,
.process {
  margin-bottom: size('double-gutter');
  margin-top: size('double-gutter');
  max-width: 100vw;
  padding: 0 size('gutter');
}

.services {
  margin-left: auto;
  margin-right: auto;

  @include above('small-page') {
    display: grid;
    grid-gap: size('double-gutter');
    grid-template-columns: repeat(2, 1fr);
  }

  @include above('medium-page') {
    max-width: 80vw;
  }
}

.process {
  background-color: color('section-bg');
  padding-bottom: size('double-gutter');
  padding-top: size('double-gutter');

  ol {
    @include above('small-page') {
      display: grid;
      grid-gap: size('double-gutter');
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
