// Social
// ======

.socials {
  // override main ul spacing
  [data-region='main'] & {
    margin: 0;
    padding: 0;
  }

  .social-item {
    display: inline-block;
    list-style: none;
    margin: 0 size('quarter-shim');
  }
}
