// Social
// ======

.socials {
  // override main ul spacing
  [data-region='main'] & {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  a {
    background-image: none;
    margin-right: size('shim');

    [data-icon] {
      padding: size('pixel'); // avoid social icons getting cropped
    }
  }
}

// Don't show the username for social icons in long bio
[data-module='bird'] {
  .name {
    margin: 0;
  }

  .icon-text {
    @include is-hidden;
  }
}


// Contact-Social
// --------------

.contact-social {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  font-size: size('social');
  justify-content: space-between;
  line-height: size('rhythm');

  // override main ul spacing
  [data-region='main'] & {
    margin: size('shim') 0;
    padding: 0;
  }
}

.contact-social-item {
  list-style: none;
}
