// Home Page Projects
// ==================

.splash-section {
  display: flex;
  flex-direction: column;

  // clearfix breaking the layout…
  @include after(null) {
    display: none;
  }

  @include above('splash-items') {
    flex-flow: row wrap;
    justify-content: center;
  }
}

.splash-project,
.splash-talk {
  margin: size('gutter');

  @include above('#splash-items' ('times': 2)) {
    max-width: size('splash-items');
  }

  @include above('medium-page') {
    margin: size('shim') size('double-gutter');
  }
}

.splash-title {
  @include font-family('alt');
  font-size: inherit;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}

.splash-brag {
  p {
    margin: 0;
  }
}

.splash-logo {
  #{$link} {
    align-items: center;
    color: color('caption');
    display: flex;
    justify-content: center;
    padding-bottom: size('shim');
    text-decoration: none;
    transition: change('move'), change('colors');
    width: 100%;

    @include before('') {
      flex: 0 0 1px;
      height: 0;
      margin-left: -1px;
      padding-top: percentage(340 / 907);
    }
  }

  #{$focus} {
    color: color('action-hover');
    transform: scale(1.1) translate3d(0, 0, 0);
  }

  svg {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }
}
