// Home Page Projects
// ==================




.jssass-book-cover {
  float: left;
  margin-right: size('pad');
  max-width: 45%;
}

.jssass-book-summary {
  @include above('small-page') {
    padding-top: size('gutter');
  }
}
