<article class="post--list">
  {% if rst.title %}
    <h2 class="post-title">
      <a href="{{ link_to('page', slug=rst.slug) }}">
        {{ rst.title }}
      </a>
    </h2>
  {% endif %}

  {% include "_byline.html.j2" %}

  <div class="post-body">
    {% if rst.summary %}
      {{ rst.render_summary() }}
      <a href="{{ link_to('page', slug=rst.slug) }}" class="more-link">
        read more
      </a>
    {% else %}
      {{ rst.render_contents() }}
    {% endif %}
  </div>
</article>
