{% import 'utility.macros.j2' as utility %}
{% import 'blog/macros.j2' as blog %}

<section data-module="recent-posts">
  <h2 class="section-title">
    {{ utility.link_if(module.title or 'Recent Posts', module.title_url) }}
  </h2>

  {%- for entry in get_recent_blog_entries(module.count or 5) %}
    {{ blog.list(entry, section=false) }}
  {%- endfor %}
</section>
