{% import 'utility.macros.j2' as utility %}
{% import 'blog/utility.macros.j2' as blog %}

{% set entries = get_blog_entries_by_tag(module.tag) %}

{% if entries %}
  <section data-module="recent-posts" {{ utility.attr_if('id', module.id) }}>
    <h2 class="section-title">
      {{ module.title or ['Articles about', module.tag]|join(' ') }}
    </h2>

    <ul>
      {% for entry in entries %}
        <li>
          {{ blog.link(entry) }}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
