{% extends "blog/archives.html" %}

{% import "blog/macros.j2" as blog %}
{% import "layout/macros.j2" as layout %}


{% block title %}Blog | {{ super() }}{% endblock %}
{% block og_title %}Blog{% endblock %}
{% block og_url %}{{ get_full_canonical_url(builder, slug='/blog/') }}{% endblock %}


{% block list_intro %}
  {% set page = 'blog-index'|get_config %}
  {{ layout.header(page, page) }}
{% endblock list_intro %}


{% block archive %}
  {%- for post in pagination.get_slice() %}
    {{ blog.list(post) }}
  {%- endfor %}

  {% if show_pagination and pagination.pages > 1 %}
    {{ pagination }}
  {% endif %}
{% endblock archive %}
