{% extends "layout.html" %}
{% block title %}Blog{% endblock %}
{% block body %}

  {%- for ctx in pagination.get_slice() %}
  <article class="post">
    <h3>
      <a href="{{ link_to('page', slug=ctx.slug) }}">
        {{ ctx.title }}
      </a>
    </h3>

    {% include "_byline.html" %}

    {% if ctx.summary %}
    <div class="summary">{{ ctx.render_summary() }}</div>
    {% endif %}
  </article>
  {%- endfor %}

  {% if show_pagination and pagination.pages > 1 %}
    {{ pagination }}
  {% endif %}
{% endblock %}
