{% import 'utility.macros.j2' as utility %}
{% import 'layout/macros.j2' as page %}
{% import 'content.macros.j2' as content %}
{% import 'birds/utility.macros.j2' as birds %}


{% macro list(post, section='blog-post') %}
  {{ content.divider() }}

  <article {{ utility.attr_if('data-module', section) }}>
    {% set heading = 'h2' if section else 'h3' %}
    <{{ heading }} class="post-title">
      <a href="{{ link_to('page', slug=post.slug) }}" rel="bookmark">
        {{ post.title|typogrify }}
      </a>
    </{{ heading }}>

    {% set subtitle = post.config.headline[0].tagline if post.config.headline else none %}
    {% if subtitle %}
      <div class="post-subtitle">{{ subtitle|rst }}</div>
    {% endif %}

    {{ page.rst_meta(post) }}
    {{ page.header_image(
      post,
      class='extend-small img-border img-shadow'
    ) }}

    {% if post.summary %}
      <div class="summary">
        {{ post.render_summary() }}
      </div>
    {% endif %}

    {% call content.link_button(
      url=link_to('page', slug=post.slug),
      attrs={'rel': 'bookmark'}
    ) %}
      Read More
    {% endcall %}
  </article>
{% endmacro %}
