{% import 'utility.macros.j2' as utility %}
{% import 'birds/macros.j2' as birds %}

{% macro list(post, section='blog-post') %}
  <article {{ utility.attr_if('data-module', section) }} class="preview">
    {% set heading = 'h2' if section else 'h3' %}
    <{{ heading }} class="post-title">
      <a href="{{ link_to('page', slug=post.slug) }}" rel="bookmark">
        {{ post.title }}
      </a>
    </{{ heading }}>

    <div class="meta">
      <p class="byline">
        <span class="meta-bit">by</span> {{ birds.get_card(post.author, config=post.config, details=false) }}
        <span class="meta-bit">on</span> {{ pubdate(post.pub_date) }}
      </p>
      {{ tags(post.tags) }}
    </div>

    {{ header_image(post) }}

    {% if post.summary %}
      <p class="summary">
        {{ post.render_summary() }}
      </p>
    {% endif %}

    <a href="{{ link_to('page', slug=post.slug) }}" rel="bookmark">
      Read More »
    </a>
  </article>
{% endmacro %}


{% macro link(post) %}
  {{ pubdate(post.pub_date) }} »
  <a href="{{ link_to('page', slug=post.slug) }}" rel="bookmark">
    {{ post.title }}
  </a>
{% endmacro %}


{% macro intro(post) %}
  {% if post.intro %}
    <p class="intro">
      {{ post.intro }}
    </p>
  {% endif %}
{% endmacro %}

{% macro byline(post) %}
  <p class="byline">
    <span class="meta-bit">by</span> {{ birds.get_card(post.author, config=post.config) }}
    {{ pubdate(post.pub_date) }}
  </p>
  {{ tags(post.tags) }}
{% endmacro %}


{% macro tags(taglist) %}
  {% if taglist %}
    <nav class="tags">
      {% for tag in taglist|sort(case_sensitive=true) %}
        <a href="{{ link_to('tag', tag=tag) }}" class="tag" rel="tag">{{ tag }}</a>
      {%- endfor %}
    </nav>
  {% endif %}
{% endmacro %}


{% macro header_image(post) %}
  {% set image = post.config.image[0].src if post.config.image else none %}

  {% if image %}
    {% if 'http://' in image %}
      <img src="{{ image }}" class="hero">
    {% else %}
      <img src="/static/images/blog/{{ image }}" class="hero">
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro pubdate(date) %}
  {% if date %}
    <time datetime="{{ date.isoformat() }}" pubdate="pubdate">
      {{ date.strftime("%B %d, %Y") }}
    </time>
  {% endif %}
{% endmacro %}
