{% import 'utility.macros.j2' as utility %}


{% macro link(post) %}
  <a class="linked-post-title" href="{{ link_to('page', slug=post.slug) }}" rel="bookmark">
    {{ post.title }}
  </a>
  - {{ utility.datetime(post.pub_date) }}
{% endmacro %}


{% macro intro(post) %}
  {% if post.intro %}
    <p class="intro">
      {{ post.intro }}
    </p>
  {% endif %}
{% endmacro %}
