{% extends "layout.html" %}
{% block title %}Blog Archive for {{ entry.year }}{% endblock %}
{% block body %}

  <h1 class="listtitle year">
    <a href="{{ link_to('blog_archive') }}">Blog Archive</a>:
    {{ entry.year }}
  </h1>

  <ul class=blog-archive>
    {%- for subentry in entry.months %}
      <li>
        <a href="{{ link_to('blog_archive', year=entry.year, month=subentry.month) }}">{{ subentry.month_name }}</a>
        [{{ subentry.count }}]
      </li>
    {%- endfor %}
  </ul>
{% endblock %}
