{% extends "blog/archives.html" %}
{% block title %}Blog Archive for {{ entry.year }}{% endblock %}
{% block archivetype %}year{% endblock archivetype %}

{% block archive %}
  <h1 class="archivetitle">
    <a href="{{ link_to('blog_archive') }}">Blog Archive</a>:
    {{ entry.year }}
  </h1>

  <ul class="blog-archive">
    {%- for subentry in entry.months %}
      <li class="archiveentry">
        <a href="{{ link_to('blog_archive', year=entry.year, month=subentry.month) }}" rel="bookmark">
          {{ subentry.month_name }}
        </a>
        <b class="archivecount">{{ subentry.count }}</b>
      </li>
    {%- endfor %}
  </ul>
{% endblock %}
