{% extends "layout.html" %}
{% block title %}Blog Archive for {{ entry.year }}{% endblock %}
{% block bodyclasses %}blog{% endblock bodyclasses %}

{% block body %}

  <h1 class="listtitle year">
    <a href="{{ link_to('blog_archive') }}">Blog Archive</a>:
    {{ entry.year }}
  </h1>

  <ul class="blog-archive">
    {%- for subentry in entry.months %}
      <li class="archiveentry">
        <a href="{{ link_to('blog_archive', year=entry.year, month=subentry.month) }}" class="permalink">
          {{ subentry.month_name }}
        </a>
        <b class="archivecount">{{ subentry.count }}</b>
      </li>
    {%- endfor %}
  </ul>
{% endblock %}
