// ----------------------------------------------------------------------------
// shared

%demo-item {
  @include mono;
  @include adjust-font-size-to($xsmallpx);
  @include rhythm(.5,.5);
  background: rgba($base,.75);
  color: $lightest;
  text-shadow: $base 0 1px 0;
}

// ----------------------------------------------------------------------------
// susy isolation demo

.subpixel-demo {
  @include susy-grid-background;
  @include clearfix;
  @include trailer;
  border: 1px solid $base;
  text-align: center;

  div { @extend %demo-item; }

  .span { @include span-columns(6); }
  .isolate {
    @include span-columns(6);
    @include isolate(3);
  }

  .first {
    @include span-columns(3);
    @include isolate(2);
  }
  .second {
    @include span-columns(4);
    @include isolate(9);
  }
  .third {
    @include span-columns(6);
    @include isolate(4);
  }

  .gallery-item { @include isolate-grid(1); }
  .gallery-item2 { @include isolate-grid(3); }

}

// ----------------------------------------------------------------------------
// susy bleed demo

.bleed-demo {
  @extend %demo-item;
  padding: 0;

  @include bleed(1 of 9);

  span {
    @include rhythm-borders(1px,.5);
    display: block;
    border-color: red;
  }
}

.bleed-sides-demo {
  @extend %demo-item;
  @include bleed(3 of 9, left);
  @include bleed(3em, top);
  @include bleed(6px, right bottom);
  span {
    @include rhythm-borders(1px,.5);
    display: block;
    border-color: red;
  }
}

