@import "compass";
@import "compass/reset";
@import "susy";

// --------------------------------------------
// settings

$total-columns    : 5;
$column-width     : 4em;
$gutter-width     : 1em;
$grid-padding     : 1em;

$medium-columns   : 8;
$large-columns    : 12;

$container-width  : container-outer-width($large-columns);

// --------------------------------------------
// layout

@include border-box-sizing;

.container {
  @include container;
  overflow: hidden;
}

// --------------------------------------------
// small

$anchor : 1;
$side   : $total-columns - $anchor;

.left {
  @include span-columns($side);
  margin-left: -100%;
  .show-left & { margin-left: 0; }
}

.main {
  @include span-columns($total-columns);
  margin-right: 0;
  .show-left & { margin-right: - space($side); }
  .show-right & { margin-left: - space($side); }
}

.right {
  @include span-columns($side omega);
  margin-right: -100%;
  .show-right & { margin-right: 0; }
}

// --------------------------------------------
// medium

$main : 5;
$side : $medium-columns - $main;

@include at-breakpoint($medium-columns) {
  [href="#left"] { visibility: hidden; }

  .left {
    @include span-columns($side);
    margin-left: 0;
    .show-right & { margin-left: - 100%; }
  }

  .main {
    width: columns($main);
    .show-right & { margin-left: 0; }
    .show-left & { margin-right: 0; }
  }

  .right {
    width: columns($side);
    .show-right & { margin-right: 0; }
  }
}

// --------------------------------------------
// large

$main : 6;
$side : ($large-columns - $main)/2;

@include at-breakpoint($large-columns) {
  [href="#right"] { visibility: hidden; }

  .left {
    @include span-columns($side);
    .show-right & { margin-left: 0; }
  }

  .main {
    width: columns($main);
  }

  .right {
    @include span-columns($side omega);
  }
}

// --------------------------------------------
// styles (for demo only)

.container {
  @include susy-grid-background;
  @include at-breakpoint($medium-columns) { @include susy-grid-background; }
  @include at-breakpoint($large-columns) { @include susy-grid-background; }
  text-transform: uppercase;
}

header, footer {
  @include clearfix;
  clear: both;
  min-height: 3em;
  padding: 1em;
  background: rgba(#fcf,.75);
  text-align: center;
}

.toggle { text-transform: none; }
[href="#left"] { float: left; }
[href="#right"] { float: right; }

.left, .right, .main {
  @include transition(.3s all ease);
  height: 20em;
  padding: 1em;
}
.left, .right { @include opacity(0); }

.left {
  background: rgba(#cff,.75);
  .show-left & { @include opacity(1); }
  @include at-breakpoint($medium-columns) {
    @include opacity(1);
    .show-right & { @include opacity(0); }
  }
  @include at-breakpoint($large-columns) {
    &, .show-right & { @include opacity(1); }
  }
}

.main { background: rgba(#eee,.75); }

.right {
  background: rgba(#ffc,.75);
  .show-right & { @include opacity(1); }
  @include at-breakpoint($large-columns) { @include opacity(1); }
}
