// Alignment Patterns
// ==================

.align-left {
  float: left;
  margin-bottom: size('pad');
  padding-right: size('pad');
}

.align-right {
  float: right;
  margin-bottom: size('pad');
  padding-left: size('pad');
}

.align-center {
  display: block;
  margin: 0 auto size('pad');
}

.align-none {
  margin-bottom: size('pad');
}
