// Blockquotes
// ===========

blockquote {
  font-size: calc(1.125rem + 0.5vw);
  font-style: italic;
  margin-bottom: size('gutter');
  margin-top: size('gutter');
  position: relative;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: $grid-columns;
  }

  @include before('“') {
    @include font-family('alt');
    background-color: color('quote');
    border-radius: 50%;
    color: color('background');
    font-size: size('quote-circle');
    font-style: normal;
    height: size('quote-circle-small');
    line-height: 0.8;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-indent: size('half-shim');
    width: size('quote-circle-small');

    @include above('blockquote') {
      font-size: size('quote');
      height: size('quote-circle');
      text-indent: size('shim');
      width: size('quote-circle');

      @supports not (display: grid) {
        margin-left: 0;
        position: absolute;
      }

      @supports (display: grid) {
        grid-columns: [col1-start] / [col1-end];
      }
    }
  }

  @include above('blockquote') {
    p {
      @supports not (display: grid) {
        margin-left: auto;
        margin-right: 0;
        max-width: 90%;
      }

      @supports (display: grid) {
        grid-column: [col2-start] / -1;
      }
    }
  }
}

