// Blockquotes
// ===========


blockquote {
  display: flex;
  flex-wrap: wrap;
  font-size: calc(1.125rem + 0.5vw);
  font-style: italic;
  margin: size('gutter') 0;
  max-width: 100%;
  position: relative;

  @include below('medium-page') {
    flex-direction: row;
    justify-content: center;
  }

  @include above('medium-page') {
    justify-content: flex-end;
    min-width: size('column-wide');
  }

  @include before('“') {
    @include font-family('alt');
    background-color: color('quote');
    border-radius: 50%;
    color: color('background');
    font-size: size('quote-circle');
    font-style: normal;
    height: size('quote-circle-small');
    line-height: 0.8;
    text-indent: size('half-shim');
    width: size('quote-circle-small');

    @include above('medium-page') {
      font-size: size('quote');
      height: size('quote-circle');
      margin-right: size('gutter');
      text-indent: size('shim');
      width: size('quote-circle');
    }
  }
  
  p {
    @include above('medium-page') {
      flex: 0 0 size('blockquote');
    }
  }
}
