// Blockquotes
// ===========

$quote-circle: calc(2rem + 2vw);
$quote-circle-type: calc(5rem + 2vw);

[data-quote-section] {
  margin-bottom: size('spacer');
  margin-top: size('spacer');
}

[data-quote-section=''] {
  @include center('small-page');
}

[data-quote-section='two-up'] {
  @include extend('extend-small');
  @include center('medium-page');
  align-items: start;
  display: grid;
  grid-column-gap: size('double-gutter');

  @include above('small-page') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .pullquote,
  blockquote {
    justify-self: center;

    &:nth-child(odd) {
      &:last-child {
        grid-column: 1 / -1;
      }
    }
  }

  // clearfix breaking the layout…
  [data-module='rst-body'] & {
    @include after(null) {
      display: none;
    }
  }
}

.pullquote,
blockquote {
  margin-bottom: size('gutter');
  margin-top: size('gutter');

  .media-image {
    @include square($quote-circle);
    border-radius: 50%;

    &:not(img) {
      @include before('“');
      @include font-family('alt');
      background-color: color('quote');
      color: color('background');
      font-size: $quote-circle-type;
      font-style: normal;
      line-height: 0.8;
      text-align: right;
    }
  }

  &:not([data-media-block]) {
    border-left: size('border') solid color('callout');
    font-size: size('intro-text');
    padding-left: size('gutter');
  }

  p {
    &:not(.attribution) {
      @include wrap-content;
      text-indent: -0.4em;
    }
  }
}

.attribution {
  font-size: 1rem;
  margin-bottom: 0;

  b {
    font-style: normal;
    font-weight: normal;
  }
}
