// Buttons and Button Links
// ========================


/// The `btn` class provides a button-like
/// call-to-action style
/// that can be applied to `link` or `button` elements.
/// @group buttons
/// @example njk - submit button
///   {% import 'content.macros.j2' as content %}
///   {{ content.button(
///     content='Submit',
///     attrs={'type': 'submit'}
///   ) }}
/// @example njk - link button
///   {% import 'content.macros.j2' as content %}
///   {{ content.link_button(
///     url='/herman/docs/',
///     content='Read the docs'
///   ) }}
.btn {
  &,
  #{$link} {
    @include font-family('alt');
    align-items: center;
    background: color('background'); // remove link underline when styling as button...
    border: 1px solid color('action-border');
    border-radius: size('border-radius');
    color: color('action');
    display: inline-flex;
    font-weight: bold;
    padding: size('half-shim') size('gutter');
    text-decoration: none;
    text-shadow: none;
    transition: color 250ms, background-color 250ms;
  }

  @include after('»') {
    font-weight: normal;
    padding: 0 size('quarter-shim');
    transform-origin: 50% 60%;
    transition: transform 250ms;
  }

  #{$focus},
  &[aria-pressed='true'] {
    background-color: color('action');
    color: color('background');

    &::after {
      transform: translateX(size('quarter-shim'));
    }
  }

  &[aria-pressed='true'] {
    &::after {
      transform: rotate(180deg);
    }
  }

  + .btn {
    margin-left: size('half-shim');
  }
}


.small-btn {
  font-size: size('small');
  padding: size('half-shim') size('shim');
}


.content-img {
  + .btn {
    margin-top: size('gutter');
  }
}
