// Buttons and Button Links
// ========================


/// The `btn` class provides a button-like
/// call-to-action style
/// that can be applied to `link` or `button` elements.
/// @group buttons
/// @example njk - submit button
///   {% import 'content.macros.j2' as content %}
///   {{ content.button(content='Submit') }}
/// @example njk - link button
///   {% import 'content.macros.j2' as content %}
///   {{ content.link_button(
///     url='/herman/docs/',
///     content='Read the docs'
///   ) }}
.btn {
  &,
  #{$link} {
    @include font-family('alt');
    align-items: center;
    background: color('background'); // remove link underline when styling as button...
    border: 1px solid color('action-border');
    border-radius: size('border-radius');
    color: color('action');
    display: inline-flex;
    font-weight: bold;
    padding: size('half-shim') 1rem;
    text-decoration: none;
    text-shadow: none;
    transition: color 250ms, background-color 250ms;
  }

  #{$focus} {
    background-color: color('action');
    color: color('background');

    &::after {
      transform: translateX(size('half-shim'));
    }
  }

  @include after('»') {
    font-weight: normal;
    padding-left: size('half-shim');
    transition: transform 250ms;
  }

  + .btn {
    margin-left: size('half-shim');
  }
}
