// Dynamic Titles
// ==============

.dynamic-title {
  .title-main {
    margin-top: size('shim');
  }
}

.title-select {
  display: inline-block;

  .is-dropdown {
    min-width: 100%;
    transform: translateY(size('border-thin'));
  }
}

.title-current {
  color: color('action');
  transition: all 300ms ease-in-out;

  #{$focus} {
    color: color('action-hover');
  }
}

[name='title-option'] {
  @include is-hidden;

  &:checked {
    ~ .dropdown-item {
      font-style: italic;
    }
  }

  &:focus {
    ~ .dropdown-item {
      color: color('action');
    }
  }
}

.tagline-option {
  // float "isolation" keeps container height consistent…
  float: left;
  margin-right: -200%;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transform: translate3d(0, -100%, 0);
  transition: opacity 200ms ease-in-out, transform 300ms ease-in-out;
  width: 100%;

  &.is-active {
    opacity: 1;
    pointer-events: initial;
    transform: translate3d(0, 0, 0);
    transition: opacity 200ms 100ms ease-in-out, transform 300ms ease-in-out;

    ~ .tagline-option {
      transform: translate3d(0, 100%, 0);
    }
  }
}
