// Form Patterns
// =============

[data-form-field] {
  display: block;
  margin-bottom: size('shim');
}

.form-label {
  display: block;
}

[data-input-type='default'],
[data-input-type='textarea'] {
  border: 1px solid color('border');
  display: block;
  font-size: size('small');
  padding: size('half-shim');
  width: 100%;
}

[data-input-type='textarea'] {
  min-height: 8rem;
}

.form-actions {
  text-align: right;
}
