// Form Patterns
// =============

[data-form-field] {
  display: block;
  margin-bottom: 0.5rem;
}

.form-label {
  display: block;
}

[data-input-type='default'],
[data-input-type='textarea'] {
  border: 1px solid color('border');
  display: block;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

[data-input-type='textarea'] {
  min-height: 8rem;
}

.form-actions {
  text-align: right;
}
