// Galleries
// =========

$min-image: 300px;

.gallery {
  #{--min-image}: $min-image;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: size('gutter');

  @supports (display: grid) {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-gap: size('shim');
    grid-template-columns: repeat(auto-fill, minmax($min-image, 1fr));
  }

  @supports (--css: variables) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--min-image, $min-image), 1fr)
    );
  }
}

.gallery-item {
  flex: 0 1 $min-image;
  margin: size('shim');
  overflow: hidden;
  position: relative;

  @supports (display: grid) {
    grid-column-end: span 1;
    grid-row-end: span 1;
    margin: 0;
  }

  @supports (--css: variables) {
    flex-basis: var(--min-image, $min-image);
  }
}

.gallery-link {
  display: block;

  #{$link} {
    border: 1px solid color('action');
    text-decoration: none;
  }

  #{$focus} {
    .gallery-image {
      transform: scale(1);
    }

    + .duo-overlay {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .duo & {
    overflow: hidden;
  }
}

.duo {
  .gallery-image {
    transform: scale(1.3);
    transform-origin: 100% 0;
    transition: transform time('fast') ease-in;
  }

  .duo-overlay {
    @include position(-1px -1px -1px 22.5%);
    @include contrasted('action');
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(101%, 0, 0);
    transition: opacity, transform time('fast') ease-in;
  }
}

.gallery-caption {
  grid-column: 1 / -1;
  margin: size('shim') 0;
}

// Videos
// ------

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video-item {
  border: 1px solid color('border');
  flex: 1 1 size('splash-items');
  margin: size('shim');
  max-width: 100%;
}

.video {
  @include fluid-ratio;
  overflow: hidden;

  iframe {
    @include position(0);
    height: 100%;
    width: 100%;
  }
}
