// Icon Pattern
// ============

[data-icon] {
  fill: currentColor;
  height: 1em;
  width: 1em;
}

// fill classes used when svg requires multiple colors
.fill-white {
  fill: color('background');
}
