// Icon Pattern
// ============

[data-icon] {
  @include square(1em);
  fill: currentColor;
  padding: size('pixel');
}

// fill classes used when svg requires multiple colors
.fill-white {
  fill: color('background');
}

[data-size='text-small'] {
  @include square(0.75em);
  vertical-align: baseline;
}
