// Icon Blocks
// ===========

.icon-blocks-container {
  @include center('medium-page');

  h2 {
    @include center('full-content');
  }
}

.icon-blocks {
  @supports not (display: grid) {
    @include center('full-content');
    display: flex;
  }

  @include grid;
}

.icon-block {
  margin-top: 1.5rem; // match margin from h2
  text-align: right;

  @supports not (display: grid) {
    padding-right: size('shim');
  }

  @supports (display: grid) {
    grid-column: 1;
    // grid-column: [col1-start];

    @include above('full-content') {
      grid-column: 2;
    }
  }

  [data-icon] {
    color: color('icon-block');
    height: calc(3rem + 3vw);
    width: calc(3rem + 3vw);
  }
}

.icon-block-text {
  @supports (display: grid) {
    @include below('full-content') {
      // grid-column: [col3-start];
      grid-column: 2 / -1;
      padding-left: size('shim');
    }

    @include above('full-content') {
      grid-column: 3 / 4;
    }
  }
}
