// Image Blocks
// ============


.image-block {
  margin: size('gutter') 0;
  text-align: center;

  @include above('small-page') {
    align-items: center;
    display: flex;
    display: grid; // sass-lint:disable-line no-duplicate-properties
    grid-template-columns: auto minmax(0, 1fr);
    text-align: left;
  }
}


.imageblock-link {
  &[href] {
    display: block;
    text-decoration: none;
    transition: transform 300ms ease('ease-back');

    #{$focus} {
      transform: scale(1.1) translateX(negative('shim'));
    }
  }
}


.imageblock-link,
.imageblock-image {
  flex: 0 1 45%;
  margin: 0 auto;
  max-width: size('imageblock-image');
}

.imageblock-image {
  margin-bottom: size('shim');

  @include above('small-page') {
    margin: 0;
  }
}

.imageblock-content {
  text-align: left;

  @include above('small-page') {
    margin-left: size('pad');
  }
}

.imageblock-title {
  margin-top: 0;
}
