// Image Blocks
// ============

.image-block {
  @include contentblock;
}

.imageblock-title {
  font-size: size('h3');
  margin-top: 0;
}

.imageblock-link {
  @include contentblock-highlight('link');

  &[href] {
    @include transition('move');
    display: block;
    text-decoration: none;

    #{$focus} {
      transform: scale(1.1) translateX(negative('shim'));
    }
  }
}

.imageblock-image {
  @include contentblock-highlight('normal');
}

.imageblock-content {
  @include contentblock-copy;
}
