// Inverted Sections
// =================

.inverted {
  background-color: color('invert');
  color: color('background');

  a {
    &,
    #{$link}  {
      @include text-underline('background', 'invert');
    }

    #{$focus} {
      @include text-underline-color('invert-link-hover');
    }

    &.icon-link {
      // no underline on whole link. Going to target text only.
      #{$link} {
        background-image: none;
      }

      // change underline color when hover over icon too
      #{$focus} {
        .icon-text {
          @include text-underline-color('invert-link-hover');
        }
      }

      // target only text within these svg icon links
      .icon-text {
        @include text-underline('background', 'invert');
      }
    }
  }
}
