// Inverted Sections
// =================

.inverted {
  background-color: color('invert');
  color: color('background');

  a {
    color: color('background');

    #{$focus} {
      color: color('invert-link-hover');
    }
  }

  p {
    a {
      &,
      #{$link} {
        @include text-underline('background', 'invert');
      }

      #{$focus} {
        background-image: linear-gradient(color('invert-link-hover'), color('invert-link-hover'));
        color: color('invert-link-hover');
      }
    }
  }
}
