// Lists
// =====


[data-region='main'] {
  ul,
  ol {
    margin: size('shim') 0 size('gutter');
    padding-left: size('gutter');
  }
}

.upperroman {
  list-style-type: upper-roman;
}

.loweralpha {
  list-style-type: lower-alpha;
}

// Simple is a generated class from RST
.simple {
  .project-tasks & {  
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
}
