// Pattern Manifest
// ================

@import 'alignment';
@import 'buttons';
@import 'blockquotes';
@import 'gallery';
@import 'icons';
@import 'inverted';
@import 'forms';
@import 'lists';
@import 'sections';
@import 'sizes';
@import 'states';
@import 'media';
@import 'code';
@import 'tags';

// Less used CSS load later
// ------------------------

@import 'image-blocks';
@import 'icon-blocks';
@import 'text-blocks';
