// Media
// =====


audio,
canvas,
iframe,
video {
  margin-bottom: size('gutter');
}

svg {
  fill: currentColor;
}

// For those images that have text and need separation from content
.img-border {
  border: 1px solid color('border-light');
}

.img-shadow {
  box-shadow: 2px 2px 5px color('shadow');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  + img {
    margin-top: size('shim');
  }
}

.caption {
  color: color('caption');
  font-size: size('caption');
  font-style: italic;
}

.figure,
.add-space {
  margin-bottom: size('gutter');
  margin-top: size('gutter');

  @include above('medium-page') {
    margin-bottom: size('spacer');
    margin-top: size('spacer');
  }
}


// Media Blocks
// ------------

.media-block {
  align-items: flex-start;
  display: flex;
  padding-bottom: size('shim');
}

.media-image {
  flex: 0 0 auto;
  margin-right: size('shim');
}

.media-content {
  align-self: center;
  flex: 1 1 0;
}
