// Media
// =====

audio,
canvas,
iframe,
video {
  margin-bottom: size('gutter');
}

audio {
  width: 100%;
}

svg {
  fill: currentColor;
}

// For those images that have text and need separation from content
.img-spacing {
  margin-bottom: size('shim');
  margin-top: size('shim');
}

.img-border {
  border: 1px solid color('border-light');

  &.gallery {
    border: 0;

    .gallery-image {
      border: 1px solid color('border-light');
    }
  }
}

.img-shadow {
  box-shadow: 2px 2px 5px color('shadow');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  + img {
    margin-top: size('shim');
  }
}

.caption {
  color: color('caption');
  font-size: size('caption');
  font-style: italic;
}

.figure {
  margin-bottom: size('gutter');
  margin-top: size('gutter');

  img {
    width: 100%;
  }
}

.add-space {
  margin-bottom: size('gutter');
  margin-top: size('gutter');

  @include above('medium-page') {
    margin-bottom: size('spacer');
    margin-top: size('spacer');
  }
}

// Media Blocks
// ------------

[data-media-block] {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: size('shim');

  @include above('small-page') {
    flex-direction: row;
  }
}

[data-media-block~='start'] {
  @include above('small-page') {
    align-items: start;
  }
}

[data-media-block~='end'] {
  @include above('small-page') {
    align-items: end;
  }
}

.media-image {
  flex: 0 0 auto;

  @include below('small-page') {
    margin-bottom: size('shim');
  }

  @include above('small-page') {
    margin-right: size('gutter');
  }
}

.media-content {
  align-self: center;
  flex: 1 1 0;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

// Ratios
// ------

[data-ratio='parent'] {
  --ratio: #{ratio('_widescreen')};
  position: relative;

  @include before('') {
    display: inline-block;
    height: 0;
    padding-top: calc(100% / var(--ratio, #{ratio('_widescreen')}));
    width: 1px;
  }
}

[data-ratio='child'] {
  @include position(0);
  @include square(100%);
}
