// Media
// =====

audio,
canvas,
iframe,
video {
  margin-bottom: size('gutter');
}

.hero {
  width: 100%;
}

// For those images that have text and need separation from content
.img-border {
  border: 1px solid color('border-img');
}
