// Site Navigation
// ===============

$nav-locations:
  'birds',
  'work',
  'speaking',
  'open-source',
  'blog',
  'community',
  'contact',
;

@each $location in $nav-locations {
  [data-location='#{$location}'] {
    [data-active='#{$location}'] {
      &:link,
      &:visited {
        @include wrap-content('[' ']');
        color: inherit;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
