// Sections Pattern
// ================


[data-module] {
  margin: size('gutter') auto;
  max-width: size('full-content');
  padding: 0 size('gutter');

  & + & {
    @include before('') {
      border-top: size('border-thin') solid color('border-light');
      display: block;
      margin: size('double-gutter') 0;
    }
  }
}

.grid-template {
  max-width: 100%;
}


.divider {
  @include extend('extend-full');
}


.divider-line {
  @include section-arrow;
  box-shadow: 0 2px 2px color('shadow');
  overflow: visible;
  z-index: 2;

  [data-location*='susysite'] & {
    @include section-arrow('brand-pink');
  }
}


.divider-title {
  @include contrasted('invert');
  background-image: linear-gradient(
    to top,
    color('shadow'),
    transparent size('quarter-shim')
  );
  border-top: 1px solid color('invert');
  font-size: inherit;
  margin: -1px 0 size('double-gutter');
  opacity: 0.95;
  padding: size('half-shim') size('gutter');
}


// used when going back and forth between content-blocks and other elements
.section-end {
  margin-bottom: size('double-gutter');
}

.preview {
  margin: size('double-gutter') auto;
}
