// Sections Pattern
// ================


[data-module] {
  margin: size('gutter') auto size('spacer');
  max-width: size('full-content');
  padding: 0 size('gutter');

  & + & {
    border-top: 2px dotted color('border-light');
    padding-top: size('gutter');
  }
}

.title {
  @include font-family('alt');
  font-size: calc(1rem + 2vw);
  margin: size('gutter') auto;
  max-width: size('full-content');
  padding: 0 size('gutter');
}
