// Sections Pattern
// ================


[data-module] {
  margin: size('gutter') auto size('spacer');
  max-width: size('full-content');
  padding: 0 size('gutter');
}

.grid-template {
  max-width: 100%;
}

.separator {
  @include section-arrow;
  box-shadow: 0 2px 2px color('shadow');
  z-index: 2;
}

.preview {
  margin-bottom: size('spacer');
}
