// Size Patterns
// =============
// Works well with images in blog posts

.size-full {
  width: 100%;
}

.size-half {
  width: 50%;
}

.size-quarter {
  width: 25%;
}


// Variables for widths/margins of extended things
// ===============================================
/// @link http://www.sassmeister.com/gist/8374287846277fdf3361537dfaac27a8

$full-content: size('full-content');
$extend-small: 70vw;
$extend-medium: 80vw;
$extend-large: 90vw;
$extend-full: 100vw;

// Extend thing outside its container on one side only
// viewport, minus the main content width, divided by 2, then make negative
/// @link http://codepen.io/mirisuzanne/pen/ded4ae1f55f9b24b2aa0ea4aaac71e47?editors=0100
.extend-left {
  float: left;
  margin-bottom: size('pad');
  padding-right: size('pad');

  @include above('medium-page') {
    margin-left: calc((#{$extend-medium} - #{$full-content}) / 2 * -1);
  }

  @include above('large-page') {
    margin-left: calc((#{$extend-small} - #{$full-content}) / 2 * -1);
  }
}

.extend-right {
  float: right;
  margin-bottom: size('pad');
  padding-left: size('pad');

  @include above('medium-page') {
    margin-right: calc((#{$extend-medium} - #{$full-content}) / 2 * -1);
  }

  @include above('large-page') {
    margin-right: calc((#{$extend-small} - #{$full-content}) / 2 * -1);
  }
}


// Extend thing past the width of its container on both sides
.extend-small {
  @include above('medium-page') {
    margin-left: calc((#{$extend-medium} - #{$full-content}) / 2 * -1);
    margin-right: calc((#{$extend-medium} - #{$full-content}) / 2 * -1);
    max-width: #{$extend-medium};
    width: #{$extend-medium};
  }

  @include above('large-page') {
    margin-left: calc((#{$extend-small} - #{$full-content}) / 2 * -1);
    margin-right: calc((#{$extend-small} - #{$full-content}) / 2 * -1);
    max-width: #{$extend-small};
    width: #{$extend-small};
  }
}

.extend-large {
  @include above('medium-page') {
    margin-left: calc((#{$extend-large} - #{$full-content}) / 2 * -1);
    margin-right: calc((#{$extend-large} - #{$full-content}) / 2 * -1);
    max-width: $extend-large;
    width: $extend-large;
  }

  @include above('large-page') {
    margin-left: calc((#{$extend-medium} - #{$full-content}) / 2 * -1);
    margin-right: calc((#{$extend-medium} - #{$full-content}) / 2 * -1);
    max-width: $extend-medium;
    width: $extend-medium;
  }
}
