// Size Patterns
// =============
// Works well with images in blog posts

.size-full {
  width: 100%;
}

.size-half {
  width: 50%;
}

.size-quarter {
  width: 25%;
}

// Extend thing outside its container on one side only
.extend-left {
  @include extend-side('left');
}

.extend-right {
  @include extend-side('right');
}

// Extend thing past the width of its container on both sides
.extend-small {
  @include extend('extend-small');
}

.extend-large {
  @include extend('extend-large');
}

.extend-full {
  @include extend('extend-full');
}
