// Tags
// ====

.tags {
  margin-bottom: size('shim');
}

.tag {
  &,
  #{$link} {
    background-color: color('tag-bg');
    border-color: color('tag-bg');
    border-radius: size('border-radius');
    border-style: solid;
    border-width: 1px;
    color: color('action');
    display: inline-block;
    font-size: size('xsmall');
    margin-bottom: size('half-shim');
    padding: size('quarter-shim') size('shim');
    text-decoration: none;
  }

  #{$focus} {
    background-color: color('background');
    border-color: color('action');
    color: color('action');
  }

  &:not(:last-child) {
    margin-right: size('half-shim');
  }
}

.icon-tag {
  display: inline-block;
  fill: color('tag');
  margin-right: size('half-shim');
}
