// Text Blocks
// ===========

.text-block {
  @include contentblock;
}

.textblock-headline {
  @include contentblock-highlight('normal');
}

.textblock-content {
  @include contentblock-copy;

  p {
    &:first-child {
      margin-top: 0;
    }
  }
}

.headline-contrast {
  margin-top: 0;

  @include above('small-page') {
    text-align: right;
  }

  span {
    display: block;
  }

  .title-main {
    font-size: size('headline-highlight-large');
  }

  .fancy-headline-small {
    @include font-family('body');
    font-size: size('headline-highlight-small');
    font-style: italic;
    font-weight: normal;
    line-height: 1;
  }

  .fancy-headline-light {
    font-size: size('headline-highlight-large');
    font-weight: normal;
    margin-bottom: size('shim');
    // decrease space without setting line-height
    //  under 1 which some browsers crop letters
    margin-top: negative('shim');
  }
}
