{% import 'utility.macros.j2' as utility %}
{% import 'content.macros.j2' as content %}
{% import 'contact/macros.j2' as contact %}

{% if config.hide_contact %}
  {{ content.divider(small=false) }}
{% else %}
  {{ content.divider(small=false) }}
  {{ contact.footer(
    location=utility.location(config),
    action=config.footer_action
  ) }}
{% endif %}
