{% import 'forms.macros.j2' as form %}
{% import 'utility.macros.j2' as utility %}
{% import "birds/utility.macros.j2" as birds %}


<section data-module="contact-form">
  {% if module.intro %}
    <div class="contact-intro">
      {% if module.contact %}
        {{ birds.face(module.contact) }}

        {% set contact = all_pages|filter_pages('bird', 'eq', module.contact)|get_page %}
        {% set contact_name = utility.link_if(contact.title, ['/birds/#bird', contact.config.bird]|join('-')) %}

        <p>{{ module.intro|safe|format(contact_name, contact.config.role) }}</p>
      {% else %}
        <p>{{ module.intro|safe }}</p>
      {% endif %}
    </div>
  {% endif %}

  <form data-form="contact" action="https://formspree.io/{{ config.email }}" method="POST">
    <input type="hidden" name="_next" value="{{ [config.canonical_url, module.next]|join('') }}" />
    <input type="text" name="_gotcha" style="display:none" />

    {{ form.input(
      text='Name',
      id='contact-name',
      required=true
    ) }}

    {{ form.input(
      text='Email Address',
      id='contact-email',
      name='_replyto',
      type='email',
      required=true
    ) }}

    {{ form.textarea(
      text='Message',
      id='contact-message',
      required=true
    ) }}

    {{ form.input(
      text='How did you find OddBird?',
      id='contact-source'
    ) }}

    <div class="form-actions">
      <button type="submit" class="btn">
        {{ module.submit or 'submit' }}
      </button>
    </div>
  </form>
</section>
