{% import 'forms.macros.j2' as form %}
{% import 'utility.macros.j2' as utility %}


<section data-module="contact-form">
  {% if module.intro %}
    <div>
      <p>{{ module.intro|safe }}</p>
    </div>
  {% endif %}

  <form data-form="contact" action="https://formspree.io/{{ config.email }}" method="POST">
    <input type="hidden" name="_next" value="{{ [config.canonical_url, module.next]|join('') }}" />
    <input type="text" name="_gotcha" style="display:none" />

    {{ form.input(
      text='Name',
      id='contact-name',
      required=true
    ) }}

    {{ form.input(
      text='Email Address',
      id='contact-email',
      name='_replyto',
      type='email',
      required=true
    ) }}

    {{ form.textarea(
      text='Message',
      id='contact-message',
      required=true
    ) }}

    {{ form.input(
      text='How did you find OddBird?',
      id='contact-source'
    ) }}

    <div class="form-actions">
      <button type="submit" class="btn">
        {{ module.submit or 'submit' }}
      </button>
    </div>
  </form>
</section>
