{% import 'utility.macros.j2' as utility %}
{% import 'content.macros.j2' as content %}
{% import 'birds/utility.macros.j2' as birds %}


{% macro social(slug='contact/index', data='social') %}
  {% set items = slug|get_config(data) %}

  <ul class="socials">
    {% for item in items %}
      <li class="social-item">
        {% set content = get_social_content(item.icon, item.text) %}
        {{ utility.link_if(content, item.url, 'icon-link') }}
        {{ item.after }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}


{% macro get_social_content(icon, text) %}
  {{ utility.icon(icon) }}
  <span class="icon-text">{{ text }}</span>
{% endmacro %}


{% macro footer(location) %}
  {% set contact_page = 'contact/index'|get_config %}
  {% set cta = contact_page.config.cta_footer[0] if contact_page.config.cta_footer %}

  {% if cta %}
    <div class="contact-wrap">
      <section data-module="contact-cta">
        <h2>
          {% if ('susysite' in location) or ('hermansite' in location) %}
            {{ cta.project_title }}
          {% else %}
            {{ cta.title }}
          {% endif %}
        </h2>

        {% set name = birds.name_link(cta.contact, full_name=false) %}
        {% set main_content = cta.content|rst|replace('%s', name) %}
        {% set action = cta.action %}

        <div class="contact-miriam media-block">
          {{ birds.face(cta.contact, 'media-image') }}
          <div class="media-content">
            {{ main_content }}
            {{ content.link_button(
              url=action.url,
              content=action.text|replace('%s', cta.contact|capitalize)
            ) }}
          </div>
        </div>

        {{ social() }}
      </section>
    </div>
  {% endif %}
{% endmacro %}
