{% import 'utility.macros.j2' as utility %}
{% import 'content.macros.j2' as content %}
{% import 'birds/utility.macros.j2' as birds %}


{% macro social(slug='contact/index', data='social') %}
  {% set items = slug|get_config(data) %}

  <ul class="socials">
    {% for item in items %}
      <li class="social-item">
        {% set content = get_social_content(item.icon, item.text) %}
        {{ utility.link_if(content, item.url, 'icon-link') }}
        {{ item.after }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}


{% macro get_social_content(icon, text) %}
  {{ utility.icon(icon) }}
  <span class="icon-text">{{ text }}</span>
{% endmacro %}


{% macro footer(
  location,
  action=none
) %}
  {% set actions = {
    'design-systems': 'workshop'
  } %}
  {% set action = action or actions[location] or 'default' %}
  {% set page = all_pages|filter_pages('cta_is', 'eq', action)|get_page %}

  {% if page %}
    {% set config = page.config %}
    {% set cta_img = config.cta_img[0] if config.cta_img else none %}
    {% set cta_head = config.headline[0] if config.headline else none %}

    {% set content %}
      {% if cta_head or cta_img %}
        <header class="cta-header">
          {% if cta_img %}
            <img src="/static/images/{{ cta_img.src }}" alt="{{ cta_img.alt }}">
          {% endif %}
          <h2>{{ cta_head.title|typogrify }}</h2>
          {% if cta_head.tagline %}
            <h3>{{ cta_head.tagline|typogrify }}</h3>
          {% endif %}
        </header>
      {% endif %}
      {{ page.render_summary() }}
    {% endset %}

    {% set content %}
      {% if config.cta_face %}
        {{ birds.face_block(
          config.cta_face,
          content
        ) }}
      {% else %}
        {{ content }}
      {% endif %}
    {% endset %}

    <div class="cta-footer">
      <section data-module="cta-content">
        {{ content }}
      </section>
    </div>
  {% endif %}
{% endmacro %}
