// Home ----------------------------------------------------------------------

#home
  > hgroup
    padding: 0 rhythm(1)
    h2
      +trailer(1,$largepx)
    h3
      +trailer(1,$medpx)

  section
    padding: 0 rhythm(1)

  #work, #process
    h3
      +padding-trailer(5,$medpx)
      +trailer(.5,$medpx)
      background: url(http://placekitten.com/g/192/96) no-repeat scroll center bottom

  .hcard
    padding-left: 96px
    min-height: rhythm(4)
    background: url(http://placekitten.com/g/84/84) no-repeat scroll left top
    &:nth-of-type(even)
      background-position: right top
      padding: 0 96px 0 0

// contact form --------------------------------------------------------------

#contact-form
  label
    +gone

// colophon ------------------------------------------------------------------

#colophon
  +trailer
  +italic
  h2
    +gone
