[role="banner"]
  +padding-leader(1.25)
  +background(linear-gradient(top,rgba($blue-dark,$xxsmall),rgba($blue,0) rhythm(4)))

[role="main"]
  h2
    +gone

#logo
  #{$link}
    +replace-text('logo_d.png')
    display: block
    height: rhythm(4,$largepx)

footer[role="contentinfo"]
  +padding-trailer(1)
  .fn.org
    font: inherit
