// xsmall layout -------------------------------------------------------------

.xssection
  position: relative
  padding: 0 rhythm(1)
  h3
    +gone

[role="banner"]
  +hpadding(rhythm(1))
  position: relative
  h2
    +trailer(.25)
    text-align: center
  .intro
    p
      &:first-child
        +sanscond
        +light
        +trailer(.5)
        strong
          font-weight: normal
      &:last-child
        +adjust-font-size-to($medpx - $xxsmallpx,1.25)
        +rhythm(.25,.25,.25,0,$medpx - $xxsmallpx)
        +background-image(linear-gradient(left,rgba($blue-hint,$small),rgba($blue-hint,0)))
        +italic
        margin-left: - $largeem
        padding-left: $largeem

[role="main"]
  +padding-trailer
  overflow: hidden
  > section
    @extend .xssection

footer[role="contentinfo"]
  @extend .xssection
  +padding-leader
  overflow: hidden
  background: rgba($orange-light,$xsmall)
  .colophon
    +adjust-font-size-to(($smallpx+$normpx)*.5)
    +italic
    +trailer(.5,($smallpx+$normpx)*.5)
  .author
    +opacity(.75)
    +adjust-font-size-to($smallpx)
    +sanscond
    text-transform: uppercase

// sections ------------------------------------------------------------------

.openingline
  &:first-letter
    +adjust-font-size-to($xlargepx,2)
    +float(left)
    padding-right: .05em
  &:first-line
    @extend .smallcaps

#work
  +section(rgba($orange-lighter,$xxsmall))
  +padding-leader(6)
  +padding-trailer(.5)
  background: image-url('projects/susy.png') no-repeat scroll top
  .internal
    @extend .openingline

#people
  +padding-leader(7)
  background: image-url('faces/all.png') no-repeat scroll center rhythm(.5)
  .fn
    @extend .smallcaps

#bird
  @extend .openingline
  .fn
    @extend .allcaps

#process
  +section(rgba($blue-hint,$xsmall))
  +rhythm(0,1,.5,1)
  counter-reset: process
  p
    position: relative
    counter-increment: process
    padding-left: rhythm(2)
    &::before
      +opacity(.5)
      +adjust-font-size-to($largepx,1.5)
      +border-radius($xxlargeem)
      +float(left)
      content: counter(process,decimal)
      position: absolute
      top: rhythm(.125,$largepx)
      left: 0
      height: rhythm(1.5,$largepx)
      width: rhythm(1.5,$largepx)
      border: 1px solid
      text-align: center
      z-index: -1
    &:hover
      &::before
        +opacity(1)
  strong
    +allcaps

#contact
  h3, label
    +gone
  p
    +adjust-font-size-to($medpx,1.5)
    +trailer(.5,$medpx)
  textarea
    +transition(all,300ms)
    min-height: rhythm(1)
    &:focus
      min-height: rhythm(6)

// colophon ------------------------------------------------------------------

#colophon
  +trailer
  +italic
  h2
    +gone
