{% if not config.hide_contact %}
<section data-region="contact-cta">
  <h2 class="cta-title">
    Start a conversation
    with OddBird
    about your project!
  </h2>
  <div class="cta-body">
    Fill out our
    <a href="/contact/">contact form</a>
    or find us on twitter
    <a href="http://twitter.com/oddbird">@oddbird</a>.
  </div>
</section>
{% endif %}
