// Root Initialization
// ===================



// Root Styles
// -----------

:root {
  @include contrasted('background');
}



// @@@ Temporary Layout
// --------------------

body {
  margin: 0 auto;
  max-width: 40rem;
  padding: 2vmin;
}
