@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CenturyOldStyle";
  src: url('../fonts/CenturyOldStyle-Regular-webfont.eot');
  src: url('../fonts/CenturyOldStyle-Regular-webfont.eot?#iefix') format('eot'), url('../fonts/CenturyOldStyle-Regular-webfont.woff') format('woff'), url('../fonts/CenturyOldStyle-Regular-webfont.ttf') format('truetype'), url('../fonts/CenturyOldStyle-Regular-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CenturyOldStyle";
  src: url('../fonts/CenturyOldStyle-Italic-webfont.eot');
  src: url('../fonts/CenturyOldStyle-Italic-webfont.eot?#iefix') format('eot'), url('../fonts/CenturyOldStyle-Italic-webfont.woff') format('woff'), url('../fonts/CenturyOldStyle-Italic-webfont.ttf') format('truetype'), url('../fonts/CenturyOldStyle-Italic-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CenturyOldStyle";
  src: url('../fonts/CenturyOldStyle-Bold-webfont.eot');
  src: url('../fonts/CenturyOldStyle-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/CenturyOldStyle-Bold-webfont.woff') format('woff'), url('../fonts/CenturyOldStyle-Bold-webfont.ttf') format('truetype'), url('../fonts/CenturyOldStyle-Bold-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CenturyOldStyleCaps";
  src: url('../fonts/CenturyOldStyleCaps-Regular-webfont.eot');
  src: url('../fonts/CenturyOldStyleCaps-Regular-webfont.eot?#iefix') format('eot'), url('../fonts/CenturyOldStyleCaps-Regular-webfont.woff') format('woff'), url('../fonts/CenturyOldStyleCaps-Regular-webfont.ttf') format('truetype'), url('../fonts/CenturyOldStyleCaps-Regular-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-Book-webfont.eot');
  src: url('../fonts/FranklinGothic-Book-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Book-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Book-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Book-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot');
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-BookIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-BookIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-BookIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-Demi-webfont.eot');
  src: url('../fonts/FranklinGothic-Demi-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Demi-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Demi-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Demi-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-DemiIt-webfont.eot');
  src: url('../fonts/FranklinGothic-DemiIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-DemiIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-DemiIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-DemiIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-Hvy-webfont.eot');
  src: url('../fonts/FranklinGothic-Hvy-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Hvy-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Hvy-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Hvy-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-HvyIt-webfont.eot');
  src: url('../fonts/FranklinGothic-HvyIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-HvyIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-HvyIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-HvyIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-Cd-webfont.eot');
  src: url('../fonts/FranklinGothic-Cd-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Cd-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Cd-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Cd-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-CdIt-webfont.eot');
  src: url('../fonts/FranklinGothic-CdIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-CdIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-CdIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-CdIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-DemiCd-webfont.eot');
  src: url('../fonts/FranklinGothic-DemiCd-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-DemiCd-webfont.woff') format('woff'), url('../fonts/FranklinGothic-DemiCd-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-DemiCd-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-DemiCdIt-webfont.eot');
  src: url('../fonts/FranklinGothic-DemiCdIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-DemiCdIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-DemiCdIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-DemiCdIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: 500;
  font-style: italic;
}

html {
  font-size: 112.5%;
  line-height: 1.33333em;
}

html {
  font-family: "CenturyOldStyle", Baskerville, Palatino, Cambria, Georgia, serif;
  text-shadow: rgba(229, 249, 255, 0.5) 0px 1px 0px;
  background: #e5f9ff url('../images/noise.png?1343154559') fixed center;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(77, 210, 255, 0.25)), color-stop(75%, rgba(204, 242, 255, 0.25))), url('../images/noise.png?1343154559');
  background-image: -webkit-linear-gradient(bottom, rgba(77, 210, 255, 0.25), rgba(204, 242, 255, 0.25) 75%), url('../images/noise.png?1343154559');
  background-image: -moz-linear-gradient(bottom, rgba(77, 210, 255, 0.25), rgba(204, 242, 255, 0.25) 75%), url('../images/noise.png?1343154559');
  background-image: -o-linear-gradient(bottom, rgba(77, 210, 255, 0.25), rgba(204, 242, 255, 0.25) 75%), url('../images/noise.png?1343154559');
  background-image: -ms-linear-gradient(bottom, rgba(77, 210, 255, 0.25), rgba(204, 242, 255, 0.25) 75%), url('../images/noise.png?1343154559');
  background-image: linear-gradient(bottom, rgba(77, 210, 255, 0.25), rgba(204, 242, 255, 0.25) 75%), url('../images/noise.png?1343154559');
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #ff6600;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #b30059;
}

[role="main"] h1 {
  font-size: 1.77778em;
  line-height: 1.125em;
}
[role="main"] h1 a:link, [role="main"] h1 a:visited {
  color: #cc5200;
}
[role="main"] h1 a:focus, [role="main"] h1 a:hover, [role="main"] h1 a:active {
  color: #b30059;
}
[role="main"] h2 {
  font-size: 1.33333em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
[role="main"] h3, [role="main"] h4, [role="main"] strong {
  font-weight: bolder;
}
[role="main"] em {
  font-style: italic;
}
[role="main"] p, [role="main"] ul, [role="main"] ol, [role="main"] pre {
  margin-bottom: 1.33333em;
}
[role="main"] pre {
  font-size: 0.77778em;
  line-height: 1.71429em;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

@font-face {
  font-family: "IcoMoon";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'), url('../fonts/icons.svg#icons') format('svg'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[data-icon]:before, [role="navigation"] a:before, [role="contentinfo"] .title:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  content: attr(data-icon);
}

[role="navigation"] [rel="home"]:before {
  content: "\e000";
}

.contact .title:before {
  content: "\e002";
}

[role="navigation"] [href*="blog"]:before, .archive .title:before {
  content: "\e007";
}

[role="navigation"] [href*="eric"]:before {
  content: "\e006";
}

[role="navigation"] [href*="jonny"]:before {
  content: "\e009";
}

[role="navigation"] [href*="carl"]:before {
  content: "\e00a";
}

body {
  max-width: 31em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
body:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 45em) {
  body {
    max-width: 47em;
  }
}

.logo a {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../images/logo_d.png?1341997855');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 6.66667em;
  max-width: 212px;
  display: block;
  margin: 0 auto;
  background-position: bottom;
}

.tagline {
  font-family: "FranklinGothicCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 77, 102, 0.5);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .04em;
}

[role="navigation"] {
  margin-top: 1.33333em;
  padding-top: 0.33333em;
  padding-bottom: 0.33333em;
  margin-bottom: 1.33333em;
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
  background: rgba(0, 77, 102, 0.125);
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -o-border-radius: 0.125em;
  border-radius: 0.125em;
}
[role="navigation"] a:link, [role="navigation"] a:visited {
  color: #cc5200;
}
[role="navigation"] a:focus, [role="navigation"] a:hover, [role="navigation"] a:active {
  color: #b30059;
}
[role="navigation"] a:link, [role="navigation"] a:visited {
  margin-right: 1.33333em;
}
[role="navigation"] a:before {
  margin-right: .4em;
}
[role="navigation"] ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  display: inline;
  text-transform: capitalize;
}
[role="navigation"] ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
[role="navigation"] ul li {
  *display: inline;
}
[role="navigation"] .secondary {
  font-style: italic;
}

[role="contentinfo"] {
  overflow: hidden;
  font-family: "FranklinGothicCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1.33333em;
  padding-top: 1.33333em;
  padding-bottom: 1.33333em;
  margin-bottom: 0em;
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
  background: rgba(0, 77, 102, 0.125);
  -moz-border-radius-topleft: 0.125em;
  -webkit-border-top-left-radius: 0.125em;
  border-top-left-radius: 0.125em;
  -moz-border-radius-topright: 0.125em;
  -webkit-border-top-right-radius: 0.125em;
  border-top-right-radius: 0.125em;
  clear: both;
}
[role="contentinfo"] a:link, [role="contentinfo"] a:visited {
  color: #cc5200;
}
[role="contentinfo"] a:focus, [role="contentinfo"] a:hover, [role="contentinfo"] a:active {
  color: #b30059;
}
[role="contentinfo"] .title {
  font-weight: 500;
}
[role="contentinfo"] .title a:link, [role="contentinfo"] .title a:visited {
  color: #993d00;
}
[role="contentinfo"] .title a:focus, [role="contentinfo"] .title a:hover, [role="contentinfo"] .title a:active {
  color: #b30059;
}
[role="contentinfo"] .title:before {
  margin-right: .4em;
}
@media (min-width: 45em) {
  [role="contentinfo"] .archive, [role="contentinfo"] .colophon {
    width: 57.44681%;
    float: right;
    margin-right: 0;
  }
  [role="contentinfo"] .contact, [role="contentinfo"] .copyright {
    width: 40.42553%;
    float: left;
    margin-right: 2.12766%;
  }
  [role="contentinfo"] .colophon {
    clear: left;
  }
}

.archive, .contact {
  margin-bottom: 1.33333em;
}
.archive ul, .contact ul {
  list-style: disc;
  padding-left: 1em;
}

.colophon {
  margin-bottom: 1.33333em;
}

.copyright, .colophon {
  font-size: 0.77778em;
  line-height: 1.71429em;
  text-transform: uppercase;
  letter-spacing: .04em;
}

.intro {
  font-size: 1.33333em;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-style: italic;
}

.projects {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0em;
  padding-top: 2em;
  padding-bottom: 0.66667em;
  margin-bottom: 1.33333em;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -o-border-radius: 0.125em;
  border-radius: 0.125em;
  background: rgba(255, 148, 77, 0.125);
}
.projects p:first-child:first-line {
  font-family: "CenturyOldStyleCaps", Baskerville, Palatino, Cambria, Georgia, serif;
}
.projects p:first-child:first-letter {
  font-size: 2.66667em;
  line-height: 1.25em;
  float: left;
  padding: .1em .1em 0 0;
}

.people {
  padding-top: 10.66667em;
  background: url('../images/oddpeople.png?1341997855') no-repeat scroll top;
}
.people strong {
  font-family: "CenturyOldStyleCaps", Baskerville, Palatino, Cambria, Georgia, serif;
}
.people p:first-child:first-line {
  font-family: "CenturyOldStyleCaps", Baskerville, Palatino, Cambria, Georgia, serif;
}
.people p:first-child:first-letter {
  font-size: 2.66667em;
  line-height: 1.25em;
  float: left;
  padding: .1em .1em 0 0;
}
.people p:first-child strong {
  font-weight: normal;
  text-transform: uppercase;
}

.process {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0em;
  padding-top: 2em;
  padding-bottom: 0.66667em;
  margin-bottom: 1.33333em;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -o-border-radius: 0.125em;
  border-radius: 0.125em;
  background: rgba(255, 255, 255, 0.5);
  counter-reset: process;
}
.process p {
  counter-increment: process;
  clear: both;
}
.process p:before {
  font-size: 2.38889em;
  line-height: 1.11628em;
  content: counter(process) ".";
  float: left;
  margin: 0 0.83721em 0.55814em 0;
  color: rgba(0, 115, 153, 0.25);
}
.process strong {
  font-family: "CenturyOldStyleCaps", Baskerville, Palatino, Cambria, Georgia, serif;
  text-transform: uppercase;
}

@media (min-width: 45em) {
  .intro {
    margin-left: 8.51064%;
    margin-right: 8.51064%;
    font-size: 1.77778em;
    line-height: 1.5em;
    margin-bottom: 0.75em;
  }

  .projects {
    overflow: hidden;
    padding-left: 17.02128%;
    padding-right: 17.02128%;
  }
  .projects p {
    width: 48.3871%;
    float: left;
    margin-right: 3.22581%;
  }
  .projects p:nth-child(even) {
    float: right;
    margin-right: 0;
  }

  .people {
    overflow: hidden;
  }
  .people p {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  .people p:last-child {
    float: right;
    margin-right: 0;
  }
  .people p:first-child {
    float: none;
    width: auto;
    margin-right: auto;
    margin-left: 25.53191%;
    margin-right: 25.53191%;
  }

  .process {
    padding-left: 17.02128%;
    padding-right: 17.02128%;
  }
}
.post {
  margin-bottom: 2.66667em;
}

.byline {
  color: gray;
  font-style: italic;
}
