html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/Baskerville-Regular-webfont.eot');
  src: url('../fonts/Baskerville-Regular-webfont.eot?#iefix') format('eot'), url('../fonts/Baskerville-Regular-webfont.woff') format('woff'), url('../fonts/Baskerville-Regular-webfont.ttf') format('truetype'), url('../fonts/Baskerville-Regular-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/Baskerville-Italic-webfont.eot');
  src: url('../fonts/Baskerville-Italic-webfont.eot?#iefix') format('eot'), url('../fonts/Baskerville-Italic-webfont.woff') format('woff'), url('../fonts/Baskerville-Italic-webfont.ttf') format('truetype'), url('../fonts/Baskerville-Italic-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/Baskerville-Bold-webfont.eot');
  src: url('../fonts/Baskerville-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/Baskerville-Bold-webfont.woff') format('woff'), url('../fonts/Baskerville-Bold-webfont.ttf') format('truetype'), url('../fonts/Baskerville-Bold-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/Baskerville-BoldItalic-webfont.eot');
  src: url('../fonts/Baskerville-BoldItalic-webfont.eot?#iefix') format('eot'), url('../fonts/Baskerville-BoldItalic-webfont.woff') format('woff'), url('../fonts/Baskerville-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/Baskerville-BoldItalic-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-Book-webfont.eot');
  src: url('../fonts/FranklinGothic-Book-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Book-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Book-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Book-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot');
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-BookIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-BookIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-BookIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-Demi-webfont.eot');
  src: url('../fonts/FranklinGothic-Demi-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Demi-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Demi-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Demi-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-DemiIt-webfont.eot');
  src: url('../fonts/FranklinGothic-DemiIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-DemiIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-DemiIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-DemiIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-Hvy-webfont.eot');
  src: url('../fonts/FranklinGothic-Hvy-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Hvy-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Hvy-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Hvy-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-HvyIt-webfont.eot');
  src: url('../fonts/FranklinGothic-HvyIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-HvyIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-HvyIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-HvyIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-Cd-webfont.eot');
  src: url('../fonts/FranklinGothic-Cd-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Cd-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Cd-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Cd-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-CdIt-webfont.eot');
  src: url('../fonts/FranklinGothic-CdIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-CdIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-CdIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-CdIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-DemiCd-webfont.eot');
  src: url('../fonts/FranklinGothic-DemiCd-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-DemiCd-webfont.woff') format('woff'), url('../fonts/FranklinGothic-DemiCd-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-DemiCd-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-DemiCdIt-webfont.eot');
  src: url('../fonts/FranklinGothic-DemiCdIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-DemiCdIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-DemiCdIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-DemiCdIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: italic;
}

html {
  font-size: 112.5%;
  line-height: 1.22222em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "BaskervilleFS", Baskerville, Palatino, Cambria, Georgia, serif;
  text-shadow: 0px 1px 0px rgba(229, 249, 255, 0.5);
  background: #e5f9ff url('../images/noise.png?1349719008') fixed center;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(77, 210, 255, 0.25)), color-stop(75%, rgba(204, 242, 255, 0.25))), url('../images/noise.png?1349719008');
  background-image: -webkit-linear-gradient(bottom, rgba(77, 210, 255, 0.25), rgba(204, 242, 255, 0.25) 75%), url('../images/noise.png?1349719008');
  background-image: -moz-linear-gradient(bottom, rgba(77, 210, 255, 0.25), rgba(204, 242, 255, 0.25) 75%), url('../images/noise.png?1349719008');
  background-image: -o-linear-gradient(bottom, rgba(77, 210, 255, 0.25), rgba(204, 242, 255, 0.25) 75%), url('../images/noise.png?1349719008');
  background-image: linear-gradient(bottom, rgba(77, 210, 255, 0.25), rgba(204, 242, 255, 0.25) 75%), url('../images/noise.png?1349719008');
  color: #595959;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #ff6600;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #b30059;
}

[role="main"] h1 {
  font-size: 2.05556em;
  line-height: 1.18919em;
}
[role="main"] h1 a:link, [role="main"] h1 a:visited {
  color: #cc5200;
}
[role="main"] h1 a:focus, [role="main"] h1 a:hover, [role="main"] h1 a:active {
  color: #b30059;
}
[role="main"] h2 {
  font-size: 1.5em;
  line-height: 1.22222em;
  margin-bottom: 0.40741em;
}
[role="main"] h3, [role="main"] h4, [role="main"] strong {
  font-weight: bolder;
}
[role="main"] em {
  font-style: italic;
}
[role="main"] p, [role="main"] ul, [role="main"] ol, [role="main"] pre {
  margin-bottom: 1.22222em;
}
[role="main"] pre {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 0.72222em;
  line-height: 1.69231em;
  margin-bottom: 1.69231em;
  padding: 0.61111em 0.91667em;
  border-left: 0.30556em solid rgba(0, 77, 102, 0.25);
}

@font-face {
  font-family: "IcoMoon";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'), url('../fonts/icons.svg#icons') format('svg'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[role="navigation"] a:before, .foottitle:before, .archive [href*="/20"]:before, .contact [href*="twitter"]:before, .listtitle:before, [data-icon]:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}

[role="navigation"] a:before, .foottitle:before, .archive [href*="/20"]:before, .contact [href*="twitter"]:before, .listtitle:before {
  padding-right: .4em;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  content: attr(data-icon);
}

[role="navigation"] [rel="home"]:before {
  content: "\e000";
}

.contact .foottitle:before {
  content: "\e002";
}

.contact [href*="twitter"]:before {
  content: "\e003";
}

.archive [href*="/20"]:before {
  content: "\e004";
}

.listtitle.tags:before {
  content: "\e005";
}

[role="navigation"] [href*="blog"]:before, .archive .foottitle:before, .listtitle.year:before, .listtitle.month:before, .listtitle.archive:before {
  content: "\e007";
}

body > div {
  max-width: 49em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 115, 153, 0.25) 0 0 0.61111em;
  -moz-box-shadow: rgba(0, 115, 153, 0.25) 0 0 0.61111em;
  box-shadow: rgba(0, 115, 153, 0.25) 0 0 0.61111em;
  background: url('../images/triangle.png?1353905138') no-repeat scroll top;
  position: relative;
}
body > div:after {
  content: "";
  display: table;
  clear: both;
}

[role="banner"] {
  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 153, 204, 0.125)), color-stop(100%, rgba(0, 153, 204, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 153, 204, 0.125), rgba(0, 153, 204, 0));
  background: -moz-linear-gradient(top, rgba(0, 153, 204, 0.125), rgba(0, 153, 204, 0));
  background: -o-linear-gradient(top, rgba(0, 153, 204, 0.125), rgba(0, 153, 204, 0));
  background: linear-gradient(top, rgba(0, 153, 204, 0.125), rgba(0, 153, 204, 0));
  margin-bottom: 1.22222em;
}

.logo a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo_d.png?1349719007');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  min-height: 6.11111em;
  max-width: 206px;
  display: block;
  margin: 0 auto;
  background-position: center;
}

.home [role="navigation"] [rel="home"], .blog [role="navigation"] [href*="blog"] {
  color: #007399;
}

[role="navigation"] {
  position: absolute;
  left: 0;
  right: 0;
  top: 3.05556em;
  height: 0;
}
[role="navigation"] li {
  width: 40.42553%;
  float: left;
  margin-right: 2.12766%;
  text-transform: capitalize;
}
[role="navigation"] li:nth-child(even) {
  float: right;
  margin-right: 0;
}
[role="navigation"] li:first-child {
  text-align: right;
}
[role="navigation"] a {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  display: block;
  padding: 0.30556em 0.61111em;
  border-radius: .25em;
}
@media (min-width: 30em) {
  [role="navigation"] a {
    background: rgba(0, 115, 153, 0.125);
  }
}
[role="navigation"] [rel="home"] {
  margin-left: -2em;
  padding-left: 2em;
}
@media (min-width: 30em) {
  [role="navigation"] [rel="home"]:focus, [role="navigation"] [rel="home"]:hover, [role="navigation"] [rel="home"]:active {
    -webkit-transform: translateX(1em);
    -moz-transform: translateX(1em);
    -ms-transform: translateX(1em);
    -o-transform: translateX(1em);
    transform: translateX(1em);
  }
}
[role="navigation"] [href*="blog"] {
  margin-right: -2em;
  padding-right: 2em;
}
@media (min-width: 30em) {
  [role="navigation"] [href*="blog"]:focus, [role="navigation"] [href*="blog"]:hover, [role="navigation"] [href*="blog"]:active {
    -webkit-transform: translateX(-1em);
    -moz-transform: translateX(-1em);
    -ms-transform: translateX(-1em);
    -o-transform: translateX(-1em);
    transform: translateX(-1em);
  }
}

@media (min-width: 30em) {
  [role="main"] {
    clear: both;
  }
  [role="main"]:after {
    content: "";
    display: table;
    clear: both;
  }
}

[role="contentinfo"] {
  overflow: hidden;
  font-family: "FranklinGothicCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0em;
  padding-top: 1.22222em;
  padding-bottom: 1.22222em;
  margin-bottom: 0em;
  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;
  background: rgba(0, 77, 102, 0.125);
  clear: both;
}
[role="contentinfo"] a:link, [role="contentinfo"] a:visited {
  color: #cc5200;
}
[role="contentinfo"] a:focus, [role="contentinfo"] a:hover, [role="contentinfo"] a:active {
  color: #b30059;
}
@media (min-width: 30em) {
  [role="contentinfo"] .archive, [role="contentinfo"] .colophon {
    width: 57.44681%;
    float: right;
    margin-right: 0;
  }
  [role="contentinfo"] .contact, [role="contentinfo"] .copyright {
    width: 40.42553%;
    float: left;
    margin-right: 2.12766%;
  }
  [role="contentinfo"] .colophon {
    clear: left;
  }
}

.archive, .contact, .colophon {
  margin-bottom: 1.22222em;
}

.foottitle {
  font-weight: 500;
}
.foottitle a:link, .foottitle a:visited {
  color: #993d00;
}
.foottitle a:focus, .foottitle a:hover, .foottitle a:active {
  color: #b30059;
}

.archive [href*="/20"]:before {
  font-size: 0.83333em;
  line-height: 1.46667em;
}

.contact [href*="twitter"]:before {
  font-size: 0.83333em;
  line-height: 1.46667em;
}

.copyright, .colophon {
  font-size: 0.83333em;
  line-height: 1.46667em;
  text-transform: uppercase;
  letter-spacing: .04em;
}

.tagline {
  font-family: "FranklinGothicCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1.22222em;
  color: rgba(0, 115, 153, 0.75);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .04em;
}

.intro {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  font-size: 1.44444em;
  line-height: 1.26923em;
  margin-bottom: 0.84615em;
  color: #004d66;
  font-style: italic;
}
@media (min-width: 55.125em) {
  .intro {
    text-align: center;
  }
}

.projects {
  position: relative;
  margin-top: 0em;
  padding-top: 1.83333em;
  padding-bottom: 0.61111em;
  margin-bottom: 1.22222em;
}
.projects::before, .projects::after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: " ";
  left: -100%;
  right: -100%;
  padding-left: 100%;
  padding-right: 100%;
  background: rgba(255, 148, 77, 0.1);
  z-index: -1;
}
.projects::before {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
.projects::after {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.projects p:first-child:first-line {
  font-variant: small-caps;
}
.projects p:first-child:first-letter {
  font-size: 3em;
  line-height: 1.22222em;
  float: left;
  padding: .1em .1em 0 0;
}

.people {
  padding-top: 9.77778em;
  background: url('../images/oddpeople.png?1349719008') no-repeat scroll top;
}
.people strong {
  font-variant: small-caps;
}
.people p:first-child:first-line {
  font-variant: small-caps;
}
.people p:first-child:first-letter {
  font-size: 3em;
  line-height: 1.22222em;
  float: left;
  padding: .1em .1em 0 0;
}
.people p:first-child strong {
  font-weight: normal;
  text-transform: uppercase;
}

.process {
  position: relative;
  margin-top: 0em;
  padding-top: 1.83333em;
  padding-bottom: 0.61111em;
  margin-bottom: 0em;
  counter-reset: process;
}
.process::before, .process::after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: " ";
  left: -100%;
  right: -100%;
  padding-left: 100%;
  padding-right: 100%;
  background: rgba(255, 255, 255, 0.25);
  z-index: -1;
}
.process::before {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
.process::after {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.process p {
  counter-increment: process;
  position: relative;
  padding-left: 1.83333em;
}
.process p:before {
  font-size: 2.05556em;
  line-height: 1.18919em;
  content: counter(process) ".";
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 115, 153, 0.25);
}
.process strong {
  font-variant: small-caps;
  text-transform: uppercase;
}

@media (min-width: 30em) {
  .intro {
    margin-left: 8.51064%;
    margin-right: 8.51064%;
    font-size: 2.05556em;
    line-height: 1.18919em;
    margin-top: 0.89189em;
    margin-bottom: 1.18919em;
  }

  .projects .wrap {
    overflow: hidden;
  }
  .projects p {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  .projects p:nth-child(even) {
    float: right;
    margin-right: 0;
  }
  .projects p:first-child {
    margin-left: 17.02128%;
  }
  .projects p:last-child {
    margin-right: 17.02128%;
  }

  .people {
    overflow: hidden;
  }
  .people p {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
  .people p:last-child {
    float: right;
    margin-right: 0;
  }
  .people p:first-child {
    float: none;
    width: auto;
    margin-right: auto;
    margin-left: 25.53191%;
    margin-right: 25.53191%;
  }

  .process {
    padding-left: 17.02128%;
    padding-right: 17.02128%;
  }
  .process p {
    padding-left: 3.66667em;
  }
}
.post {
  margin-top: 1.22222em;
  margin-bottom: 2.44444em;
}

.byline {
  color: gray;
  font-style: italic;
}
.byline time {
  font-variant: small-caps;
  font-style: normal;
}

.readmore {
  font-style: italic;
}
.readmore:after {
  content: "»";
}

@media (min-width: 30em) {
  .post:after {
    content: "";
    display: table;
    clear: both;
  }

  .byline {
    width: 23.40426%;
    float: right;
    margin-right: 0;
  }
  .byline time {
    display: block;
  }

  .body {
    width: 65.95745%;
    float: left;
    margin-right: 2.12766%;
  }
}
.listtitle {
  margin-bottom: 0.59459em;
}
.listtitle:before {
  font-size: 0.7027em;
  line-height: 0.84615em;
}

.blog-archive ul {
  list-style: disc;
  padding-left: 1em;
}

.tagcloud {
  list-style-type: none;
}
.tagcloud, .tagcloud li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.tagcloud li:after {
  content: ", ";
}
.tagcloud li:last-child:after {
  content: "";
}
