{% if ctx.pub_date or ctx.tags %}
<p class="byline">
  {% if ctx.pub_date %}
  <time datetime="{{ ctx.pub_date.isoformat() }}" pubdate="pubdate">
    {{ ctx.pub_date.strftime("%B %d, %Y") }}
  </time>
  {% endif %}

  {% if ctx.author %}
  <span class="vcard">
    by <a href="{{ link_to('author', author=ctx.author) }}" class="fn">{{ ctx.author }}</a>
  </span>
  {% endif %}

  {% if ctx.tags %}
    <span class="tags">
      in
      {% for tag in ctx.tags|sort(case_sensitive=true) %}
        {%- if not loop.first %}, {% endif -%}
        <a href="{{ link_to('tag', tag=tag) }}" rel="tag">{{ tag }}</a>
      {%- endfor %}.
    </span>
  {% endif %}
</p>
{% endif %}
