{% if rst.pub_date or rst.tags %}
<p class="byline">
  {% if rst.pub_date %}
  <time datetime="{{ rst.pub_date.isoformat() }}" pubdate="pubdate">
    {{ rst.pub_date.strftime("%B %d, %Y") }}
  </time>
  {% endif %}

  {% if rst.author %}
  <span class="vcard">
    by <a href="{{ link_to('author', author=rst.author) }}" class="fn">{{ rst.author }}</a>
  </span>
  {% endif %}

  {% if rst.tags %}
    <span class="tags">
      in
      {% for tag in rst.tags|sort(case_sensitive=true) %}
        {%- if not loop.first %}, {% endif -%}
        <a href="{{ link_to('tag', tag=tag) }}" rel="tag">{{ tag }}</a>
      {%- endfor %}.
    </span>
  {% endif %}
</p>
{% endif %}
