{% import "birds.macros.j2" as birds %}

{% macro twitter(author, birds) -%}
  {%- if author -%}
    {%- for bird in birds -%}
      {%- if author == bird.author -%}
        {%- for site, user in bird.links -%}
          {%- if site == 'twitter' -%}{{ user }}{%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {%- for site, user in company.first.links -%}
      {%- if site == 'twitter' -%}{{ user }}{%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{% endmacro -%}

<aside class="comments">
  Have feedback on this post?
  Talk to us on
  <a href="https://twitter.com/{{ twitter(config.author, config.birds) }}">Twitter</a>,
  or email <span class="email">birds(who are 'at' the)oddbird.net</span>.
</aside class="comments">
