{% extends "layout.html" %}
{% block title %}Entries by {{ author.name }}{% endblock %}
{% block body %}
  <h2>Entries <a href="{{ link_to('authors') }}">by</a> {{ author.name }}</h2>
  <ul>
  {%- for ctx in entries %}
  <article class="post">
    <h1>
      <a href="{{ link_to('page', slug=ctx.slug) }}">
        {{ ctx.title }}
      </a>
    </h1>

    {% include "_byline.html" %}

    <div class="body">
      {% if ctx.summary %}
        {{ ctx.render_summary() }}
      {% else %}
        {{ ctx.render_contents() }}
      {% endif %}
    </div>
  </article>
  {%- endfor %}
  </ul>
{% endblock %}
