{% extends 'base.html' %}
{% load markup %}

{% block body %}
{% filter markdown %}
<div>
{% block page %}

  <header role="banner">
    <hgroup>
      <h1><a href="/" rel="home" id="logo">OddBird</a></h1>
      <h2>Custom-built web tools for humans.</h2>
    </hgroup>
    <p class="intro">We love chasing ideas into existence. We could do that all night long, and sometimes we&nbsp;do.</p>
  </header>

  <section role="main">
    {% include "messages_ui/_messages.html" %}
    {% block maincontent %}

    {% endblock maincontent %}
  </section><!-- /~main -->

  <footer role="contentinfo">
    <p class="colophon">This site is built on plain old semantic [HTML5](http://www.w3.org/TR/html5/), powered by [jQuery](http://www.jquery.com/) and the [Django web framework](http://www.djangoproject.com) for [Python](http://www.python.org) and styled using [CSS3](http://www.w3.org/TR/css-2010/) with help from [Modernizr](http://www.modernizr.com/), [Susy](http://susy.oddbird.net/), [Compass](http://compass-style.org/), and [Sass](http://sass-lang.com/) inspired by the [“320 and up”](http://stuffandnonsense.co.uk/projects/320andup/) boilerplate extension.</p>
    <p class="copyright vcard">copyright &copy; 2009-2012 <strong class="fn org">OddBird</strong></p>
  </footer>

{% endblock page %}
</div>
{% endfilter %}
{% endblock body %}