{% extends 'base.html' %}
{% load markup %}

{% block body %}
<div>
{% block page %}

  <header role="banner">
    <hgroup>
      <h1><a href="/" rel="home" id="logo">OddBird</a></h1>
      <h2>Custom-built web tools for humans.</h2>
    </hgroup>
    <p class="intro">We love chasing ideas into existence. We could do that all night long, and sometimes we&nbsp;do.</p>
  </header>

  <section role="main">
    {% include "messages_ui/_messages.html" %}
    {% block maincontent %}

    {% endblock maincontent %}
  </section><!-- /~main -->

  <footer role="contentinfo">
    <p class="colophon">This site is built on plain old semantic HTML5, powered by the django web framework for python and styled using CSS3 with help from Modernizr, Susy, Compass, and Sass inspired by the “320 and up” boilerplate extension.</p>
    <p class="author vcard">copyright &copy; 2009-2011 <strong class="fn org">OddBird</strong></p>
  </footer>

{% endblock page %}
</div>
{% endblock body %}