{% import "utility.macros.j2" as utility %}

{% macro get_card(author, config) %}
  {% for bird in config.birds %}
    {% if bird.author == author %}
      {{ card(bird) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro card(bird) %}
  <div class="h-card {% if bird.author %}bird {{ bird.author }}{% endif %}" id="bio--{{ bird.author or 'org' }}">
    <p class="bio">
      {{ name(bird) }}
      {{ bird.bio|safe }}
    </p>

    {{ links(bird) }}
  </div>
{% endmacro %}

{% macro links(bird) %}
  {% if bird.links %}
  <div class="bio-links">
    {% for type, target in bird.links %}
      {{ bio_link(type, target) }}
    {% endfor %}
  </div>
  {% endif %}
{% endmacro %}

{% macro name(bird) %}
  {% if bird.author and not bird.no_posts %}
    <a href="{{ link_to('author', author=bird.author) }}" class="p-name">
      {{ bird.name }}
    </a>
  {% else %}
    <strong class="p-name">
      {{ bird.name }}
    </strong>
  {% endif %}
{% endmacro %}

{% macro bio_link(type, target) %}
  {% set bio_links = {
    'email' : 'mailto:',
    'twitter' : 'http://twitter.com/',
    'github' : 'http://github.com/'
  } %}

  {% if bio_links[type] %}
    {% set url = '%s%s'|format(bio_links[type], target) %}

    <a href="{{ url }}" {% if type == 'email' %}class="email" {% endif %}bio-link="{{ type }}" rel="me">
      {{ utility.icon(type) }}
      <span class="bl-title">
        {% if type == 'twitter' %}@{% endif %}{{ target }}
      </span>
    </a>
  {% else %}
    <a href="{{ target }}" class="{{ classes }}" bio-link="{{ type }}" rel="me">
      <span class="bl-title">
        {{ type }}
      </span>
    </a>
  {% endif %}
{% endmacro %}
