{% import "utility.macros.j2" as utility %}

{% macro get_card(author, config) %}
  {% for bird in config.birds %}
    {% if bird.author == author %}
      {{ card(bird) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro card(bird, is_org=false) %}
<div class="h-card {% if bird.author %}bird {{ bird.author }}{% endif %}">
  <p class="bio">
    {{ name(bird) }}
    {{ bird.bio|safe }}
  </p>

  {{ links(bird) }}
</div>
{% endmacro %}

{% macro links(bird) %}
  {% if bird.links %}
  <div class="bio-links">
    {% for site, user in bird.links %}
      {% if site == 'email' %}{{ email(user) }}{% endif %}
      {% if site == 'twitter' %}{{ twitter(user) }}{% endif %}
      {% if site == 'github' %}{{ github(user) }}{% endif %}
    {% endfor %}
  </div>
  {% endif %}
{% endmacro %}

{% macro name(bird) %}
  {% if bird.author and not bird.no_posts %}
    <a href="{{ link_to('author', author=bird.author) }}" class="p-name">
      {{ bird.name }}
    </a>
  {% else %}
    <strong class="p-name">
      {{ bird.name }}
    </strong>
  {% endif %}
{% endmacro %}

{% macro email(email) %}
  <a href="mailto:{{ email }}" class="email bio-link">
    {{ utility.icon('mail') }}
    {{ email }}
  </a>
{% endmacro %}

{% macro twitter(user) %}
  <a href="http://twitter.com/{{ user }}" class="bio-link" rel="me">
    {{ utility.icon('twitter') }}
    @{{ user }}
  </a>
{% endmacro %}

{% macro github(user) %}
  <a href="http://github.com/{{ user }}" class="bio-link" rel="me">
    {{ utility.icon('github') }}
    {{ user }}
  </a>
{% endmacro %}
