{% import 'utility.macros.j2' as utility %}


{% macro header(name, tagline, url=none, source=none) %}
  <header class="project-meta">
      <h1 class="project-title">{{ name }} <em>{{ tagline }}</em></h1>
      {% if url or source %}
        <div class="project-links">
          {% if url %}
            <a href="{{ url }}" class="btn">View Site</a>
          {% endif %}
          {% if source %}
            <a href="{{ source }}" class="btn">View Source</a>
          {% endif %}
        </div>
      {% endif %}
  </header>
{% endmacro %}


{% macro blockquote(content=none, name=none, url=none) %}
  {% set content = content if content else caller() %}

  <blockquote>
    <p>{{ content }}</p>
    <footer><cite>
      —{{ utility.link_if(name, url) }}
    </cite></footer>
  </blockquote>
{% endmacro %}


{% macro get_quote(index=0) %}
  {% set quote = config.quotes[index] %}
  {{ blockquote(quote.text, quote.credit, quote.url) }}
{% endmacro %}


{% macro project_header() %}
  {% set project = config.project[0] %}
  {{ header(project.name, project.tagline) }}
{% endmacro %}
