{% import 'utility.macros.j2' as utility %}
{% import "blog/utility.macros.j2" as blog %}


{#
  RST Content Blocks
  ------------------
#}
{% macro rst(
  content=none,
  tag=none
) %}
  {% if (tag == none) or (tag == 'start') %}
    <div class="content-block">
      <div class="content-block-inner">
  {% endif %}

  {% if (tag == none) %}
    {% set content = content|rst if (content != none) else caller() %}
    {{ content|safe }}
  {% endif %}

  {% if (tag == none) or (tag == 'end') %}
      </div>
    </div>
  {% endif %}
{% endmacro %}


{#
  Dividers
  --------
#}
{% macro divider() %}
  <div class="separator"></div>
{% endmacro %}


{#
  Icon Blocks
  -----------
#}
{% macro icon_block(
  title,
  slug,
  data,
  intro=none
) %}
  {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}
  {% set data = page.config[data] %}
  {% set intro = page.config[intro] if page.config[intro] else intro %}
  {% set intro = page.render_summary() if (intro == 'summary') else intro %}

  <section class="icon-blocks-container">
    <header class="icon-block-header">
      <h2>{{ title|safe }}</h2>

      {% if intro %}
        {{ intro|safe }}
      {% endif %}
    </header>

    {% for item in data %}
      {{ icon_block_item(item) }}
    {% endfor %}
  </section>
{% endmacro %}


{% macro icon_block_item(
  item
) %}
  <div class="icon-blocks">
    <div class="icon-block">
      {% set icon = utility.icon(item.icon) %}
      {{ utility.link_if(icon|safe, item.url) }}
    </div>
    <div class="icon-block-text">
      {% if item.title %}
        <h3>{{ utility.link_if(item.title|safe, item.url) }}</h3>
      {% endif %}

      <p>{{ item.text|safe }}</p>
    </div>
  </div>
{% endmacro %}


{% macro accoutrement() %}
  {{ icon_block(
    title='Accoutrement Modules',
    slug='open-source/accoutrement',
    data='accoutrement_modules',
    intro='accoutrement_intro'
  ) }}
{% endmacro %}


{#
  Quotes
  ------
#}
{% macro blockquote(
  content=none,
  name=none,
  url=none,
  role=none
) %}
  {% set content = content if (content != none) else caller() %}

  <blockquote>
    {{ content|rst }}

    {% if name or url or role %}
      <footer class="attribution">
      <cite>
        {% set display_name = name if role else utility.link_if(name, url) %}
        —{{ display_name }}{% if role %}, {{ utility.link_if(role, url) }}{% endif %}
      </cite>
      </footer>
    {% endif %}
  </blockquote>
{% endmacro %}


{% macro pullquote(
  content=none
) %}
  {% set content = content if (content != none) else caller() %}

  <div class="pullquote">
    {{ content|rst }}
  </div>
{% endmacro %}


{% macro get_quotes(
  slug,
  index=none
) %}
  {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}

  {% if index %}
    {% set quote = page.config.quotes[index - 1] %}
    {{ blockquote(quote.text, quote.name, quote.url, quote.role) }}
  {% else %}
    {% for quote in page.config.quotes %}
      {{ blockquote(quote.text, quote.name, quote.url, quote.role) }}
    {% endfor %}
  {% endif %}
{% endmacro %}


{#
  Image Galleries
  ---------------
#}
{% macro gallery(
  title,
  slug,
  data,
  caption=none,
  class=none,
  min_image=none,
  duo=false
) %}
  {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}
  {% set data = page.config[data] %}

  <section class="gallery-container content-block">
    <div class="content-block-inner">
      <h2>{{ title|safe }}</h2>

      {% set class = ['gallery', class]|join(' ') if class else 'gallery' %}
      {% set class = (class + ' duo') if duo else class %}
      {% set style = ('--min-image: ' + min_image + ';') if min_image else none %}

      <figure class="{{ class }}" {{ utility.attr_if('style', style) }}>
        {% for item in data %}
          {% set img = item.image if ('://' in item.image) else ['/static/images/', item.image]|join('') %}
          {% set img = '<img src="' + img + '" alt="' + item.alt + '" class="gallery-image" />' %}

          <div class="gallery-item">
            {{ utility.link_if(img|safe, item.target, 'gallery-link') }}
            {% if duo %}
              <div class="duo-overlay">{{ item.alt }}</div>
            {% endif %}
          </div>

        {% endfor %}

        {% if caption %}
          <figcaption class="gallery-caption">
            {{ caption|safe }}
          </figcaption>
        {% endif %}
      </figure>
    </div>
  </section>
{% endmacro %}


{#
  Image Blocks
  ------------
#}
{% macro image_block(
  image,
  alt='',
  headline=none,
  url=none,
  content=none
) %}
  {% set content = content if (content != none) else caller() %}

  {% call rst() %}
    <div class="image-block extend-left">
      {% set img = '<img src="' + image + '" alt="' + alt + '" class="imageblock-image" />' %}
      {{ utility.link_if(img|safe, url, 'imageblock-link') }}

      <div class="imageblock-content">
        <hr />
        {% if headline %}
          <h2>{{ headline }}</h2>
        {% endif %}
        {{ content|rst }}
        <hr />
      </div>
    </div>
  {% endcall %}
{% endmacro %}


{% macro media_block(media, content=none) %}
  {% set content = content if (content != none) else caller() %}

  <div class="media-block">
    <div class="media-image">{{ media }}</div>
    <div class="media-content">{{ content }}</div>
  </div>
{% endmacro %}


{#
  Link Lists
  ----------
#}
{% macro link_list(title, tag=none, slug=none, data=none) %}
  {% set entries = get_blog_entries_by_tag(tag) if tag else [] %}
  {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page if slug else none %}
  {% set data = page.config[data] if (page and data) else [] %}

  <section class="link-list content-block">
    <div class="content-block-inner">
      <h2>{{ title|safe }}</h2>

      {% if (entries|length > 0) %}
        <h3>On our blog…</h3>
        <ul>
          {% for entry in entries %}
            <li>
              {{ blog.link(entry) }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if (data|length > 0) %}
        <h3>Elsewhere…</h3>
        <ul>
          {% for item in data %}
            {% set source = (' [' + item.source + ']') if item.source else '' %}
            {% set author = (' by ' + item.author) if item.author else '' %}

            <li>
              {{ utility.link_if(item.title, item.url) }}
              – {{ item.type }} {{ author }} {{ source }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
{% endmacro %}


{#
  Buttons
  -------
#}
{% macro link_button(url, content=none, class=none) %}
  {% set content = content if (content != none) else caller() %}
  {% set class = [class, 'btn']|join(' ') if class else 'btn' %}

  <a href="{{ url }}" {% for k in kwargs %} {{ k }}="{{ kwargs[k] }}"{% endfor %} class="{{ class }}">
    {{ content|safe }}
  </a>
{% endmacro %}

{% macro button(class=none) %}
  {% set class = [class, 'btn']|join(' ') if class else 'btn' %}
  <button {% for k in kwargs %} {{ k }}="{{ kwargs[k] }}"{% endfor %} class="{{ class }}">
    {{ caller() }}
  </button>
{% endmacro %}
