{% import 'utility.macros.j2' as utility %}


{#
  RST Content Blocks
  ------------------
#}
{% macro rst(content=none, tag=none) %}
  {% if (tag == none) or (tag == 'start') %}
    <div class="content-block">
      <div class="content-block-inner">
  {% endif %}

  {% if (tag == none) %}
    {% set content = content if (content != none) else caller() %}
    {{ content|safe }}
  {% endif %}

  {% if (tag == none) or (tag == 'end') %}
      </div>
    </div>
  {% endif %}
{% endmacro %}


{#
  Dividers
  --------
#}

{% macro divider() %}
  <div class="separator extend-full"></div>
{% endmacro %}


{#
  Icon Blocks
  -----------
#}
{% macro icon_block(title, slug, data) %}
  {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}
  {% set data = page.config[data] %}

  <section class="icon-blocks-container">
    <h2>{{ title|safe }}</h2>

    {% for item in data %}
      <div class="icon-blocks">
        <div class="icon-block">
          {{ utility.icon(item.icon) }}
        </div>
        <div class="icon-block-text">
          {% if item.title %}
            <h3>{{ item.title|safe }}</h3>
          {% endif %}

          <p>{{ item.text|safe }}</p>
        </div>
      </div>
    {% endfor %}
  </section>
{% endmacro %}


{#
  Quotes
  ------
#}
{% macro blockquote(content=none, name=none, url=none, role=none) %}
  {% set content = content if (content != none) else caller() %}

  <blockquote>
    <p>{{ content|safe }}</p>

    {% if name or url or role %}
      <footer class="attribution">
      <cite>
        {% set display_name = name if role else utility.link_if(name, url) %}
        —{{ display_name }}{% if role %}, {{ utility.link_if(role, url) }}{% endif %}
      </cite>
      </footer>
    {% endif %}
  </blockquote>
{% endmacro %}


{% macro pullquote(content=none) %}
  {% set content = content if (content != none) else caller() %}

  <div class="pullquote">
    <p>{{ content|safe }}</p>
  </div>
{% endmacro %}


{% macro get_quotes(slug, index=none) %}
  {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}

  {% if index %}
    {% set quote = page.config.quotes[index - 1] %}
    {{ blockquote(quote.text, quote.name, quote.url, quote.role) }}
  {% else %}
    {% for quote in page.config.quotes %}
      {{ blockquote(quote.text, quote.name, quote.url, quote.role) }}
    {% endfor %}
  {% endif %}
{% endmacro %}


{% macro gallery(title, slug, data, caption=none, module=false, class=none, min_image=none, duo=false) %}
  {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}
  {% set data = page.config[data] %}

  <section class="gallery-container" {% if module %}data-module="gallery"{% endif %}>
    <h2>{{ title|safe }}</h2>

    {% set class = ['gallery', class]|join(' ') if class else 'gallery' %}
    {% set class = (class + ' duo') if duo else class %}
    {% set style = ('--min-image: ' + min_image + ';') if min_image else none %}

    <figure class="{{ class }}" {{ utility.attr_if('style', style) }}>
      {% for item in data %}
        {% set img = item.image if ('://' in item.image) else ['/static/images/', item.image]|join('') %}
        {% set img = '<img src="' + img + '" alt="' + item.alt + '" class="gallery-image" />' %}

        <div class="gallery-item">
          {{ utility.link_if(img|safe, item.target, 'gallery-link') }}
          {% if duo %}
            <div class="duo-overlay">{{ item.alt }}</div>
          {% endif %}
        </div>

      {% endfor %}

      {% if caption %}
        <figcaption class="gallery-caption">
          {{ caption|safe }}
        </figcaption>
      {% endif %}
    </figure>
  </section>
{% endmacro %}


{#
  Buttons
  -------
#}
{% macro link_button(url, content=none, class=none) %}
  {% set content = content if (content != none) else caller() %}
  {% set class = [class, 'btn']|join(' ') if class else 'btn' %}

  <a href="{{ url }}" {% for k in kwargs %} {{ k }}="{{ kwargs[k] }}"{% endfor %} class="{{ class }}">
    {{ content|safe }}
  </a>
{% endmacro %}

{% macro button(class=none) %}
  {% set class = [class, 'btn']|join(' ') if class else 'btn' %}
  <button {% for k in kwargs %} {{ k }}="{{ kwargs[k] }}"{% endfor %} class="{{ class }}">
    {{ caller() }}
  </button>
{% endmacro %}
