{% import 'utility.macros.j2' as utility %}
{% import 'blog/utility.macros.j2' as blog %}


{#
  RST Content Blocks
  ------------------
#}
{% macro rst(
  content=none,
  tag=none,
  safe=none
) %}
  {% if (tag == none) or (tag == 'start') %}
    <div class="content-block">
      <div class="content-block-inner">
  {% endif %}

  {% if (tag == none) %}
    {% set content = content if (content != none) else caller() %}
    {{ content|safe if safe else content|rst }}
  {% endif %}

  {% if (tag == none) or (tag == 'end') %}
      </div>
    </div>
  {% endif %}
{% endmacro %}


{#
  Dividers
  --------
#}
{% macro divider(
  title=none,
  url=none,
  small=true
) %}
  {% set scale = 'small' if small else 'large' %}
  <div divider="{{ scale }}">
    {% if title %}
      {% if scale != 'small' %}
        <hr divider-line="{{ scale }}" />
      {% endif %}
      <h2 divider-title="{{ scale }}">
        {{ utility.link_if(title, url) }}
      </h2>
    {% else %}
      <hr divider-line="{{ scale }}" />
    {% endif %}
  </div>
{% endmacro %}


{#
  Icon Blocks
  -----------
#}
{% macro icon_block(
  title=none,
  slug=none,
  data=none,
  intro=none
) %}
  {% set page = slug|get_config %}
  {% set data = page.config[data] %}
  {% set intro = page.config[intro] if page.config[intro] else intro %}
  {% set intro = page.render_summary() if (intro == 'summary') else intro %}

  <section class="icon-blocks-container">
    {% if title or intro %}
      <header class="icon-block-header">
        {% if title %}
          <h2>{{ title|safe }}</h2>
        {% endif %}

        {% if intro %}
          {{ intro|safe }}
        {% endif %}
      </header>
    {% endif %}

    {% if data %}
      {% for item in data %}
        {{ icon_block_item(item) }}
      {% endfor %}
    {% endif %}
  </section>
{% endmacro %}


{% macro icon_block_item(
  item
) %}
  <div class="icon-blocks">
    <div class="icon-block">
      {% set icon = utility.icon(item.icon) %}
      {{ utility.link_if(icon|safe, item.url) }}
    </div>
    <div class="icon-block-text">
      {% if item.title %}
        <h3>{{ utility.link_if(item.title|safe, item.url) }}</h3>
      {% endif %}

      <p>{{ item.text|safe }}</p>
    </div>
  </div>
{% endmacro %}


{#
  Quotes
  ------
#}
{% macro blockquote(
  content=none,
  name=none,
  url=none,
  role=none,
  face=none,
  section=true
) %}
  {% set content = content if (content != none) else caller() %}

  <blockquote data-media-block="start" {{ utility.attr_if('data-quote-section', section) }}>
    {% if face %}
      <img src="{{ '/static/images/quotes/%s' % face }}" class="media-image">
    {% else %}
      <span class="media-image"></span>
    {% endif %}

    <div class="media-content">
      {{ content|rst }}

      {% if name or url or role %}
        <footer class="attribution">
        <cite>
          {% set display_name = name if role else utility.link_if(name, url) %}
          —{{ display_name }}
          {%- if role -%},
            <b>{{ utility.link_if(role, url) }}</b>
          {%- endif -%}
        </cite>
        </footer>
      {% endif %}
    </div>
  </blockquote>
{% endmacro %}


{% macro pullquote(
  content=none,
  section=true
) %}
  {% set content = content if (content != none) else caller() %}

  <div class="pullquote" data-media-block="start" {{ utility.attr_if('data-quote-section', section) }}>
    <span class="media-image"></span>
    <div class="media-content">{{ content|rst }}</div>
  </div>
{% endmacro %}


{% macro get_quotes(
  page,
  slug=none,
  count=none,
  section=true
) %}
  {% set page = page|get_config or page %}
  {% set client = page.config.client[0] if page.config.client else none %}

  {% if slug %}
    {% set quote = page.config.quotes|selectattr('slug', 'equalto', slug)|list %}
    {% set quote = quote[0] %}
    {% set role = get_role(quote.role, client.name) %}
    {{ blockquote(quote.text, quote.name, quote.url, role, quote.face, section) }}
  {% else %}
    {% set two_up = (page.config.quotes|length > 1) %}
    {% set section = false if two_up else section %}

    {% if two_up %}<section data-quote-section="two-up">{% endif %}

    {% for quote in page.config.quotes %}
      {% if (count == none) or (loop.index0 < count) %}
        {% set role = get_role(quote.role, client.name) %}
        {{ blockquote(quote.text, quote.name, quote.url, role, quote.face, section) }}
      {% endif %}
    {% endfor %}

    {% if two_up %}</section>{% endif %}
  {% endif %}
{% endmacro %}


{% macro two_quotes(
  quotes
) %}
  <section data-quote-section="two-up">
    {% for quote in quotes %}
      {{ get_quotes(quote[0], quote[1], section=false) }}
    {% endfor %}
  </section>
{% endmacro %}



{% macro get_role(role=none, client=none) -%}
  {{ [role, 'at', client]|join(' ') if (role and client and role != 'User') else role }}
{%- endmacro %}


{#
  Image Galleries
  ---------------
#}
{% macro gallery(
  title,
  data,
  slug=none,
  caption=none,
  class=none,
  min_image=none,
  duo=false
) %}
  {% set page = slug|get_config %}
  {% set data = page.config[data] %}

  <div class="gallery-container content-block">
    <div class="content-block-inner">
      {% if title %}
        <h2>{{ title|safe }}</h2>
      {% endif %}

      {% set class = ['gallery', class]|join(' ') if class else 'gallery' %}
      {% set class = (class + ' duo') if duo else class %}
      {% set style = ('--min-image: ' + min_image + ';') if min_image else none %}

      <figure class="{{ class }}" {{ utility.attr_if('style', style) }}>
        {% for item in data %}
          {% set img = item.image if ('://' in item.image) else ['/static/images/', item.image]|join %}
          {% set img = '<img src="' + img + '" alt="' + item.alt + '" class="gallery-image" />' %}

          <div class="gallery-item">
            {{ utility.link_if(img|safe, item.target, 'gallery-link') }}
            {% if duo %}
              <div class="duo-overlay">{{ item.alt }}</div>
            {% endif %}
          </div>

        {% endfor %}

        {% if caption %}
          <figcaption class="gallery-caption">
            {{ caption|safe }}
          </figcaption>
        {% endif %}
      </figure>
    </div>
  </div>
{% endmacro %}


{#
  Image Blocks
  ------------
#}
{% macro image_block(
  image,
  alt='',
  headline=none,
  url=none,
  content=none,
  class=none,
  do_rst=true
) %}
  {% set content = content if (content != none) else caller() %}

  {% call rst(safe=true) %}
    <div class="image-block extend-left">
      {% set img = '<img src="' + image + '" alt="' + alt + '" class="imageblock-image" />' %}
      {{ utility.link_if(img|safe, url, 'imageblock-link') }}

      <div class="imageblock-content {{ class }}">
        {% if headline %}
          <h2 class="imageblock-title">{{ headline }}</h2>
        {% endif %}
        {{ content|rst if do_rst else content }}
      </div>
    </div>
  {% endcall %}
{% endmacro %}


{% macro media_block(
  media,
  content=none,
  align='center'
) %}
  {% set content = content if (content != none) else caller() %}

  <div data-media-block="{{ align }}">
    <div class="media-image">{{ media|safe }}</div>
    <div class="media-content">{{ content|safe }}</div>
  </div>
{% endmacro %}


{#
  Link Lists
  ----------
#}
{% macro link_list(title, tag=none, slug=none, data=none) %}
  {% set entries = get_blog_entries_by_tag(tag) if tag else [] %}
  {% set page = slug|get_config if slug else none %}
  {% set data = page.config[data] if (page and data) else [] %}

  <section class="link-list content-block">
    <div class="content-block-inner">
      <h2>{{ title|safe }}</h2>

      {% if (entries|length > 0) %}
        <h3>On our blog…</h3>
        <ul>
          {% for entry in entries %}
            <li>
              {{ blog.link(entry) }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if (data|length > 0) %}
        <h3>Elsewhere…</h3>
        <ul>
          {% for item in data %}
            {% set source = (' [' + item.source + ']') if item.source else '' %}
            {% set author = (' by ' + item.author) if item.author else '' %}

            <li>
              {{ utility.link_if(item.title, item.url) }}
              – {{ item.type }} {{ author }} {{ source }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
{% endmacro %}


{#
  Buttons
  -------
#}
{% macro link_button(
  url,
  content=none,
  class=none,
  attrs={}
) %}
  {% set content = content if (content != none) else caller() %}
  {% set class = [class, 'btn']|join(' ') if class else 'btn' %}

  <a href="{{ url }}" class="{{ class }}" {{ utility.show_attrs(attrs) }}>
    {{ content|safe }}
  </a>
{% endmacro %}

{% macro button(
  content=none,
  class=none,
  attrs={}
) %}
  {% set content = content if (content != none) else caller() %}
  {% set class = [class, 'btn']|join(' ') if class else 'btn' %}
  <button class="{{ class }}" {{ utility.show_attrs(attrs) }}>
    {{ content|safe }}
  </button>
{% endmacro %}


{#
  Project Links
  -------------
#}
{% macro project_link(
  page,
  allow_external=false,
  allow_fallback=true
) -%}
  {%- set project = page.config.project[0] if page.config.project else none -%}
  {%- set has_page = true if (project.owner or project.case_study) else false -%}
  {%- set fallback = '/open-source/' if page.config.contributors else '/work/' -%}
  {%- set fallback = fallback if allow_fallback else none -%}
  {%- set external = project.url if (project and allow_external) else none -%}
  {%- set local = page_link(page) if (project and has_page) else none -%}
  {{ local or external or fallback }}
{%- endmacro -%}


{%- macro page_link(page) -%}
  {%- set slug = page.slug|remove_index -%}
  {%- set url = '/' if (slug == 'index') else ['/', slug, '/']|join -%}
  {{ url }}
{%- endmacro -%}


{% macro redirect(page) %}
  {% set page = page|get_config %}
  Redirecting you to <a href="{{ page.config.redirect_url }}">{{ page.config.redirect_url }}</a>.
  If you are not redirected shortly, please click the link above.
{% endmacro %}
