{% import 'birds/utility.macros.j2' as birds %}
{% import 'content.macros.j2' as content %}
{% import 'utility.macros.j2' as utility %}

{% macro letter(
  image,
  alt='',
  author='miriam'
) %}
  {{ content.image_block(
    image=image,
    headline=letter_hello(author),
    content=caller()|rst + letter_sig(author),
    class='home-letter',
    do_rst=false
  ) }}
{% endmacro %}


{% macro letter_sig(
  author='miriam'
) %}
  <div class='letter-sig'>
    {{ utility.icon([author, 'sig']|join('-'), size='sig') }}
    <span class='h-card'>{{ birds.get_bird_name(author) }}</span>
  </div>
{% endmacro %}


{% macro letter_hello(
  author='miriam'
) %}
  <span data-media-block>
    {{ utility.icon(author, size='face-small', class='letter-face') }}
    <span class="letter-hello">
      Hi, I’m
      {{ author|capitalize }} —
    </span>
  </span>
{% endmacro %}
