{% extends "base_site.html" %}
{% load markup %}

{% block maincontent %}
{% filter markdown %}
<h2>About OddBird</h2>
<section id="work">
  <h3>OddProjects</h3>
  <p class="internal">We built [Susy](http://susy.oddbird.net) for web designers like ourselves, and we are core contributors to [Compass](http://compass-style.org), [Django](http://djangoproject.com) and other open-source projects.</p>
  <p class="client">These days we’re building the UI for [Mozilla’s](http://mozilla.org) new [Test Case Management System](http://cc.oddsites.net) and a parcel-mapping tool for [The Providence Plan](http://provplan.org).</p>
</section>
<section id="people">
  <h3>OddBrothers</h3>
  <p id="bird" class="hcard"><span class="fn org">OddBird</span> is three brothers who thrive on freely shared ideas and playful collaboration, crossing disciplines, breaking boundaries and eating our dessert with the soup spoon.</p>
  <p id="carl" class="hcard"><span class="fn">Carl</span> is a [coder](http://github.com/carljm), [Pythonista](http://www.python.org), and [Django](http://www.djangoproject.com) core developer. When he’s not chasing a more elegant algorithm, he chases frisbees, hockey pucks, and a four-year-old son.</p>
  <p id="eric" class="hcard"><span class="fn">Eric</span> is a [multimedia artist](http://eric.andmeyer.com) working with [words](http://greengreenmud.com/), [bodies](http://www.vicioustrap.com/), [music](http://www.ravenjane.com/), images, lights, film, [code](http://www.compass-style.org/), and many many [other artists](http://eric.andmeyer.com/people/). He's probably starting a new project right now.</p>
  <p id="jonny" class="hcard"><span class="fn">Jonny</span> is a [front-end developer](http://github.com/jgerigmeyer), project manager, and inconsistent [college philosophy professor](http://www.goshen.edu/~jonam/). He likes his frisbees thrown long, his students smart-alecky, and his scotch served neat.</p>
</section>
<section id="process">
  <h3>OddProcess</h3>
  <p>We use an [**iterative** process], deploying and integrating new functionality frequently and aiming to deliver usable product launches as early and often as possible.</p>
  <p>We encourage clients to stay closely **connected** with the daily progress, offering frequent feedback and re-prioritization via [Pivotal Tracker](http://pivotaltracker.com), our project management tool.</p>
  <p>In all of our projects we work exclusively with the open web stack: **accessible** semantic HTML5 markup, unobtrusive Javascript, and advanced CSS3 styling. On the server side we are a Python/Django shop, and have extensive Django experience.</p>
</section>
<section id="contact">
  <h3>Contact the OddsBird</h3>
  <p>What's your vision, and how can we help?</p>
  <form id="contact-form">
    <ul>
      <li>
        <label for="contact-body">leave a short message after the tone</label>
        <textarea name="contact-body" placeholder="leave your name, email and a message after the tone..."></textarea>
      </li>
    </ul>
    <div class="form-actions">
      <button type="submit">send it.</button>
    </div>
  </form>
</section>
{% endfilter %}
{% endblock maincontent %}