{% import 'content.macros.j2' as content %}


{% macro home_cta(
  title,
  action,
  url='/contact/'
) %}
  <section class="home-cta">
    <h1 class="home-title">{{ title }}</h1>
    <div class="home-description">
      {{ caller()|rst }}
    </div>
    <div class="home-action">
      {{ content.link_button(
        content=action,
        url=url
        ) }}
    </div>
  </section>
{% endmacro %}
