{% extends "base_site.html" %}
{% load markup %}

{% block maincontent %}
{% filter markdown %}
<h2>About OddBird</h2>
<section id="work">
  <h3>OddProjects</h3>
  <div>
    <p class="internal">We built [Susy](http://susy.oddbird.net) for web designers like ourselves, and we are core contributors to [Compass](http://compass-style.org), [Django](http://djangoproject.com), [pip](http://pip-installer.org), [virtualenv](http://virtualenv.org) and other open-source projects.</p>
    <p class="client">These days we’re building [Case Conductor](http://cc.oddsites.net), [Mozilla’s](http://mozilla.org) new Test Case management system. We just wrapped up a mapping tool for [The Providence Plan](http://provplan.org).</p>
  </div>
</section>
<section id="people">
  <h3>OddBrothers</h3>
  <p id="bird" class="hcard"><span class="fn org">OddBird</span> is three brothers who thrive on freely shared ideas and playful collaboration, crossing disciplines, breaking boundaries and eating our dessert with the soup spoon.</p>
  <p id="carl" class="hcard"><span class="fn">Carl</span> is a [coder](http://github.com/carljm), [Pythonista](http://www.python.org), and [Django](http://www.djangoproject.com) core developer. When he’s not chasing a more elegant algorithm, he chases frisbees, hockey pucks, and a four-year-old son.</p>
  <p id="eric" class="hcard"><span class="fn">Eric</span> is a [multimedia artist](http://eric.andmeyer.com) working with [words](http://greengreenmud.com/), [bodies](http://www.vicioustrap.com/), [music](http://www.ravenjane.com/), images, lights, film, [code](http://www.compass-style.org/), and many many [other artists](http://eric.andmeyer.com/people/). He's probably starting a new project right now.</p>
  <p id="jonny" class="hcard"><span class="fn">Jonny</span> is a [front-end developer](http://github.com/jgerigmeyer), project manager, and inconsistent [college philosophy professor](http://www.goshen.edu/jonam/). He likes his frisbees thrown deep, his students smart-alecky, and his scotch served neat.</p>
</section>
<section id="process">
  <h3>OddProcess</h3>
  <p>We use a **lean** process, deploying and integrating new functionality frequently and aiming to deliver usable product launches as early and often as possible.</p>
  <p>We encourage clients to stay closely **connected** with the daily progress, offering frequent feedback and re-prioritization via [Pivotal Tracker](http://pivotaltracker.com).</p>
  <p>We work with the open web stack: **accessible** semantic HTML5 markup, unobtrusive Javascript, and advanced CSS3 styling. On the server side we are a Python shop, and have extensive Django experience.</p>
</section>
<section id="contact" class="author vcard">
  <h3>Contact the OddsBird</h3>
  <ul>
    <li class="oddbird"><span class="email">birds(put the 'at' sign here)oddbird.net</span></li>
    <li class="carl twitter"><a href="http://www.twitter.com/carljm/">@carljm</a></li>
    <li class="eric twitter"><a href="http://www.twitter.com/eriiicam/">@eriiicam</a></li>
    <li class="jonny twitter"><a href="http://www.twitter.com/jgerigmeyer/">@jgerigmeyer</a></li>
  </ul>
</section>
{% endfilter %}
{% endblock maincontent %}
