{% extends "base.html" %}

{% import 'utility.macros.j2' as utility %}

{% block layout %}
  <header data-region="banner">
    <nav class="nav">
      <div class="brand">
        <a href="/" rel="home">
          {{ utility.icon('logo', alt='OddBird') }}
        </a>
      </div>

      <ul class="main-nav">
        {% for link in config.nav %}
          <li class="nav-item">
            {% if link.url %}
              <a href="{{ link.url }}" class="nav-link nav-link-main" data-active="{{ link.text }}">{{ link.display_text or link.text }}</a>
            {% elif link.subnav %}
              <span class="nav-link nav-link-main" data-active="{{ link.text }}" {{ utility.toggle_button(link.text) }}>{{ link.text }}</span>
              <ul class="is-dropdown" {{ utility.toggle_target(link.text, auto_closing=true) }}>
                {% for sub in link.subnav %}
                  <li>
                    <a href="{{ sub.url }}" class="nav-link nav-link-sub" data-active="{{ sub.text }}">{{ sub.display_text or sub.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="separator"></div>
  </header>

  <main data-region="main" class="{% if config.pageclasses %}{{ config.pageclasses }} {% endif %}{% if config.image %}has-image{% else %}no-image{% endif %}">
    {% block body %}{% endblock body %}
    {% include 'contact/_cta.html.j2' %}
  </main>

  <footer data-region="footer">
    <p class="h-card">
      Copyright &copy; {{ config.copyright }}
      <a href="/" class="p-name u-url">OddBird</a>
      |
      Established in 2008 by three odd siblings.
      <a href="/conduct/">Code of Conduct</a>
    </p>
  </footer>
{% endblock %}
