{% extends "base.html" %}
{% import "utility.macros.html.j2" as utility %}

{% block layout %}
<nav role="navigation">
  <a href="/" class="nav-link" data-active="home">
    {{ utility.icon("home") }}
    Home
  </a>
  <a href="/blog/" class="nav-link" data-active="blog">
    {{ utility.icon("bubbles") }}
    Blog
  </a>
</nav>

<h1 role="banner">
  <a href="/" rel="home">
    {{ utility.icon("oddbird") }}
    {{ utility.is_hidden("OddBird") }}
  </a>
</h1>

<main role="main" {% if config.pageclasses %}class="{{ config.pageclasses }}"{% endif %}>
  {% block body %}{% endblock body %}
</main>

<footer role="contentinfo">
<div class="footer-wrap">

  <p class="copyright h-card">
    Copyright &copy; {{ config.copyright }}
    <a href="http://oddbird.net" class="fn org url">OddBird</a>
  </p>

  <p class="history">Established in 2009 by three odd brothers.</p>

  <p class="colophon">
    Built with
    <a href="http://www.w3.org/TR/html5/">HTML5</a>,
    <a href="https://github.com/mitsuhiko/rstblog/">rstBlog</a>,
    <a href="http://www.python.org">Python</a>,
    <a href="http://www.w3.org/TR/css-2010/">CSS3</a>,
    <a href="http://www.jquery.com/">jQuery</a>,
    <a href="http://gruntjs.com/">Grunt</a>,
    <a href="http://keyamoon.com/icomoon/">IcoMoon</a>,
    <a href="http://susy.oddbird.net/">Susy</a>,
    <a href="http://compass-style.org/">Compass</a>,
    and&nbsp;<a href="http://sass-lang.com/">Sass</a>.
  </p>

</div>
</footer>
{% endblock layout %}
