{% extends "base.html" %}
{% import 'utility.macros.j2' as utility %}


{% block layout %}
  {% include 'layout/_site-message.html.j2' %}

  <header data-region="banner">
    <h1 class="brand">
      <a href="/" rel="home">
        {{ utility.icon('logo', alt='OddBird') }}
      </a>
    </h1>

    <nav class="nav">
      {% for link in config.nav %}
        <a href="{{ link.url }}" class="nav-link">{{ link.text }}</a>
      {% endfor %}
    </nav>
  </header>

  <main data-region="main" {% if config.pageclasses %}class="{{ config.pageclasses }}"{% endif %}>
    {% block body %}{% endblock body %}
    {% include 'contact/_cta.html.j2' %}
  </main>

  <footer data-region="footer">
    <p class="h-card">
      Copyright &copy; {{ config.copyright }}
      <a href="http://oddbird.net" class="p-name u-url">OddBird</a>
      |
      Established in 2008 by three odd siblings.
      <a href="/conduct/">Code of Conduct</a>
    </p>
  </footer>
{% endblock %}
