{% extends "layout.html" %}

{% import "utility.macros.j2" as utility %}
{% import "layout/macros.j2" as page %}
{% import "blog/utility.macros.j2" as blog %}
{% import 'birds/utility.macros.j2' as birds %}

{% block title %}{{ rst.title }}{% endblock %}

{% block og_type %}{{ 'article' if ctx.pub_date else 'website' }}{% endblock %}
{% block og_url %}{{ get_full_canonical_url(ctx.builder, slug=ctx.slug) }}{% endblock %}
{% block og_summary %}{{ ctx.render_summary()|striptags }}{% endblock %}
{% block twitter_type %}{{ 'summary_large_image' if ctx.config.image and ctx.config.image[0].src else 'summary' }}{% endblock %}
{% block extra_og %}
  {% if ctx.pub_date %}
    <meta property="article:published_time" content="{{ ctx.pub_date.isoformat() }}" />
    {% if ctx.author %}
      {{ birds.get_og_author(ctx.author) }}
      {{ birds.get_og_twitter_creator(ctx.author) }}
    {% endif %}
    {% if ctx.tags %}
      {% for tag in ctx.tags %}
        <meta property="article:tag" content="{{ tag }}" />
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block body %}

  {{ page.header(rst, ctx) }}
  {{ blog.intro(ctx) }}

  {%- for module in config.before -%}
    {% include module.include %}
  {%- endfor -%}

  {% if rst.fragment %}
    <div data-module="rst-body" {% if config.grid_template %}class="grid-template"{% endif %}>
      {{ rst.fragment }}
    </div>
  {% endif %}

  {% if ctx.author %}
    <div class="author-summary inverted">
      {{ birds.get_card(ctx.author, details=true) }}
    </div>
  {% endif %}

  {%- for module in config.after -%}
    {% include module.include %}
  {%- endfor -%}

  {% if config.comments %}
    {% include "_comments.html.j2" %}
  {% endif %}
{% endblock %}
