{% extends "layout.html" %}
{% block title %}{{ rst.title }}{% endblock %}
{% block bodyclasses %}blog{% endblock bodyclasses %}

{% block body %}
  <div class="post">
    {%- if not config.hide_title %}
    {{ rst.html_title }}
    {%- endif %}

    {% include "_byline.html" %}

    <div class="body">{{ rst.fragment }}</div>

    {% if 'disqus' in config.active_modules %}
      {{ get_disqus() }}
    {% else %}
      <aside class="comments">
        Have a correction, addition, or feedback on this post?
        Talk to us on
        <a href="https://twitter.com/{% if config.author == 'carl' %}carljm{% elif config.author == 'eric' %}eriiicam{% elif config.author == 'jonny' %}jgerigmeyer{% else %}oddestbirds{% endif %}">Twitter</a> or
        email <span class="email">birds(who are 'at' the)oddbird.net</span>.
        If your comment's helpful, we'll post it here.
      </aside class="comments">
    {% endif %}
  </div>
{% endblock %}
