{% extends "blog/archives.html" %}

{% import "blog/macros.j2" as blog %}

{% block title %}{{ tag.name }} | {{ super() }}{% endblock %}
{% block archivetype %}tag{% endblock archivetype %}

{% block feedlinks %}
{{ super() }}
<link href="feed.atom" rel="alternate" title="OddBird blog '{{ tag.name }}' posts" type="application/atom+xml">
{% endblock feedlinks %}

{% block list_intro %}
  <h1 class="title">Posts tagged “{{ tag.name }}”</h1>
{% endblock list_intro %}

{% block archive %}
  {%- for post in entries %}
    {{ blog.list(post, config) }}
  {%- endfor %}
{% endblock archive %}
