{% extends "blog/archives.html" %}

{% import "blog/macros.j2" as blog %}
{% import "layout/macros.j2" as layout %}

{% block title %}{{ tag.name }} | {{ super() }}{% endblock %}
{% block og_title %}{{ tag.name }}{% endblock %}
{% block og_url %}{{ get_full_canonical_url(builder, slug=['/tags', tag.name]|join('/')) }}{% endblock %}
{% block archivetype %}tag{% endblock archivetype %}

{% block feedlinks %}
{{ super() }}
<link href="feed.atom" rel="alternate" title="OddBird blog '{{ tag.name }}' posts" type="application/atom+xml">
{% endblock feedlinks %}

{% block list_intro %}
  {% set page = 'blog-index'|get_config %}
  {{ layout.header_image(page, default=true) }}
  {{ layout.show_headline(
    main=['Posts Tagged ‘', tag.name, '’']|join,
    sub='More articles on the topic…',
    type=page.config.headline.type if page.config.headline else none) }}
{% endblock list_intro %}

{% block archive %}
  {%- for post in entries %}
    {{ blog.list(post) }}
  {%- endfor %}
{% endblock archive %}
