{% extends "blog/archives.html" %}
{% block title %}Entries tagged “{{ tag.name }}”{% endblock %}
{% block archivetype %}tag{% endblock archivetype %}

{% block feedlinks %}
{{ super() }}
<link href="feed.atom" rel="alternate" title="OddBird blog '{{ tag.name }}' posts" type="application/atom+xml">
{% endblock %}

{% block archive %}
  <h1 class="archivetitle">Entries <a href="{{ link_to('tagcloud') }}">tagged</a> “{{ tag.name }}”</h1>
  <ul class="archivelist">
  {%- for entry in entries %}
    <li class="archiveentry">
      {%- if entry.pub_date %}
        <time datetime="{{ entry.pub_date.isoformat() }}" pubdate="pubdate">
          {{ entry.pub_date.strftime("%m/%d/%y") }}
        </time>
      {% endif %}
      <a href="{{ link_to('page', slug=entry.slug) }}" rel="bookmark">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
{% endblock %}
