{% macro talk_link(text, url) %}
  {% if url %}
  <a href="{{ url }}" class="talk-link">{{ text }}</a>
  {% endif %}
{% endmacro %}

{% macro show(talk, time='past') %}
  {% set main_link=talk.video if talk.video else talk.slides %}

  <article class="talk">
    <h3 class="talk-title">
      {% if main_link %}
        <a href="{{ main_link }}">{{ talk.title|safe }}</a>
      {% else %}
        {{ talk.title|safe }}
      {% endif %}
    </h3>

    {% if talk.slides or talk.video %}
    <div class="talk-links">
      {{ talk_link('slides', talk.slides) }}
      {{ talk_link('video', talk.video) }}
    </div>
    {% endif %}

    <div class="talk-forum">
    {% if talk.forum_url %}
      <a href="{{ talk.forum_url|safe }}">{{ talk.forum|safe }}</a>
    {% else %}
      {{ talk.forum|safe }}
    {% endif %}
    </div>

    <a href="{{ link_to('author', author=talk.author) }}" class="talk-citation">
      {{ talk.author }}
    </a>
  </article>
{% endmacro %}

{% macro list(title, talks, time, count=none) %}
  <section class="talks--{{ time }}">
    <h2 class="talks-header">{{ title }}</h2>

    {% for talk in talks %}
    {% if not count or loop.index <= count %}

    {{ show(talk, time) }}

    {% endif %}
    {% endfor %}
  </section>
{% endmacro %}

