{% macro img() %}
  <img{% for k in kwargs %} {{ k }}="{{ kwargs[k] }}"{% endfor %}>
{% endmacro %}


{% macro attr_if(attr, value=none) %}
  {%- if value == true and value|string == 'true' -%}
    {{ attr }}
  {%- elif value -%}
    {{ attr }}="{{ value }}"
  {%- endif -%}
{% endmacro %}


{% macro show_attrs(attrs) %}
  {%- for name, value in attrs.items() %}{{ attr_if(name, value) }} {% endfor -%}
{% endmacro %}


{% macro link_if(content=none, url=none, class=none, rst=none) %}
  {% set content = content if (content != none) else caller() %}
  {% set content = content|rst if rst else content %}

  {%- if url -%}
    <a href="{{ url }}" {{ attr_if('class', class) }}>{{ content }}</a>
  {%- else -%}
    <span {{ attr_if('class', class) }}>{{ content }}</span>
  {%- endif -%}
{% endmacro %}


{% macro is_hidden(text) %}
  <span class="is-hidden">{{ text }}</span>
{% endmacro %}


{% macro icon(name, alt=none, size=none, class=none, viewbox=none) %}
  {% set boxes = {
    'allbirds': '0 0 2280.12 545.64',
    'carl': '0 0 456.5 456.5',
    'david': '0 0 456.5 456.5',
    'jonny': '0 0 456.5 456.5',
    'kit': '0 0 456.5 456.5',
    'miriam': '0 0 456.5 456.5',
    'sondra': '0 0 456.5 456.5',
    'stacy': '0 0 456.5 456.5',
    'herman': '0 0 1391.9 1022',
    'susy': '0 0 1152 1024',
    'logo': '0 0 181.6 86.7'
  } %}

  {% set viewbox = boxes[name] or viewbox %}

  <svg data-icon="{{ name }}" {{ attr_if('viewBox', viewbox) }} {{ attr_if('data-size', size) }} {{ attr_if('class', class) }}>
    {%- if alt -%}
      <title>{{ alt }}</title>
    {%- endif -%}
    <use xlink:href="#icon-{{ name }}" />
  </svg>
{% endmacro %}


{# Toggle collapsible elements (see `static/js/app/base.js`) #}
{% macro toggle_button(id, expanded=false, button=false, synced=false) -%}
  data-toggle="button" aria-controls="{{ id }}" aria-pressed="{{ 'true' if expanded else 'false' }}"{% if not button %} role="button"{% endif %} data-toggle-synced="{{ 'true' if synced else 'false' }}"
{%- endmacro %}

{% macro toggle_target(id, expanded=false, auto_closing=false, auto_closing_on_any_click=false, auto_closing_exception=none) -%}
  data-toggle="target" id="{{ id }}" data-target-id="{{ id }}" aria-expanded="{{ 'true' if expanded else 'false' }}" data-auto-closing="{{ 'true' if (auto_closing or auto_closing_on_any_click) else 'false' }}" data-auto-closing-on-any-click="{{ 'true' if auto_closing_on_any_click else 'false' }}"{% if auto_closing_exception %} data-auto-closing-exception="{{ auto_closing_exception }}"{% endif %}
{%- endmacro %}

{% macro toggle_close(id) -%}
  data-toggle="close" aria-controls="{{ id }}"
{%- endmacro %}


{% macro datetime(date) %}
  {% if date %}
    <time datetime="{{ date.isoformat() }}">
      {{ date.strftime("%B %d, %Y") }}
    </time>
  {% endif %}
{% endmacro %}
