{% macro attr_if(attr, value=none) %}
  {%- if value == true -%}
    {{ attr }}
  {%- elif value -%}
    {{ attr }}="{{ value }}"
  {%- endif -%}
{% endmacro %}


{% macro link_if(content, url=none, class=none) %}
  {%- if url -%}
    <a href="{{ url }}" {{ attr_if('class', class) }}>{{ content }}</a>
  {%- else -%}
    <span {{ attr_if('class', class) }}>{{ content }}</span>
  {%- endif -%}
{% endmacro %}


{% macro is_hidden(text) %}
  <span class="is-hidden">{{ text }}</span>
{% endmacro %}


{% macro icon(name, alt=none, size=none, class=none) %}
  <svg data-icon="{{ name }}" {{ attr_if('data-size', size) }} {{ attr_if('class', class) }}>
    {%- if alt -%}
      <title>{{ alt }}</title>
    {%- endif -%}
    <use xlink:href="#icon-{{ name }}" />
  </svg>
 {% endmacro %}


{% macro datetime(date) %}
  {% if date %}
    <time datetime="{{ date.isoformat() }}">
      {{ date.strftime("%B %d, %Y") }}
    </time>
  {% endif %}
{% endmacro %}
