// Layout --------------------------------------------------------------------

=container($n:false)
  +pie-clearfix
  margin: auto
  width: columns-width($n)
  max-width: 100%

=section($bg)
  position: relative
  &::before, &::after
    +stretch-y
    content: " "
    left: - 100%
    right: - 100%
    padding:
      left: 100%
      right: 100%
    background: $bg
    z-index: -1
  &::before
    +rotate(2deg)
  &::after
    +rotate(-2deg)
