// Root Initialization
// ===================

[id='oddsite'] {
  @include contrasted('background');
  background-attachment: scroll;
  background-image: url('../images/footer-wash.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: size('background') auto;
}

// this could be a candidate for accoutrement-init…
object {
  vertical-align: middle;
}
