// Site Message
// ============

[data-region='site-message'] {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem;
  max-width: 100%;
  padding: 0;

  @media screen and (min-width: 40em) {
    flex-direction: row;
  }
}

.message-body-wrapper {
  @include contrasted('invert');

  @media screen and (min-width: 30em) {
    margin-left: -10vmin;
    padding-right: 6vmin;
    transform: skew(-30deg);
  }
}

.message-body {
  margin: 0;
  padding: 2vmin;

  @media screen and (min-width: 30em) {
    flex: 1 1 auto;
    padding: 3vmin 3vmin 3vmin 20vmin;
    transform: skew(30deg);
  }

  &:after {
    
    height: 0;
    border-style: solid;
    border-width: 100% 230px 0 0;
    border-color: #4d749e transparent transparent transparent;
    width: 0;
    height: 20px;
    width: 100%;
  }
}

.message-action {
  padding: 2vmin;
  text-align: center;

  @media screen and (min-width: 30em) {
    flex: 1 0 auto;
    padding: 0 10vmin 0 6vmin;
  }
}
