// Site Message
// ============

[data-region='site-message'] {
  align-items: center;
  display: flex;
  margin: 0 0 2rem;
  max-width: 100%;
  padding: 0;
}

.message-body {
  @include contrasted('invert');
  flex: 1 1 auto;
  margin: 0;
  order: 1;
  padding: 3vmin;
}

.message-action {
  flex: 1 0 auto;
  order: 2;
  padding: 0 3vmin;
  text-align: center;
}
