// Initial Typography
// ------------------


// Web Fonts
// ---------

@include import-webfonts;



// Base
// ----

:root {
  @include font-family('body');
  font-size: calc(100% + 0.3vw);
  line-height: 1.35;
}



// Defaults
// --------

.is-hidden {
  @include is-hidden;
}

h1,
h2,
h3,
h4,
h5 {
  @include font-family('title');
}

h1,
h2 {
  margin: 1.5rem 0 0.75rem;
}

h1 {
  font-size: calc(1rem + 2vw);
}

h2 {
  font-size: calc(1rem + 1vw);
}

h3 {
  font-size: calc(1rem + 0.5vw);
  margin-top: 1.5rem;
}

a {
  &:link,
  &:visited {
    color: color('action');
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

p,
ul,
ol,
li,
blockquote {
  margin: 0.75rem 0;
}

ul,
ol,
blockquote {
  padding: 0 0.75rem;
}

img {
  max-width: 100%;
}
