// Banner
// ======

$angle: (
  size: rhythm(3.5),
  color: color(darker $alt),
);

@mixin angle(
  $v: top,
  $h: left
) {
  @include background(
    linear-gradient(to $v $h,
      $bg 50%,
      color($bg, 0) 50%
    ) no-repeat scroll,
    linear-gradient(to $v $h,
      color(darker, .5),
      color(darker, 0) 62%
    ) map-get($angle, color)
  );
  @include background-size(100% map-get($angle, size), auto);
  background-position: opposite-position($v) opposite-position($h);
}

[role="banner"] {
  @include angle(top, left);
  @include rhythm-padding(.5);
  text-align: center;

  [rel="home"] {
    #{$link} {
      @include font-size(xxxlarge);
      @include transition(all 150ms ease-in-out);
      @include transform-origin(top, center);
      color: $bg;
      display: inline-block;
    }

    #{$focus} { @include scale3d(1.25, 1.25, 1.25); }
  }

  [data-icon="oddbird"] {
    vertical-align: top;
  }
}
