// Banner
// ======

[role="banner"] {
  @include background(
    linear-gradient(to top left,
      $bg 50%,
      color($bg, 0) 50%
    ) no-repeat scroll,
    linear-gradient(to top left,
      color(darker, .5),
      color(darker, 0) 62%
    ) color(darker $alt)
  );
  @include background-size(100% 60%, auto);
  @include rhythm-padding(.5);
  background-position: bottom right;
  text-align: center;

  [rel="home"] {
    #{$link} {
      @include font-size(xxxlarge);
      @include transition(all 150ms ease-in-out);
      @include transform-origin(top, center);
      color: $bg;
      display: inline-block;
    }

    #{$focus} { @include scale3d(1.25, 1.25, 1.25); }
  }

  [data-icon="oddbird"] {
    vertical-align: top;
  }
}
