// Birds
// =====

.birds {
  .h-card {
    @include trailer;
    @include gutters;
  }

  .bio {
    @include trailer(.25);
  }
}

.bio-links {
  @extend %serif;
  @include font-size(xsmall);
  font-style: italic;
}

.bio-link {
  @include gutters(before);
  display: inline-block;

  &:first-child { margin-left: 0; }
}
