// Birds
// =====

.birds {
  .h-card {
    @include trailer;
    @include gutters;
  }

  .fn, .bio { display: inline; }

  [rel="me"] {
    @include wrap-content('[' ']') {
      color: $base;
    }
  }

  .company {
    @extend %h2;
    @include h-borders(2px, 1);
    border-color: color(darker $alt, .25);
    border-style: dashed;
  }
}
