// ----------------------------------------------------------------------------
// Posts

.post {
  @include trailer(2);
  @include clearfix;
}

.byline {
  @include adjust-font-size-to($smallpx);
  color: $mid;
  font-style: italic;
  time, a {
    @include serifcaps;
    font-style: normal;
  }
}

.readmore {
  font-style: italic;
  &:after { content: "»"; }
}

@include breakpoint($break) {
  .title, .body {
    @include span-columns(9 omega);
    @include suffix(1);
  }
  .byline {
    @include span-columns(3);
    clear: right;
    text-align: right;
    .vcard, .tags { display: block; }
  }
}

// ----------------------------------------------------------------------------
// Pagination

.pagination {
  font-style: italic;
  text-align: center;
  &:first-child { @include leader(-1.5); }
  .location {
    @include wrap(" • ");
    margin: 0 1em;
  }
  .now, .context {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
  }
  .now { @include adjust-font-size-to($xxxlargepx + $largepx); }
  .context {
    @include adjust-font-size-to($xxxlargepx);
    padding: 0 .125em;
  }
  .prev { @include before("« "); }
  .next { @include after(" »"); }
  .disabled { color: $light; }
}

// ----------------------------------------------------------------------------
// Lists

%archive-icon {
  @extend %padded-icon;
  &:before { font-size: .75em; }
}

.archivetitle {
  @extend %archive-icon;
  @include trailer(1);

  .taglist &, .tag & { @extend %icon-tag; }
  .year &, .month &, .main & { @extend %icon-chat; }

  @include breakpoint($break) { @include pad(3,1); }
}

%archiveinfo {
  @include adjust-font-size-to($smallpx);
  float: left;
  margin-right: .4em;
  color: $mid;
  @include breakpoint($break) {
    @include span-columns(3);
    text-align: right;
  }
}

%archiveitem {
  @include breakpoint($break) {
    @include span-columns(9 omega);
    @include suffix(1);
  }
}

.archiveentry {
  @include pie-clearfix;
  .archivecount, [pubdate] { @extend %archiveinfo; }
  [rel="bookmark"], [rel="tag"] {
    @extend %archiveitem;
    @extend %archive-icon;
  }
  [rel="bookmark"] { @extend %icon-bookmark; }
  [rel="tag"] { @extend %icon-tag; }
}

.archivesection {
  @include adjust-font-size-to($smallpx);
  @include breakpoint($break) {
    @include span-columns(3);
    text-align: right;
  }
}
.sectionlist {
  @extend %archiveitem;
  .entrycount {
    @include adjust-font-size-to($smallpx);
    @include wrap("[" "]");
    margin-right: .5em;
  }
}
