// ----------------------------------------------------------------------------
// Posts

.post {
  @include leader(1);
  @include trailer(2);
}

.byline {
  color: $mid;
  font-style: italic;
  time {
    @include serifcaps;
    font-style: normal;
  }
}

.readmore {
  font-style: italic;
  &:after { content: "»"; }
}

@include at-breakpoint($break) {
  .post { @include pie-clearfix; }
  .byline {
    @include span-columns(3 omega);
    time { display: block; }
  }
  .body { @include span-columns(8); }
}

// ----------------------------------------------------------------------------
// Lists

.listtitle {
  @extend %padded-icon;
  @include trailer(1,$h1size);
  &:before { @include adjust-font-size-to($largepx,1,$h1size)}
  &.tags { @extend %icon-tag; }
  &.year, &.month, &.archive { @extend %icon-chat; }
}

.blog-archive {
  ul {
    list-style: disc;
    padding-left: 1em;
  }
}

.tagcloud { @include delimited-list; }
