// Navigation
// ==========

$locations: home, blog;

[role="navigation"] {
  @extend %serif;
  @include font-size(xsmall);
  @include gutters;
  background: color(darkest $alt);
  text-align: center;

  @include breakpoint(40em) {
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.nav-link {
  #{$link} {
    @include gutters;
    color: $bg;
    display: inline-block;
    font-style: italic;
    text-transform: lowercase;
  }

  #{$focus} {
    border-top: 2px solid color($bg, .5);
    text-decoration: none;
  }
}

@each $loc in $locations {
  [data-location="#{$loc}"] [data-active="#{$loc}"] {
    border-top: 2px solid $accent;
  }
}
