// Typography
// ==========

.typography {
  @include font-specimen;
  @include font-sizes;

  .font-variant {
    border: 1px solid color(border);
    margin-bottom: size(larger);
  }

  .specimen {
    padding: size(smaller);
    overflow: hidden;
  }

  .font-name {
    @extend %mono;
    @include font-size(small);
    background: color(callout);
    border-bottom: 1px solid color(border);
    margin: 0;
    padding: size(smaller);
  }

  .size {
    white-space: nowrap;
  }

  .normal {
    @include before('•') { color: color(accent); }
  }
}
