// Typography Config
// =================

@function get-font-styles(
  $item
) {
  $_return: ();

  $_styles: map-get($_font-setting-options, styles);
  $_weights: map-get($_font-setting-options, weights);

  @each $_style in $item {
    @if index($_styles, $_style) {
      $_return: map-merge($_return, (font-style: $_style));
    } @else if index($_weights, $_style) {
      $_return: map-merge($_return, (font-weight: $_style));
    }
  }

  @return $_return;
}

@mixin font-specimen(
  $fonts: $fonts
) {
  @each $font, $info in $fonts {
    $_styles: map-get($info, styles);

    @each $_style in $_styles {
      [data-name='#{$font $_style}'] {
        @extend %#{$font};
        @include render(get-font-styles($_style));
      }
    }
  }
}

@mixin font-sizes(
  $sizes: $sizes
) {
  @each $size, $math in $sizes {
    .#{$size} { @include font-size($size); }
  }
}
