// Section Tests
// =============


// section-arrow
// -------------
@include test-module('section-arrow [mixin]') {
  @include test('Creates top border with centered arrow') {
    @include assert {
      @include output {
        @include section-arrow(#e07, #fff);
      }

      @include expect {
        // sass-lint:disable-all
        border-bottom: 0.44444rem solid #e07;
        display: block;
        position: relative;
        width: 100%;

        &:before,
        &:after {
          content: " ";
          border: 1.38889rem solid transparent;
          border-bottom-width: 0;
          border-top-color: #e07;
          left: 50%;
          position: absolute;
          top: 100%;
        }

        &:before {
          content: " ";
          margin-top: 0.44444rem;
          transform: translateX(-50%) translateY(-2px);
        }

        &:after {
          content: " ";
          border-top-color: #fff;
          transform: translateX(-50%) translateY(-4px);
        }
        // sass-lint:enable-all
      }
    }
  }
}
