// Section Tests
// =============


// section-arrow
// -------------
@include describe('section-arrow [mixin]') {
  @include it('Creates top border with centered arrow') {
    @include assert {
      @include output {
        @include section-arrow(#e07, #fff);
      }

      @include expect {
        @include extend('extend-full');
        border-bottom: size('border') solid #e07;
        display: block;
        position: relative;

        &::before,
        &::after {
          content: " ";
          border: size('gutter') solid transparent;
          border-bottom-width: 0;
          border-top-color: #e07;
          left: 50%;
          position: absolute;
          top: 100%;
        }

        &::before {
          content: " ";
          margin-top:size('border');
          transform: translateX(-50%) translateY(-2px);
        }

        &::after {
          content: " ";
          border-top-color: #fff;
          transform: translateX(-50%) translateY(-4px);
        }
      }
    }
  }
}
