// Utility Tests
// =============


// text-outline
// ------------
@include test-module('text-outline [mixin]') {
  @include test('Creates outline using multiple shadows') {
    @include assert {
      @include output {
        @include text-outline(#fff);
      }

      @include expect {
        // sass-lint:disable-all
        text-shadow: 0.1em -1px 0 #fff, 0.1em 0px 0 #fff, 0.1em 1px 0 #fff, 0.05em -1px 0 #fff, 0.05em 0px 0 #fff, 0.05em 1px 0 #fff, 0em -1px 0 #fff, 0em 1px 0 #fff, -0.05em -1px 0 #fff, -0.05em 0px 0 #fff, -0.05em 1px 0 #fff, -0.1em -1px 0 #fff, -0.1em 0px 0 #fff, -0.1em 1px 0 #fff;
        // sass-lint:enable-all
      }
    }
  }
}


// text-underline
// --------------
@include test-module('text-underline [mixin]') {
  @include test('Creates a positioned underline, clipped by text-outline') {
    @include assert {
      @include output {
        @include text-underline(#e07, #fff);
      }

      @include expect {
        // sass-lint:disable-all
        text-shadow: 0.1em -1px 0 #fff, 0.1em 0px 0 #fff, 0.1em 1px 0 #fff, 0.05em -1px 0 #fff, 0.05em 0px 0 #fff, 0.05em 1px 0 #fff, 0em -1px 0 #fff, 0em 1px 0 #fff, -0.05em -1px 0 #fff, -0.05em 0px 0 #fff, -0.05em 1px 0 #fff, -0.1em -1px 0 #fff, -0.1em 0px 0 #fff, -0.1em 1px 0 #fff;
        background-image: linear-gradient(#e07, #e07);
        background-position: 0 calc(1.05em + 1.5px);
        background-repeat: repeat-x;
        background-size: calc(1px + 0.04em) calc(1px + 0.04em);
        // sass-lint:enable-all
      }
    }
  }
}
