{% import 'utility.macros.j2' as utility %}


{% if config.site_message %}
  {% set site_message = config.site_message[0] %}
  {% if site_message.body %}
    <aside data-region="site-message">
      <div class="message-body-wrapper">
        <p class="message-body">
          {{ site_message.body|safe }}
        </p>
      </div>
      <div class="message-action">
        {{ utility.link_if(site_message.action, site_message.url, class="btn") }}
      </div>
    </aside>
  {% endif %}
{% endif %}
