{% import 'utility.macros.j2' as utility %}


{% set site_message = config.site_message[0] %}
{% if config.show_site_message %}
  <aside data-region="site-message">
    <p class="message-body">
      {{ site_message[config.show_site_message]|safe }}
    </p>
    <div class="message-action">
      {{ utility.link_if(site_message.action, site_message.url, class="btn") }}
    </div>
  </aside>
{% endif %}
