{% import 'utility.macros.j2' as utility %}
{% import 'content.macros.j2' as content %}
{% import 'birds/utility.macros.j2' as birds_util %}


{% macro main_nav(yaml) %}
  <ul class="main-nav">
    {% for link in yaml %}
      <li class="nav-item">
        {% if link.url %}
          {% set icon = 'external' if ('://' in link.url) else none %}

          <a href="{{ link.url }}" class="nav-link nav-link-main" data-active="{{ link.text }}">
            {{ link.display_text or link.text }}
            {% if icon %}{{ utility.icon(icon, size='text-small') }}{% endif %}
          </a>
        {% elif link.subnav %}
          <span class="nav-link nav-link-main" data-active="{{ link.text }}" {{ utility.toggle_button(link.text) }}>{{ link.display_text or link.text }}</span>
          <ul class="is-dropdown" {{ utility.toggle_target(link.text, auto_closing=true) }}>
            {% for sub in link.subnav %}
              {% set icon = 'external' if ('://' in sub.url) else none %}

              <li>
                <a href="{{ sub.url }}" class="nav-link nav-link-sub" data-active="{{ sub.text }}">
                  {{ sub.display_text or sub.text }}
                  {% if icon %}{{ utility.icon(icon, size='text-small') }}{% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}


{% macro tags(taglist) %}
  {% if taglist %}
    <nav class="tags">
      {{ utility.icon('tags', class='icon-tag') }}
      {% for tag in taglist|sort(case_sensitive=true) %}
        <a href="{{ link_to('tag', tag=tag) }}" class="tag" rel="tag">{{ tag }}</a>
      {%- endfor %}
    </nav>
  {% endif %}
{% endmacro %}


{% macro header_image(post, class='') %}
  {% set images = post.config.image or none %}

  {% if images %}
    {% set hero = images|selectattr('type', 'equalto', 'hero')|list or none %}
    {% set image = hero[0].src if hero else images[0].src %}
    {% set image = image if '://' in image else ['/static/images/', image]|join %}

    <figure class="{{ ['hero', class]|join(' ') if class else 'hero' }}">
      <img src="{{ image }}" class="hero-image">
    </figure>
  {% endif %}
{% endmacro %}


{% macro show_headline(main, sub=none, type=none) %}
  <header class="title">
    {% if type %}
      <div class="title-post-type">{{ type|rst }}</div>
    {% endif %}

    <h1 class="title-main">{{ main|typogrify }}</h1>

    {% if sub %}
      <div class="title-sub">{{ sub|rst }}</div>
    {% endif %}
  </header>
{% endmacro %}


{% macro rst_meta(ctx, project=none) %}
  {% set has_actions = ctx.config.actions or project.url or project.source %}

  {% if ctx.pub_date or ctx.tags or has_actions %}
    <div class="rst-meta">
      <div class="rst-data">
        {% if ctx.pub_date %}
          <p class="byline">
            {% if ctx.author %}
              <span class="meta-preposition">by</span>
              {{ birds_util.name_link(ctx.author, blog=true) }}
            {% endif %}
            <span class="meta-preposition">on</span>
            {{ utility.datetime(ctx.pub_date) }}
          </p>
        {% endif %}

        {{ tags(ctx.tags) }}
      </div>

      {% if ctx.config.actions %}
        {{ header_actions(ctx.config.actions) }}
      {% elif project %}
        {% set actions = [
          {'text': 'View app', 'url': project.url},
          {'text': 'View source', 'url': project.source}
        ] %}

        {{ header_actions(actions) }}
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}


{% macro header_actions(links) %}
  {% set links = links|selectattr('url')|list %}

  {% if links|length > 0 %}
    <div class="header-actions">
      {% for link in links %}
        {% call content.link_button(link.url) %}
          {{ link.text }}
        {% endcall %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}


{%- macro speaker_list(speakers) -%}
  {{- 'by ' -}}
  {%- for speaker in speakers -%}
    {{- '& '|safe if loop.last and not loop.first -}}
    {{- speaker|capitalize -}}
    {{- ', ' if not loop.last -}}
  {%- endfor -%}
{%- endmacro -%}


{% macro header(rst, ctx, show_summary=true) %}
  {% set headline = ctx.config.headline[0] if ctx.config.headline else none %}
  {% set project = ctx.config.project[0] if ctx.config.project else none %}
  {% set client = ctx.config.client[0] if ctx.config.client else none %}
  {% set contributors = ctx.config.contributors if ctx.config.contributors else none %}

  {% set main = headline.title if (headline and headline.title) else none %}
  {% set main = project.name if (project and project.name and not main) else main %}
  {% set main = main or rst.title %}

  {% set page_sub = headline.tagline if (headline and headline.tagline) else none %}
  {% set proj_sub = project.tagline if (project and project.tagline) else none %}
  {% set by_sub = speaker_list(ctx.config.speakers) if ctx.config.speakers else none %}
  {% set sub = page_sub or proj_sub or by_sub %}

  {% set type = headline.type if (headline and headline.type) else none %}
  {% set type = 'Case Study' if (project and client and not type) else type %}
  {% set type = 'Open Source Software' if (project and contributors and not type) else type %}
  {% set type = 'Meet The Birds…' if (ctx.config.bird and not type) else type %}
  {% set type = 'Talk Details' if (ctx.config.speakers and not type) else type %}

  {{ header_image(ctx) }}
  {{ show_headline(main, sub, type) }}
  {{ rst_meta(ctx, project) }}

  {% if ctx.config.summary and show_summary %}
    <div class="rst-summary">
      {% if ctx.config.bird %}
        {{ birds_util.card(
          ctx,
          details='birdpage'
          ) }}
      {% endif %}

      {% for bird in ctx.config.speakers %}
        {% set birdpage = all_pages|filter_pages('bird', 'eq', bird)|get_page %}
        {{ birds_util.card(
          birdpage,
          details=true
          ) }}
      {% endfor %}

      {{ ctx.render_summary()|typogrify }}
    </div>
  {% endif %}
{% endmacro %}
