{% import 'utility.macros.j2' as utility %}
{% import 'content.macros.j2' as content %}
{% import 'birds/utility.macros.j2' as birds_util %}


{% macro main_nav(yaml) %}
  <ul class="main-nav">
    {% for link in yaml %}
      <li class="nav-item{{ ' has-dropdown' if link.subnav }}">
        {% if link.url %}
          {% set icon = 'external' if ('://' in link.url) else none %}

          <a href="{{ link.url }}" class="nav-link nav-link-main" data-active="{{ link.text }}">
            {{ link.display_text|typogrify or link.text|typogrify }}
            {% if icon %}{{ utility.icon(icon, size='text-small') }}{% endif %}
          </a>
        {% elif link.subnav %}
          <span class="nav-link nav-link-main" data-active="{{ link.text }}" {{ utility.toggle_button(link.text) }}>{{ link.display_text or link.text }}</span>
          <ul class="is-dropdown" {{ utility.toggle_target(link.text, auto_closing=true) }}>
            {% for sub in link.subnav %}
              {% set icon = 'external' if ('://' in sub.url) else none %}

              <li>
                <a href="{{ sub.url }}" class="nav-link dropdown-item" data-active="{{ sub.text }}" tabindex="0">
                  {{ sub.display_text|typogrify or sub.text|typogrify }}
                  {% if icon %}{{ utility.icon(icon, size='text-small') }}{% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}


{% macro tags(taglist) %}
  {% if taglist %}
    <nav class="tags">
      {{ utility.icon('tags', class='icon-tag') }}
      {% for tag in taglist|sort(case_sensitive=true) %}
        <a href="{{ link_to('tag', tag=tag) }}" class="tag" rel="tag">{{ tag }}</a>
      {%- endfor %}
    </nav>
  {% endif %}
{% endmacro %}


{% macro header_image(
  post,
  default=false,
  class=''
) %}
  {% set image = get_image(post.config.image, 'hero', 'hero-image') %}

  {% if image %}
    <div class="{{ ['hero', class]|join(' ') if class else 'hero' }}">
      {{ image }}
    </div>
  {% elif default %}
    <div class="{{ ['no-hero', class]|join(' ') if class else 'no-hero' }}">
      <a href="/" rel="home">
        {{ utility.icon('logo', alt='OddBird') }}
      </a>
    </div>
  {% endif %}
{% endmacro %}


{% macro get_image(images, type=none, class=none) %}
  {%- if images -%}
    {%- set type = images|selectattr('type', 'equalto', type)|list or none -%}
    {%- set image = type[0] if type else images[0] -%}
    {%- set src = image.src -%}
    {%- set alt = image.alt or '' -%}
    {%- set src = src if '://' in src else ['/static/images/', src]|join -%}
    <img src="{{ src }}" alt="{{ alt }}" {{ utility.attr_if('class', class) }}>
  {%- endif -%}
{% endmacro %}


{% macro show_headline(
  main,
  sub=none,
  type=none,
  is_dynamic=false
) %}
  <header class="title {{ 'dynamic-title' if is_dynamic else 'static-title' }}">
    {% if type %}
      <div class="title-post-type">
        {{ type|rst }}
      </div>
    {% endif %}

    <h1 class="title-main">
      {{ main|typogrify }}
    </h1>

    {% if sub %}
      <div class="title-sub">
        {{ sub if is_dynamic else sub|rst }}
      </div>
    {% endif %}
  </header>
{% endmacro %}

{% macro dynamic_headline(title, type) %}
  {% set main = title.template % title_dropdown(title.options) %}
  {% set sub = dynamic_taglines(title.options) %}
  {{ show_headline(
    main=main,
    sub=sub,
    type=type,
    is_dynamic=true
  ) }}
{% endmacro %}

{% macro dynamic_taglines(options) %}
  {% for option in options %}
    <div class="tagline-option{{ ' is-active' if option.default }}"
      aria-labelledby="select-{{ option.name }}"
      id="{{ option.name }}">
      {{ option.tagline|rst }}
    </div>
  {% endfor %}
{% endmacro %}

{% macro title_dropdown(options) %}
  <span class="title-select has-dropdown">
    <button class="title-current"
      {{ utility.toggle_button(
        id='title-dropdown',
        button=true
      ) }}>
      {%- set current = options|selectattr('default')|list|first -%}
      {{- current.name -}}
    </button>
    <ul class="title-dropdown is-dropdown"
      {{ utility.toggle_target(
        id='title-dropdown',
        auto_closing=true
      ) }}>
      {% for option in options %}
        <li>
          <input type="radio"
            name="title-option"
            value="{{ option.name }}"
            aria-controls="{{ option.name }}"
            id="select-{{ option.name }}"
            {{ utility.attr_if('checked', option.default) }} />
          <label for="select-{{ option.name }}" class="dropdown-item">
            {{ option.name }}
          </label>
        </li>
      {% endfor %}
    </ul>
  </span>
{% endmacro %}

{% macro rst_meta(
  ctx
) %}
  {% if ctx.pub_date or ctx.tags %}
    <div class="rst-meta">
      {% if ctx.pub_date %}
        <p class="byline">
          {% if ctx.author %}
            <span class="meta-preposition">by</span>
            {{ birds_util.name_link(ctx.author) }}
          {% endif %}
          <span class="meta-preposition">on</span>
          {{ utility.datetime(ctx.pub_date) }}
        </p>
      {% endif %}

      {{ tags(ctx.tags) }}
    </div>
  {% endif %}
{% endmacro %}


{% macro header_actions(
  actions=none,
  project=none,
  slides=none,
  elsewhere=none
) %}
  {% set project_actions = project.url or project.source or project.docs %}
  {% if actions or project_actions or slides or elsewhere %}
    <div class="header-actions">
      {{ header_action_links(actions) }}
      {{ header_action_links(elsewhere) }}

      {% if project %}
        {% set project = [
          {'text': 'Go to app', 'url': project.url},
          {'text': 'View source', 'url': project.source},
          {'text': 'Read the docs', 'url': project.docs},
        ] %}

        {{ header_action_links(project) }}
      {% elif slides %}
        {% set slides = [
          {'text': 'View slides', 'url': slides}
        ] %}

        {{ header_action_links(slides) }}
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}


{% macro header_action_links(links) %}
  {% set links = links|selectattr('url')|list %}

  {% if links|length > 0 %}
    {% for link in links %}
      {% call content.link_button(link.url) %}
        {{ link.text }}
      {% endcall %}
    {% endfor %}
  {% endif %}
{% endmacro %}


{%- macro speaker_list(speakers) -%}
  {{- 'by ' -}}
  {%- for speaker in speakers -%}
    {{- 'and ' if loop.last and not loop.first -}}
    {{- birds_util.get_bird_name(speaker) -}}
    {{- ', ' if (speakers|length > 2) and (not loop.last) else ' ' -}}
  {%- endfor -%}
{%- endmacro -%}


{% macro header(rst, ctx, show_summary=true) %}
  {% set headline = ctx.config.headline[0] if ctx.config.headline else none %}
  {% set project = ctx.config.project[0] if ctx.config.project else none %}
  {% set client = ctx.config.client[0] if ctx.config.client else none %}
  {% set contributors = ctx.config.contributors if ctx.config.contributors else none %}
  {% set slides = ctx.config.slides or none %}
  {% set actions = ctx.config.actions or none %}
  {% set elsewhere = [
      {
        'text': ['Read more on', ctx.config.elsewhere]|join(' '),
        'url': ctx.config.canonical
      }
    ] if ctx.config.elsewhere else none
  %}

  {% set main = headline.title if (headline and headline.title) else none %}
  {% set main = project.name if (project and project.name and not main) else main %}
  {% set main = main or rst.title %}

  {% set page_sub = headline.tagline if (headline and headline.tagline) else none %}
  {% set proj_sub = project.tagline if (project and project.tagline) else none %}
  {% set by_sub = speaker_list(ctx.config.speakers) if ctx.config.speakers else none %}
  {% set sub = page_sub or proj_sub or by_sub %}

  {% set is_event = ctx.config.event_type and (ctx.config.events|length == 1) %}
  {% set event = ctx.config.events[0] if is_event else none %}

  {% set type = none %}
  {% set type = 'Case Study' if (project and client) else type %}
  {% set type = 'Open Source Software' if (project and contributors and not type) else type %}
  {% set type = 'Meet the Birds…' if (ctx.config.bird and not type) else type %}
  {% set type -%}
    {%- if (ctx.config.event_type and not type) -%}
      {%- set event_type = ctx.config.event_type|capitalize -%}
      {{- [event_type, event.venue]|join(': ') if event else [event_type, 'Details']|join(' ') -}}
    {%- elif type -%}
      {{ type }}
    {%- endif -%}
  {%- endset %}
  {% set type = headline.type if (headline and headline.type) else type %}

  {{ header_image(ctx, default=true) }}

  {% if ctx.config.dynamic_title %}
    {{ dynamic_headline(ctx.config.dynamic_title[0], type) }}
  {% elif not ctx.config.hide_title %}
    {{ show_headline(main, sub, type) }}
  {% endif %}

  {{ rst_meta(ctx) }}

  {% set has_summary = ctx.config.summary %}
  {% set has_actions = actions or elsewhere or project or slides %}

  {% if show_summary and (has_summary or has_actions) %}
    <div class="rst-summary">
      {% if ctx.config.bird %}
        {{ birds_util.card(
          ctx,
          details='birdpage'
        ) }}
      {% endif %}

      {% for bird in ctx.config.speakers %}
        {% set birdpage = all_pages|filter_pages('bird', 'eq', bird)|get_page %}
        {{ birds_util.card(
          birdpage,
          details=true
        ) }}
      {% endfor %}

      {{ ctx.render_summary()|typogrify }}

      {% if (event and event.audio) %}
        {{ content.audio(
          src=event.audio,
          link=event.url,
          caption='Listen to the audio:'
        ) }}
      {% endif %}

      {{ header_actions(actions, project, slides, elsewhere) }}
    </div>
  {% endif %}
{% endmacro %}
